/********** comon css start here *************/
.header .topbar {align-items: center;}
.header .topbar .chat-notification-icon i {color: #fff;}
.header .topbar .chat-notification-icon #totalMessagecount {color: #fff;font-size: 18px;}
.label.label-light-success, .label.label-light-primary {color: #ffa800 !important;background-color: #ffde9e;}
.navi a.btn {background-color: #afc578;color: #fff;}
.navi a.btn.btn-light-primary:hover {background-color: #e54176 !important;}
.navi .navi-item:hover .navi-text {color: #e54176 !important;}
.schedule-modal select.monthly-div {width: 80%;}
.modal-dialog.invoice-popup {max-width: 80%;}
.rec-radio.rec-radio-main {justify-content: space-between;}
.add-scout-cls .form-group {position: relative;}
.add-scout-cls .form-group label.error {position: absolute;left: 0;bottom: -28px;font-size: 12px !important;color: #f00;}
.user-listing-main {background-color: #f3f6f9;border-radius: 5px;padding: 8px;}
.add-scout-cls input[type="text"]:focus, .add-scout-cls textarea:focus {outline: 1px solid #afc578 !important;border: none;border-radius: 5px;}
.add-scout-cls label {width: 100%;}
.add-scout-cls input[type="text"] {width: 100%;border: 1px solid #ccc;height: 35px;padding: 0 10px;}
.add-scout-cls .modal-dialog {max-width: 700px;}
.login.login-1 .login-aside {background: url('../../images/login-bg.jpg');background-position: center;max-width: 50% !important;position: relative !important;background-repeat: no-repeat;background-size: cover;}
.checkbox-flex label {width: 18px;}
.checkbox-flex {display: flex;align-items: center;}
.mobile-code .dropdown.bootstrap-select .btn.dropdown-toggle {background-color: #F3F6F9 !important;border-color: #F3F6F9 !important;padding: 11px 10px;}
.mobile-code .dropdown.bootstrap-select {width: 100px !important;margin-right: 10px;}
.mobile-code .dropdown.bootstrap-select .filter-option-inner-inner {font-size: 1.175rem;color: #babbc4;}
.login.login-1 .login-aside:before{position: absolute; content: ''; width: 100%; height: 100%; background:rgba(255,68,134,0.8); top: 0;left: 0;}
.login.login-1 .login-aside .left-content {position: relative; height: 100%; align-items: center !important;  padding: 0px; padding-top: 0px !important; display: flex !important;  flex-direction: initial !important;  flex-wrap: wrap; justify-content: center;}
.login.login-1 .login-aside .left-content h3 {color: #fff !important; font-weight: 400 !important;  font-size: 24px !important; width: 100%;}
.topbar .topbar-item {margin-left: 10px;}
.login.login-1 .login-aside .left-content .login-logo-heading {text-align: center;}
.login.login-1 .login-aside .left-content .login-logo-heading a{margin-bottom: 30px !important; display: block;}
.login.login-1 .login-aside .left-content .login-logo-heading a img.max-h-70px {max-width: 200px !important; max-height: inherit !important;}
.custom-login form span.text-muted a.text-primary {color: #afc578 !important;}
.custom-login form .text-primary {color: #afc578 !important;}
.custom-login form .btn-success {width: 100%;font-weight: 400 !important;background: #afc578;border-color: #afc578;font-size: 16px !important;padding: 10px !important;}
.login-form.login-signin.custom-login .btn.btn-block.btn-danger {font-size: 16px;}
.custom-login form input.form-control {padding: 10px !important;border-radius: 6px !important;}
.mobile-code {display: flex;}
.mobile-code select {background-color: #F3F6F9;border: none;color: #BCB5C3;transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;-moz-appearance: none;border-radius: 6px;font-size: 1.175rem !important;margin-right: 10px;}
.custom-login form select{  padding: 10px !important;}
.custom-login form #kt_login_signup_submit {max-width: 49%;}
.custom-login form .cancel-btn {background: #ff4486;color: #fff;border-color: #ff4486;width: 48%;font-weight: 400 !important;font-size: 16px !important;padding: :10px !important;text-transform: capitalize !important;}
.dataTables_wrapper .dataTable th:before {content:none !important;}
.dataTables_wrapper .dataTable th:after {content:none !important;}
textarea#page_content + div#cke_page_content {
    width: 100% !important;
}
#add-partners-modal form .form-group {
    display: flex;
    align-items: center;
    position: relative;
}
#add-partners-modal form .form-group label {
    max-width: 60px;
    flex: 0 0 60px;
}
#add-partners-modal form .form-group input {
    max-width: 87%;
    flex: 0 0 87%;
    border: 1px solid #ccc;
    height: 35px;
    border-radius: 5px;
    padding: 4px 5px;
}
#add-partners-modal form .form-group label.error {
    position: absolute;
    max-width: 100%;
    bottom: -23px;
    right: 0;
    font-size: 11px;
}
.right-content-new {
	animation-name: bounce-2;
	animation-timing-function: ease;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	position: fixed;
	background-color: #f9f9f9;
	margin: 10px 0px;
	padding: 5px 5px 5px 8px;
	border-radius: 5px 0px 0px 5px;
	max-width: 700px;
	width: 100%;
	border: 1px solid #f2f2f2;
	right: 0;
	z-index: 999;
	animation: initial;
	top: 85px;
}
div#remain_price_input_div i {
    margin-bottom: 10px;
}
.blog-featured_img .image-input input {
    position: relative;
    z-index: 9999;
    width: auto !important;
    height: auto !important;
}
.right-content-new a {
	display: flex;
	align-items: center;
	flex-flow: row-reverse;
	padding: 10px 7px 10px 1px;
}
.right-content-new i {
	margin-left: 6px;
	font-size: 21px !important;
}
.right-content-new p {
	padding-right: 20px;
	max-width: 70%;
	flex: 0 0 70%;
}
.reset-form-btn button, .reset-form-btn button {background-color: #afc578 !important;border: none !important;font-weight: normal !important;}
.reset-form-btn a.pink-bg {border-radius: 5px;font-weight:normal !important;}
.reset-msg.alert.alert-success {background-color: #afc578;text-align: center;font-size: 16px;border: none;}
.text_inner select[name="CountryCode"] {
    width: 82px;
    padding-left: 7px !important;
    padding-right: 7px !important;
	background-image: inherit;
}
.left-cart-label .card-icon i {
	color: #ff4882 !important;
}
.dataTables_wrapper .dataTables_paginate .pagination .page-item.active > .page-link {
	background-color: #afc578 !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
	background: none !important;
	border-color: transparent !important;
	/* padding: 0;
	margin: 6px 0 0 0; */
}
.weekly-div-style .rec-radio input[type="checkbox"]:checked ~ span:after {
    opacity: 1;
}
.rec-radio.rec-checkbox span {
    width: 101px;
}
.rec-radio.rec-checkbox span:before {margin: 0 6px 0px 0;}
#kt_aside_menu .menu-item.menu-item-active a svg, #kt_aside_menu .menu-item a:hover {
	fill: #fff;
}
.haccp-input label {position: relative;}
.haccp-input input[type="checkbox"]:checked ~ label::before {border: 2px solid #f5006c;}
.haccp-input input[type="checkbox"]:checked ~ label::after {opacity: 1;}
.haccp-input label::before {content: "";width: 20px;height: 20px;display: inline-block;background-color: #fff;border: 2px solid #ccc;position: relative;z-index: 1;top: 5px;margin-right: 8px;}
.haccp-input label::after {content: "";width: 10px;height: 10px;background-color: #f5006c;display: block;position: absolute;left: 5px;top: 10px;z-index: 9;opacity: 0;}
.haccp-input input[type="checkbox"] {position: absolute;top: 5px;left: 8px;margin: 0;width: 20px;height: 20px;z-index: 99;opacity: 0;cursor:pointer;}
#basic-detail .dashboardcode-bsmultiselect .form-control {padding: 3px 10px;}
#edit-scout-form .card-title {color: #000;}
#edit-scout-form .card-title i {color: #ff4883;}
#edit-scout-form {padding: 20px;}

.child-dis-check label {display: flex;align-items: center;}
.additional-cost-price th {font-weight: normal;font-size: 13px;text-transform: uppercase;letter-spacing: 1px;text-align: center;color: #ff4883;}
.add-cost-price-inner table td, .add-cost-price-inner table th {padding: 6px 20px 6px 20px;text-align: center;position: relative;}
.add-cost-price-inner table td input {border: 1px solid #E4E6EF;border-radius: 0.42rem;width: 100px;height: 40px;text-align: center;color: #3f4254;}
.add-cost-price-inner {background-color: #fbfbfb;border: 1px solid #f9f9f9;border-radius: 5px;padding: 15px 10px;margin-top: 5px;}
.wishList-main .booking-conditions {min-height: 40px;}
.yellow-bg-btn {background-color: #ffa800 !important;color: #fff !important;}
.yellow-bg-btn:hover {background-color: #dd960c !important;}
.i-color-chnge i {color: #f5006c;font-size: 15px;margin: 0 0 0 4px;}
.profile-right_form .dashboardcode-bsmultiselect .form-control {padding: 0px 15px;height: 42px !important;}
.profile-right_form .dashboardcode-bsmultiselect .dropdown-menu li label::after {left: -18px;}
.heading-scout-form {border-bottom: 2px solid #ececec;padding-bottom: 15px;margin-bottom: 15px;}
.exp-box-btm-list a i, .exp-box-btm-list a span {font-size: 13px;}
.exp-box-btm-list a span {padding-left: 3px;}

.blog-featured_img label.btn-circle i {position: absolute;left: 6px;top: 5px;}
.blog-featured_img .image-input {background-size: contain;}
.blog-featured_img .image-input .image-input-wrapper {height: 315px;}
.now-scout input[type="checkbox"] {
    width: auto;
    height: auto;
    margin: 0 10px 0 0;
}
.now-scout label {
    margin: 0;
}
.now-scout {position: relative;}
.now-scout label {position: relative;display: flex;align-items: center;cursor: pointer;}
.now-scout label::before {width: 20px;height: 20px;display: block;background-color: #fff;border: 2px solid #ccc;margin: 0 auto;position: relative;z-index: 1;content: "";margin-right: 8px;}
.now-scout input[type="checkbox"]:checked ~ label::before {
    border-color: #ff4883;
}
.now-scout input[type="checkbox"] {
    width: 125px;
    height: 20px;
    margin: 0;
    position: absolute;
    left: 13px;
    top: 2px;
    z-index: 9;
    opacity: 0;
    cursor: pointer;
}
.now-scout input[type="checkbox"]:checked ~ label::after {
    content: "\f00c";
    position: absolute;
    left: 3.5px;
    top: 3.5px;
    z-index: 9;
    opacity: 1;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    background-color: transparent;
    width: 20px;
    height: 20px;
    color: #ff4883;
    font-size: 13px;
}
.modal {z-index: 99999 !important;}

@media screen and (max-width:1483px) {
.min-height-add {min-height: 50px;}
}

@media screen and (max-width:1399px) {
.custom-left_bar .card.card-custom > .card-body {padding-left: 12px;padding-right: 12px;}
}

@media screen and (max-width:1280px) {
.action-experience-del-btn, .action-scout-btn {margin-top: 6px;}
.exp-content .btn-sm.px-4 {padding-right: 0.5rem !important;padding-left: 0.5rem !important;}
.btns-action-exp .price.manage-list-traveler a {margin-top: 0;}
}

@media screen and (max-width:1204px) {
.scoutlist-table .action-scout-btn {margin-top: 6px;}
}

@media screen and (max-width:1170px) {
.manage-personal-info .col-lg-4, .manage-personal-info .col-lg-8 {max-width: 100%;flex: 0 0 100%;-webkit-flex: 0 0 100%;-ms-flex: 0 0 100%;}
}

@media screen and (max-width:1199px) {
.login_sec_tab .describing .inner_form {max-width: 100%;flex: 0 0 100%;-webkit-flex: 0 0 100%;-ms-flex: 0 0 100%;}
.form-detail .col-md-10 input[type="number"] {width: 86%;float: right;}
.min-height-add {min-height: inherit;}
.d-none-responsive {display: none !important;}
.old-data-responsive .input-group {background-color: #f4f4f4;padding: 10px !important;border-radius: 5px;margin-bottom: 10px;}
.form-group.row.contact-scout-form {align-items: center;margin-bottom: 5px;padding: 0 0 15px;}
.form-group.row.contact-scout-form .input-group {padding: 0px 10px;}
.form-group.row.contact-scout-form.gray-bg {background-color: transparent !important;padding-top: 0 !important;padding-bottom: 0 !important;}
}

@media screen and (max-width:1130px) {
.list-exp-tble .edit {margin-top: 6px;}
}

@media screen and (max-width:1080px) {
.list-exp-tble .edit {margin-top: 6px;}
}

@media screen and (max-width: 991px) {
.login.login-1 .login-aside{max-width: 100% !important; padding: 80px 15px;}
.login-content {width: 100%; max-width: 80% !important;}
.login-content .custom-login {max-width: 100% !important;}
	#kt_header_mobile button span::before, #kt_header_mobile button span::after, #kt_header_mobile button span {background-color: #fff !important;}
#kt_header_mobile img {max-width: 96px;}
div.login_sec_tab .text_inner {padding: 40px 15px 60px 15px;}
#kt_content {padding: 40px 0px 0px;}
#kt_header.header-fixed .header-menu-wrapper {position: static;background-color: transparent;box-shadow: inherit;width: 100%;}
#kt_header.header-fixed .header-menu-wrapper .header-menu-mobile {background-color: transparent;width: 100%;}
#kt_header.header-fixed .header-menu-wrapper .header-menu-mobile h5 {justify-content: center;}
#page-contact-us .form-group, #page-add-blog-form .form-group, #page-privacy-policy .form-group {margin-bottom: 0;}
#page-contact-us .form-group .my-error, #page-add-blog-form .form-group .my-error, #page-privacy-policy .form-group .my-error {margin-bottom: 15px;}
#edit-scout-form .form-group {margin: 0;}
#edit-scout-form .my-error {margin-bottom: 15px;}
.manage-personal-info .col-lg-12, .contact-scout-form .col-lg-9, .contact-scout-form .col-form-label, .scout-profile-lang .col-lg-12 {padding-left: 0;padding-right: 0;}
.header-mobile {background-color: #ff4883;z-index: 99999 !important;}
.offcanvas.offcanvas-right {z-index: 9999;}
}

@media screen and (max-width:767px) {
.login_sec_tab .form-detail .inner_form.p-0 {padding-left: 15px !important;max-width: 97px !important;width: 100% !important;padding-right: 15px !important;}
.login_sec_tab .inner_form.col-md-10 {max-width: 87%;flex: 0 0 87%;}
.login_sec_tab .inner_form.col-md-10 input[type="number"] {width: 98%;}
.personal_details {flex-flow: column;}
.personal_details .profile-info {padding-left: 0 !important;padding-top: 20px;}
#DataTables_Table_0_length, #DataTables_Table_0_filter {width: 100%;}
.field_sec.ability_skills label.error {position: absolute;left: 0;top: -27px;white-space: nowrap;}
.login_sec_tab .inner_form.col-md-10 input[type="number"] {width: 100%;}
.login_sec_tab .form-detail .p-0.inner_form.country-code-div {max-width: 117px !important;}
.login_sec_tab .inner_form.col-md-10 {max-width: 83%;flex: 0 0 83%;}
.scout-profile-lang .pl-md-0.pr-md-0 {padding: 0;}
.scout-profile-lang .pl-md-0.pr-md-0.mb-lg-5 {margin-bottom: 13px;}
.certificate-sec .custom-file-label {width: 100%;}
}
@media screen and (max-width: 624px) {   
.home-partner-list .btn-success {margin-bottom: 3px !important;}
}

@media screen and (max-width: 578px) {
.table-coordinators .edit.btn {margin-bottom: 6px;}
}

@media screen and (max-width: 575px) {
div.center-container .who-scout-img {max-width: 100%;}
.custom-login form .cancel-btn{max-width: 100%; width: 100%; margin: 0px !important;}
.custom-login form #kt_login_signup_submit {max-width: 100%; width:100%; margin:0px !important; margin-bottom: 10px !important;}
.login_sec_tab .inner_form.col-md-10 {max-width: 69%;flex: 0 0 69%;}
div.custom-width-boxes {max-width: 100%;flex: 0 0 100%;margin-bottom: 30px;}
.certificate-sec .form-group {display: block;text-align: center;}
}

@media screen and (max-width:410px) {
.login_sec_tab .form-group.new_status.value_inner.describing label {width: 90%;}
.login_sec_tab .form-group.new_status.value_inner .inner_form span {top: 3px;}
.login_sec_tab .describing .inner_form {display: flex;align-items: flex-start;}
}

@media screen and (max-width:406px) {
.blog-cat-adm .delete {margin-top: 5px;}
}

.form-group.fv-plugins-icon-container.has-success select {
    -moz-appearance: none;
    appearance: none;
    -webkit-appearance: none;
}

.custom-width-boxes {
    max-width: 32%;
    flex: 0 0 32%;
}
.custom-width-boxes {
    max-width: 32%;
    flex: 0 0 32%;
    background-color: #fff;
    box-shadow: 0 0 10px #ccc;
    text-align: center;
}
.custom-width-boxes a {
    color: #ff4883;
}

td.logo-background {
    background-color: #fd4782;
    text-align: center;
}

/*NEW-CSS-STARTS-HERE*/
.green-bg {background-color:#afc578;border-color:#afc578;}
.wishList-main a {display: block;position: relative;}
.wishList-main .manage-book-info {position: absolute;top: 0;left: 0;right: 0;margin: 0 auto;text-align: center;height: 100%;display: flex;flex-flow: column;align-items: center;justify-content: center;background-color: rgba(0, 0, 0, 0.5);border-radius: 5px 5px 0 0;}
.wishList-main .manage-book-info .title span {color: #fff;margin: 0 0 10px 0;display: block;font-weight: 600;padding: 0 60px;}
.wishList-main .manage-book-info ul li {color: #fff;}
.host-info-exp h4 {font-size: 19px;margin: 0;}
.wishList-main .exp-box .exp-content {
	padding-top: 4px;
}
.host-info-exp i {font-size: 18px;color: #ff4883;margin: 0 3px 0 0px;}
.host-data p {font-size: 18px;}
.wishList-main.blur-img-cls .exp-box .exp-img img {
	filter: blur(8px);
-webkit-filter: blur(2px);
}
.host-data p {
	font-size: 14px;
	color: #666;
	margin: -4px 0 0 0 !important;
}
.host-data p span {
    padding-right: 10px;
    line-height: 22px;
    display: block;
}
.card.card-custom.section-to-print {
	box-shadow: inherit;
}
.close-invoice-btn {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 9999;
}
.close-invoice-btn {
	position: absolute;
	top: -3px;
	right: -4px;
	z-index: 9999;
	background-color: #ff4883 !important;
}
.close-invoice-btn i {
	color: #fff !important;
}
.border-none .table, .border-none th {
	border: none;
	margin: 0;
	vertical-align: middle !important;
}
#kt_chat_modal {
	background-color: rgba(0, 0, 0, 0.5);
}
.icons-same-class .justify-content-between .card-custom {
	max-width: 31.9%;
}
.host-data p span.mt-2 {
	margin-top: 0 !important;
}

/*body{font-family: 'Barlow', sans-serif;}*/
body {background: #ffffff;}
.aside-menu .menu-nav > .menu-item.menu-item-active > .menu-link, .aside-menu .menu-nav > .menu-item.menu-item-here > .menu-link, .aside-menu .menu-nav > .menu-item.menu-item-open > .menu-link {background-color: #afc578;}
.aside-menu .menu-nav > .menu-item .menu-submenu .menu-item.menu-item-here > .menu-link, .aside-menu .menu-nav > .menu-item .menu-submenu .menu-item.menu-item-active > .menu-link, .aside-menu .menu-nav > .menu-item .menu-submenu .menu-item.menu-item-open > .menu-heading, .aside-menu .menu-nav > .menu-item .menu-submenu .menu-item.menu-item-open > .menu-link {background-color: #ff4883;}
.section-heading-home h3 {font-weight: 600;}
.btn.btn-danger {background: rgb(255, 72, 131);border-color: rgb(255, 72, 131);}
.btn.btn-danger:hover {background-color: #e81962 !important;border-color: #e81962 !important;}
.aside-menu .menu-nav > .menu-item .menu-submenu .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover > .menu-link {background-color: rgb(255, 72, 131);}
/* a.btn.btn-success.btn-sm, a.edit.btn.btn-success.btn-sm.action-blog-edit-btn {border-radius: 50px;padding: 10px 11px;font-size: 15px;line-height: 1.5;display: inline-block;font-weight: 500;} */
.green-bg:hover {background-color: rgb(131, 154, 74);border-color: rgb(149, 187, 55);color: #fff;}
.custom-width-boxes span.svg-icon.svg-icon-3x.svg-icon-warning.d-block.my-2 {font-size: 30px;font-weight: 500;}
.text-dark, .custom-width-boxes a, .dataTables_wrapper .dataTable thead th {font-weight: 600 !important;}
.rounded-xl {border-radius: 0.42rem !important;}
.accordion.accordion-toggle-plus .card .card-header .card-title::after {color: #ff4883;}
.form-group label, .aside-menu .menu-nav > .menu-item > .menu-link .menu-text, .menu-item .menu-submenu .menu-item > .menu-link .menu-text {font-size: 16px !important;}
.form-control {font-size: 15px;}
.brand {background-color: transparent;padding-top: 10px;}
.aside-menu .menu-nav > .menu-item .menu-submenu .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover > .menu-link .menu-bullet.menu-bullet-dot > span, .aside-menu .menu-nav > .menu-item .menu-submenu .menu-item.menu-item-active > .menu-link .menu-bullet.menu-bullet-dot > span {background-color: #ffffff;}
.card.card-custom > .card-header .card-title .add-btn {width: 50%;}
.card.card-custom > .card-header .card-title .add-btn a.btn.btn-sm.float-right.green-bg i.fa {color: #fff;font-size: 11px;position: relative;top: -1px;margin-left: 5px;}
.aside-menu .menu-nav > .menu-item .menu-submenu .menu-item.menu-item-open > .menu-link i.menu-bullet.menu-bullet-dot span, .aside-menu .menu-nav > .menu-item .menu-submenu .menu-item.menu-item-here > .menu-link i.menu-bullet.menu-bullet-dot span {background-color: #fff;margin-top: 0px !important;}
.aside-menu {background-color: #fff;}
.aside-menu .menu-nav .menu-item, .aside-menu .menu-nav > .menu-item .menu-submenu .menu-item.menu-item-open > .menu-link {border-bottom: 1px solid #fff;}
.aside-menu .menu-nav > .menu-item > .menu-link .menu-text, .aside-menu .menu-nav > .menu-item > .menu-link .menu-arrow {color: #333;}
.aside {background-color: #fff;box-shadow: 5px 5px 25px rgba(0,0,0,0.1);}
div#kt_header {background: #afc578;padding:20px 0;z-index: 9999;}
div#kt_header .text-dark, .nav .nav-link, .aside-menu .menu-nav > .menu-item .menu-submenu .menu-item.menu-item-here > .menu-link span.menu-text {color: #fff !important;}
.btn.btn-clean:hover:not(.btn-text):not(:disabled):not(.disabled) i {color: #fff;}
form#kt_login_signin_form span.text-muted.font-weight-bold.font-size-h4 {color: #B5B5C3 !important;width: 100%;text-align: center;float: left;padding-bottom: 15px;}
.footer.bg-white {background-color: #ff4883 !important;font-size: 14px;}
.aside-menu .menu-nav {padding: 0px 0 15px;}
.aside-menu .menu-nav > .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover > .menu-link {background-color: #ff4883;}
.btn.btn-clean:hover:not(.btn-text):not(:disabled):not(.disabled) {background-color: #95bb37;}
li.menu-item.menu-item-active a.menu-link span.svg-icon.menu-icon svg#Layer_1 {fill: #fff;}
li.menu-item.menu-item-submenu a.menu-link:hover span.svg-icon.menu-icon, li.menu-item.menu-item-submenu.menu-item-open a.menu-link span.svg-icon.menu-icon, .aside-menu .menu-nav > .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover > .menu-link span.svg-icon.menu-icon svg#Layer_1, .aside-menu .menu-nav > .menu-item.menu-item-here > .menu-link span.svg-icon.menu-icon svg {fill: #fff !important;}
div#kt_quick_user .btn.btn-light {background-color: #afc578;border-color: #afc578;}
div#kt_quick_user .btn.btn-light:hover, div#kt_quick_user .btn.btn-light:focus {background-color: #e54176 !important;border-color: #e54176 !important;}
div#kt_quick_user a.font-weight-bold.font-size-h5.text-dark-75.text-hover-primary, div#kt_quick_user span.navi-text.text-muted.text-hover-primary {color: #333 !important;}
div#kt_quick_user a.font-weight-bold.font-size-h5.text-dark-75.text-hover-primary:hover, div#kt_quick_user span.navi-text.text-muted.text-hover-primary:hover {color: #3699FF !important;}
div#kt_quick_user span.navi-icon.mr-1 {display: none;}
.footer.bg-white .text-dark.order-2.order-md-1 {width: 100%;text-align: center;padding: 5px 0;}
.aside .aside-menu.ps > .ps__rail-y > .ps__thumb-y {display: none;}
.add-scout-cls.schedule-modal {
	z-index: 9999;
}
.experience-status{
        display: flex;
    align-items: center;
}

.user-profile-buttons {
    width: 100%;
    float: right;
    text-align: right;
    margin-bottom: 10px;
}
.user-profile-buttons a.navi-item {
    padding: 8px 10px;
    background-color: #ff4883;
    color: #fff;
    border-radius: 5px;
}
.user-profile-buttons a.navi-item:hover {
    background-color: #e71e5f;
    transition: 0.5s;
}



/* 14-12-2020 */
.right_form_scout {padding-left: 311px;width: 100%;}
.login_sec_tab {width: 100%;overflow-x: hidden;}
.login_sec_tab .tab button {display: block;background-color: inherit;color: black;padding: 14px 26px;width: 100%;border: none;outline: none;text-align: left;cursor: pointer;transition: 0.3s;font-size: 15px;border-bottom: 1px solid #f3f3f3;}
.login_sec_tab .tab button {background-color: #eae8e8;color: #9b9b9b;}
/*.login_sec_tab .tab button:hover {background-color: #ff4486;color: #fff;}*/
.login_sec_tab .tab button.active {background-color: #ff4486 !important;color: #fff;}
.login_sec_tab .text_inner {padding: 40px 40px 60px 40px;}
.right_form_scout h1 {margin: 0;width: 100%;text-align: center;color: #fff;text-transform: uppercase;font-weight: 400;letter-spacing: 1px;font-size: 30px;}
.login_sec_tab .tab button:disabled {background-color: #ececec;color: #a0a0a0;}
.login_sec_tab .tabcontent {padding: 0px 12px;border-left: none;margin-bottom: 20px;border-bottom: 0px;}
.login_sec_tab .login_sec_tab {width: 100%;float: left;overflow-x: hidden;}
.login_sec_tab .form-group.new_status.ability_sec table th {width: 16.66%;padding: 5px;text-align: center;font-size: 14px;font-weight: 400;}
.login_sec_tab .form-group.new_status.ability_sec table tbody tr td {padding: 5px;text-align: center;height: 85px;vertical-align: middle;}
.login_sec_tab .form-group.new_status.describing p {margin: 0;}
.login_sec_tab .form-group.new_status.describing span {margin-bottom: 10px;display: block;}
.login_sec_tab .form-group.new_status.ability_sec table tbody tr {background-color: #f8f9fa;border-bottom: 3px solid #fff;}
.login_sec_tab .form-group.new_status.ability_sec table tbody tr td:first-child {text-align: left;}
.login_sec_tab .form-group.new_status p, .form-group.word_sec label {font-size: 16px;font-weight: 600;margin-bottom: 10px;}
.login_sec_tab .form-group.new_status label, .form-group.new_status.ability_sec table tbody tr td  {font-size: 14px !important;}
.login_sec_tab .form-group.new_status input {margin-right: 10px;}
.login_sec_tab .form-group.new_status.ability_sec table tbody tr td .inner_form input {margin: 0px;}
.login_sec_tab .tab button {cursor: auto;}
.custom-login form .btn-success:hover, .custom-login form .btn-success:focus, .btn-success:hover, .btn-success:focus {background-color: #839a4a !important;border-color: #839a4a !important;}
.group-one h3 {font-size: 15px;margin: 6px 0 5px 0;}

.text_inner input::-webkit-input-placeholder {
  color: #3F4254;
}
.text_inner input::-moz-placeholder {
  color: #3F4254;
}
.text_inner input:-ms-input-placeholder {
  color: #3F4254;
}
.text_inner input:-moz-placeholder {
  color: #3F4254;
}

 /*Profile-Photo-Sec-Starts-Here*/
.login_sec_tab .profile-pic {border-radius: 50%;height: 150px;width: 150px;background-size: cover;background-position: center;background-blend-mode: multiply;vertical-align: middle;text-align: center;color: transparent;transition: all .3s ease;text-decoration: none;cursor: pointer;overflow: hidden;}
.login_sec_tab .profile-pic img {width: 100%;height: 100%;}
.login_sec_tab .form-group.new_status.profile_update {text-align: center;}
.form-group.new_status.profile_update {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}
.cms_banner_dimension span {
    color: #ff4883;
    font-size: 14px;
}
.login_sec_tab .profile-pic:hover {background-color: rgba(0,0,0,.5);z-index: 10000;color: #fff;transition: all .3s ease;text-decoration: none;}
.login_sec_tab .profile-pic span {
    display: block;
    padding-top: 0;
    padding-bottom: 0;
    color: #000;
    position: absolute;
    text-align: center;
    vertical-align: middle;
    right: 90px;
    bottom: auto;
    font-size: 16px;
    font-weight: 600;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
}
.login_sec_tab .profile-pic:hover span{text-decoration: underline;}
form input[type="file"] {cursor: pointer;}
 /*Profile-Photo-Sec-End-Here*/

.login_sec_tab .inner_form {position: relative;}
.login_sec_tab .form-group.new_status.ability_sec table tbody tr td .inner_form input {position: absolute;left: 0;top: 0;width: 20px;height: 20px;opacity: 0;z-index: 9;right: 0;margin: 0 auto;cursor: pointer;}
.login_sec_tab .form-group.new_status.ability_sec table tbody tr td span {width: 20px;height: 20px;display: block;background-color: #fff;border-radius: 50%;border: 2px solid #ccc;margin: 0 auto;position: relative;z-index: 1;}
.login_sec_tab .form-group.new_status.ability_sec table tbody tr td .inner_form input:checked ~ span:before {content: "";width: 10px;height: 10px;background-color: #f5006c;display: block;border-radius: 50%;position: absolute;left: 3px;top: 3px;}
.login_sec_tab .form-group.new_status.ability_sec table tbody tr td .inner_form input:checked ~ span {border-color: #f5006c;}
#edit-scout-form input[type="radio"] {position: absolute;left: 0;top: 0;z-index: 999;width: 20px;height: 20px;opacity: 0;top: 5px;cursor: pointer;}
#edit-scout-form input[type="radio"]:checked ~ span::before {content: "";width: 10px;height: 10px;background-color: #f5006c;display: block;border-radius: 50%;position: absolute;left: 3px;top: 3px;}
#edit-scout-form input[type="radio"]:checked ~ span {border-color: #f5006c;}
#edit-scout-form .inner_form span {width: 20px;height: 20px;display: inline-block;background-color: #fff;border-radius: 50%;border: 2px solid #ccc;margin: 0 auto;position: relative;z-index: 1;top: 5px;}
#edit-scout-form .inner_form label {padding-left: 8px;font-size: 14px !important;}
#edit-scout-form select#primary_language {background-color: #ffffff;border: 1px solid #E4E6EF;padding: 8px 10px !important;}
.login_sec_tab .form-group.new_status.value_inner .inner_form input:checked ~ span::before {content: "";width: 10px;height: 10px;background-color: #f5006c;display: block;border-radius: 50%;position: absolute;left: 3px;top: 3px;}
.login_sec_tab .form-group.new_status.value_inner .inner_form input:checked ~ span {border-color: #f5006c;}
.login_sec_tab .form-group.new_status.value_inner .inner_form input {position: absolute;left: 0;top: 0;z-index: 999;width: 20px;height: 20px;opacity: 0;top: 5px;cursor: pointer;}
.login_sec_tab .form-group.new_status.value_inner .inner_form span {width: 20px;height: 20px;display: inline-block;background-color: #fff;border-radius: 50%;border: 2px solid #ccc;margin: 0 auto;position: relative;z-index: 1;top: 5px;}

.login_sec_tab .form-group.new_status.value_inner label {padding-left: 8px;}
.login_sec_tab .login-form.login-signup.custom-login select#user_role {color: #b6b5c3;}
.login_sec_tab .form-group.word_sec {width: 100%;float: left;}
.login_sec_tab .form-group.word_sec label span {display: block;font-weight: 300;font-size: 15px;}
.login_sec_tab .form-group.word_sec textarea {width: 100%;flex: 0 0 100%;background-color: #f3f6f9;padding: 10px;height: 150px;font-size: 14px;resize: none;border: none;border-radius: 10px;}
.login_sec_tab .dashboard_sec {height: 100%;background-color: #ffffff;position: fixed;max-width: 310px;width: 100%;box-shadow: 5px 5px 25px rgba(0,0,0,0.1);}
.example-compact .form-group .my-error a.btn.btn-primary.next, .no-footer td a.btn.btn-success.btn-sm, .example-compact .form-group button.btn.btn-primary, .card.card-custom button#msg_send_btn, .example-compact .btn.btn-primary, .btn.btn-success.btn-sm.view-host {background: #afc578; color: #fff !important; border-color:#afc578;}
.example-compact .form-group .my-error a.btn.btn-primary.next:hover, .no-footer td a.btn.btn-success.btn-sm:hover, .example-compact .form-group button.btn.btn-primary:hover, .example-compact .btn.btn-primary:hover, .card.card-custom button#msg_send_btn:hover, .status_checks.btn.btn-success:hover {background: #839a4a !important; border-color:#839a4a !important;}
.status_checks.btn.btn-success {background: #afc578 !important;border-color: #afc578 !important;}

.btn-primary:not(:disabled):not(.disabled):active, .btn.btn-primary:focus {background-color: #95bb37 !important;border-color: #95bb37 !important;box-shadow: none !important;}
.btn-danger:not(:disabled):not(.disabled):active {background-color: #e81962 !important;border-color: #e81962 !important;box-shadow: none !important;}
.login_sec_tab .brand-logo a {display: block;text-align: center;padding: 20px 0;}
.right_form_scout p {font-size: 15px;line-height: 30px;}
.right_form_scout ul {padding: 0;margin: 0;list-style: none;}
.right_form_scout ul li {position: relative;font-size: 15px;line-height: 30px;display: flex;}
.right_form_scout ul li::before {font-family: "Font Awesome 5 Free";font-weight: 900;content: "\f105";margin-right: 5px;color: #ff4486;}
span.word-limit-text {font-size: 15px;display: block;margin: 5px 0 0 0;font-weight: 500;}
span.word-limit-text b {color: #ff4486;font-weight: 500;}
.text_inner input, .text_inner select {height: 45px !important;border-radius: 5px;}
select#primary_language {padding-top: 0px !important;padding-bottom: 0px !important;}
.text_inner label[for="fileToUpload"] + input[type="file"] {display: none;}
.login_sec_tab .form-group.new_status.ability_sec table tbody tr td span.span-selected {border-color: #ff4486; position: relative;}
.login_sec_tab .form-group.new_status.ability_sec table tbody tr td span.span-selected::before {content: "";width: 10px;height: 10px;background-color: #f5006c;display: block;border-radius: 50%;position: absolute;left: 3px;top: 3px;}
.submission_inner h2 {font-size: 18px;}
.submission_inner p {margin-bottom: 35px;}
.right_form_scout .profile-info ul li::before {content: none;}
.personal_details img {width: 200px;border-radius: 5px;}
.personal_details .profile-info {padding-left: 20px;}
.personal_details .profile-info ul li span {font-weight: 600;width: 170px;display: inline-block; vertical-align: top;}
.submission_inner p.description {margin-top: 10px;}
ol.custom-counter {padding: 0 0 14px 15px;margin: 0;font-size: 15px;line-height: 30px;}
.right_form_scout .dashboardcode-bsmultiselect .dropdown-menu li {margin: 0;padding: 0;line-height: normal;}
.right_form_scout .dashboardcode-bsmultiselect .dropdown-menu li::before {content:none;}
.right_form_scout .dashboardcode-bsmultiselect .dropdown-menu li label {font-weight: normal;padding-left: 10px;}
.right_form_scout .dashboardcode-bsmultiselect .dropdown-menu li label, .right_form_scout .dashboardcode-bsmultiselect .dropdown-menu li label:hover {
color: #000 !important;}
.right_form_scout .dashboardcode-bsmultiselect .dropdown-menu {transform: inherit !important;}
.dashboardcode-bsmultiselect {position: relative;}
.right_form_scout .dashboardcode-bsmultiselect .form-control li.badge::before {content: none;}
.right_form_scout .dashboardcode-bsmultiselect .dropdown-menu {transform: inherit !important;height: 300px;overflow-y: scroll;top: 42px !important;width: 100%;padding: 20px 10px;}
.right_form_scout .dashboardcode-bsmultiselect .form-control { padding: 10px;background-color: #f3f6f9;border: none;}
.right_form_scout .dashboardcode-bsmultiselect .form-control li.badge {background-color: #fff; padding: 6px 7px !important;margin: 3px;font-size: 14px;font-weight: normal;}
.right_form_scout .dashboardcode-bsmultiselect .form-control li.badge button.close {color: #f00;font-size: 17px !important;margin-left: 3px;position: relative;top: 2px;}
.dashboardcode-bsmultiselect ul li::before {content:none;}
.submit_details button#kt_login_signup_submit {background: #afc578;color: #fff !important;border-color: #afc578;}
.prev-next-step {clear: both;}
.prev-next-step .next-step {background: #afc578;color: #fff !important;border-color: #afc578;padding: 5px 20px;font-size: 19px;font-weight: 400;border-radius: 5px;border: none;margin-right: 10px;}
.login_sec_tab .form-group.word_sec label input:checked ~ span {background-color: #afc578;}
.prev-next-step .next-step.previous {background-color: #ff4486;margin-left: 10px;}
.login_sec_tab .form-group.word_sec label.checkbox > input:checked ~ span:after {
    position: relative;
    left: 5px;
    top: 4px;
}
div#registration_details a {
    color: #ff4486;
}
img.who-scout-img {
    border-radius: 5px;
    margin-bottom: 20px;
}
.featured-exp .col-lg-4 {
    position: static;
}
.card.card-custom .card-icon i {
	color: #ff4883 !important;
}
.chat-notification-icon {
	position: relative;
}
.header .topbar .chat-notification-icon #totalMessagecount {
	color: #fff;
	font-size: 13px;
	background-color: #ff4883;
	width: 15px;
	height: 15px;
	position: absolute;
	border-radius: 50%;
	text-align: center;
	line-height: 15px;
	top: 0;
	right: -10px;
}
.dataTables_wrapper .dataTable th.sorting_asc, .dataTables_wrapper .dataTable td.sorting_asc {
	color: #000 !important;
}
#add-exp .accordion .card .card-title {
	color: #000;
}
#add-exp .accordion .card .card-title i {
	color: #ff4883;
}
#add-exp .accordion .card .card-title::after {
	color: #ff4883;
}
.dashboardcode-bsmultiselect .dropdown-menu li label::before {
width: 20px;
height: 20px;
display: inline-block;
background-color: #fff !important;
border-radius: 50%;
border: 2px solid #ccc !important;
margin: 0 auto;
z-index: 1;
}
.inner_form .dropdown.bootstrap-select.form-control {
	padding: 0 !important;
	max-width: 100px !important;
	width: 100%;
}
.inner_form .dropdown.bootstrap-select.form-control .btn.dropdown-toggle {
	background-color: #F3F6F9 !important;
	border-color: #F3F6F9 !important;
	padding: 11px 10px;
}
.dashboardcode-bsmultiselect .dropdown-menu li label::after {
    content: "";
    width: 13px;
    height: 13px;
    background-color: #f5006c;
    display: block;
    border-radius: 50%;
}
.inner_form .dropdown.bootstrap-select.form-control .btn.dropdown-toggle .filter-option-inner-inner {
	font-size: 1.175rem;
}
#kt_chat_content .card.card-custom .scroll.scroll-pull {
	height: 500px;
	overflow-y: scroll;
}
.upload_profile_btn {
	background: #afc578;
	color: #fff !important;
	border-color: #afc578;
	padding: 5px 20px;
	font-size: 15px;
	font-weight: 400;
	border-radius: 5px;
	border: none;
	margin-right: 10px;
}
.upload-new-one {
	position: relative;
}
.upload-new-one {
	position: relative;
	padding-left: 30px;
}
.upload-new-one #fileToUpload {
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
	cursor: pointer;
}
.form-group.new_status.profile_update .error {
    width: 150px;
    position: absolute;
    bottom: -35px;
    left: 20px;
}
.dashboardcode-bsmultiselect .dropdown-menu li label::after {
	content: "";
	width: 12px;
	height: 12px;
	background-color: #f5006c;
	display: block;
	border-radius: 50%;
	z-index: 9;
	top: 7px;
	left: -15px;
	opacity: 0;
}
.dashboardcode-bsmultiselect .dropdown-menu li input[type="checkbox"]:checked ~ label::after {opacity:1;background-image: inherit;}

.text_inner input.hasDatepicker {
	width: 100%;
}
.text_inner select#CointryCode {
	width: 90%;
	background-position: 95% center;
	padding-left: 5px !important;
}
#add-exp .form-group span {
	color: #ff4883;
	font-size: 15px;
	font-weight: 500;
	max-width:100% !important;
}
#add-exp .fa.fa-info-circle {
	color: #ff4883;
	margin-left: 4px;
}
.dashboardcode-bsmultiselect .dropdown-menu li label {
	font-size: 14px !important;
	padding-left: 6px;
	padding-top: 3px;
}
.dashboardcode-bsmultiselect .dropdown-menu li .custom-control {
	margin-bottom: 6px;
}
#add-exp #Schedule .form-group span {
	color: #fff;
}

/*ERROR-REQUIRED-CSS-FOR-ALL-FIELDS-STARTS-HERE*/

.english_level label.error {padding: 0 !important;width: 100%;}
.prev-next-step .next-step:focus {
    outline: none;
}
.text_inner select {
    -moz-appearance: none;
    appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    background-image: url(../images/select-angle-down.png);
    background-repeat: no-repeat;
    background-position: 98% center;
    background-size: 12px auto;
}
#personal_details .word_sec label.error {
    position: absolute;
    font-weight: normal;
    font-size: 13px !important;
        left: 0;
    bottom: -29px;
}
label.error {
    font-weight: normal !important;
    font-size: 13px !important;
}
#personal_details .word_sec label.error[for="describe_youself"] {
    position: relative;
    bottom: 0;
    left: 0;
}
.login_sec_tab .form-group.new_status label[for="current_status"] {
    font-size: 13px !important;
    position: relative;
    padding: 0;
    bottom: 10px;
}
.was-validated .form-control:valid, .form-control.is-valid {
    background-image: url(../images/check-icon-valid.png);
}
.custom-login a {
    color: #ff4486;
}
.checkbox > input:checked ~ span {
    background-color: #afc578;
}
.text_inner input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #3F4254;
  opacity: 1;
}
.text_inner  input::-moz-placeholder { /* Firefox 19+ */
  color: #3F4254;
  opacity: 1;
}
.text_inner  input:-ms-input-placeholder { /* IE 10+ */
  color: #3F4254;
  opacity: 1;
}
.text_inner  input:-moz-placeholder { /* Firefox 18- */
  color: #3F4254;
  opacity: 1;
}
.text_inner textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #3F4254;
  opacity: 1;
}
.text_inner textarea::-moz-placeholder { /* Firefox 19+ */
  color: #3F4254;
  opacity: 1;
}
.text_inner textarea:-ms-input-placeholder { /* IE 10+ */
  color: #3F4254;
  opacity: 1;
}
.text_inner textarea:-moz-placeholder { /* Firefox 18- */
  color: #3F4254;
  opacity: 1;
}
.current_status {
    clear: both;
}

.country-code-div .bootstrap-select .dropdown-menu li {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0px 5px;
}

.country-code-div .bootstrap-select .dropdown-menu.inner > li > a {
    display: block;
    position: relative;
    outline: none !important;
    padding: 5px 5px;
}
.center-container {max-width: 910px;text-align: center;margin: 0 auto;}
.center-container .who-scout-img {max-width: 430px;}
/*ERROE-REQUIRED-CSS-FOR-ALL-FIELDS-END-HERE*/

#kt_footer .text-muted, #kt_footer a {
	color: #fff !important;
}
#kt_login_forgot_submit:hover {
	background-color: #839a4a !important;
	border-color: #839a4a !important;
}
.schedule-modal select {
	background-color: #fff;
	width: 100%;
	height: 35px;
	padding: 0 6px;
	color: #b7b7c5;
	border: 1px solid #ccc;
	border-radius: 5px;
}
.schedule-modal input[type="text"] {
	border: 1px solid #ccc !important;
	background-color: #fff !important;
	border-radius: 5px !important;
	color: #b7b7c5;
}
.schedule-modal .input-group-append {
    position: absolute;
    right: 0;
    top: 18px;
    z-index: 999;
}
.schedule-modal .input-group-append i {
    color: #ff4881;
}
.rec-radio {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 6px;
    position: relative;
}
.rec-radio span {
    position: relative;
    display: flex;
    align-items: center;
}
.rec-radio span:before {
    width: 15px;
    height: 15px;
    display: block;
    background-color: #fff;
    border-radius: 50%;
    border: 2px solid #ccc;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    content: "";
    margin-right: 8px;
}
.rec-radio input[type="radio"] {
    position: absolute;
    top: 2px;
    left: 0;
    width: 15px;
    height: 15px;
    z-index: 99;
    opacity: 0;
}
.rec-radio span::after {
	content: "";
	width: 7px;
	height: 7px;
	background-color: #f5006c;
	display: block;
	border-radius: 50%;
	position: absolute;
	left: 4px;
	top: 7px;
	z-index: 9;
	opacity: 0;
}
.rec-radio input[type="radio"]:checked ~ span::after {
    opacity: 1;
}
.time-inputs {
    display: flex;
    padding-left: 30px;
}
.time-inputs input {
    margin: 0 5px;
}
.weekly-div-style .rec-radio input[type="checkbox"] {
    position: absolute;
    z-index: 999;
    left: 1px;
    top: 3px;
    opacity: 0;
}
.weekly-div-style .rec-radio span::before, .weekly-div-style .rec-radio span::after {
    border-radius: 0;
}
.weekly-div-style .rec-radio input[type="checkbox"]:checked ~ span:after {
    opacity: 1;
	top: 8px;
}
.rec-radio.rec-checkbox:nth-child(2n+3) span::after {
	top: 7px !important;
}
.dataTables_wrapper .dataTables_paginate .pagination .page-item a:hover, .dataTables_wrapper .dataTables_paginate .pagination .page-item a:focus, .dataTables_wrapper .dataTables_paginate .pagination .page-item a:active, .dataTables_wrapper .dataTables_paginate .pagination .page-item:hover:not(.disabled) > .page-link {
	background-color: #ff4883 !important;
}
#kt_scrolltop {
	display: none;
}
.dashboardcode-bsmultiselect .dropdown-menu {
	height: 300px;
	overflow-y: scroll;
}
#kt_content {
	padding-bottom: 0;
}
#experience-images .fa-pen {
	color: #ff4883 !important;
}
#add-exp .form-group .feature-image-label #experience_feature_image-error {
	font-size: 0;
	width: 0;
}
#experience-images #experience_feature_image-error {
    width: 100%;
    display: block;
    margin: 0;
}
#add-exp .form-group span[data-action="cancel"] i, #experience-images span[data-action="remove"] i {
	color: #000 !important;
}
.child-discount {
	width: 100%;
	padding: 0px 15px 0;
	position: relative;
}
.child-discount label {
	position: relative;
}
.children-discount-div {
	padding: 0px;
	margin-top: 15px;
	border-radius: 5px;
	max-width: 500px;
	background-color: #fbfbfb;
}
.children-discount-div label {
	background-color: #afc578;
	width: 100%;
	padding: 8px;
	border-radius: 5px 5px 0 0;
	color: #fff;
}
.children-discount-div .years-free {
	padding: 6px 20px;
	width: 100%;
	display: flex;
	align-items: center;
}
.children-discount-div .years-free input {
	width: 60%;
	margin-right: 15px;
	border: 1px solid #E4E6EF;
	border-radius: 0.42rem;
	height: 35px;
}
.children-discount-div .children-upto + .children-upto .years-free + .years-free {
	padding-left: 0;
}
.children-discount-div .children-upto + .children-upto {
	display: flex;
	align-items: center;
}
.children-discount-div .children-upto + .children-upto .years-free {
	display: inline-flex;
	align-items: center;
}
.children-discount-div .children-upto + .children-upto .years-free input {
	width: 60%;
	margin: 0 15px 0 0px;
}
.child-dis-check {
	position: relative;
}
.child-dis-check label::before {content: "";width: 20px;height: 20px;display: block;border: 2px solid #ccc;margin: 0 10px 0 0px;}
.child-dis-check label::after {content: "";width: 10px;height: 10px;position: absolute;background-color: #ff4883;left: 5px;top: 7px;opacity: 0;}
.child-dis-check #dicount-checkbox {position: absolute;left: 1px;top: 2px;width: 20px;height: 20px;z-index: 99;opacity: 0;cursor: pointer;}
.child-dis-check #dicount-checkbox:checked ~ label::before {border-color: #ff4883;}
.child-dis-check #dicount-checkbox:checked ~ label::after {opacity:1;}
.add-cost-price-inner table td span {position: absolute;left: 0;bottom: -30px;right: 0;font-size: 12px !important;white-space: nowrap;}

.color-change-traveller a {color: #3f4254;}
.color-change-traveller a:hover, .user-listing-main a:hover {color: #ff4883 !important;}
.color-change-traveller a:hover i {color: #ccc !important;}
.color-change-traveller a.pink-bg {background-color: #ff4883;border: none;}
.color-change-traveller a.pink-bg:hover, .color-change-traveller a.pink-bg:focus {background-color: #e81962 !important;border: none;color:#fff !important;}
.color-change-traveller a.pink-bg:hover i {color:#fff !important;}
.color-change-traveller a.text-primary {color: #afc578 !important;}
.user-listing-main a {color: #3f4254;}
#loader-lfz {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	z-index: 999;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.8);
	width: 100%;
	display: flex;
align-items: center;
justify-content: center;
	height: 120%;
}

#loader-lfz img {max-width:80px;}
.force-hide {
    display: none !important;
}
.main-area-message .start-chat-wlcmes img {
    text-align: center;
    width: 100%;
}
.main-area-message .image-logo img { 
    width: 250px;
    min-height: 250px;
}
.main-area-message .start-chat-wlcmes {
    display: block;
    text-align: center;
}
.main-area-message .main-sendBtn {
    float: right;
}
 .main-area-message span.message-count {
    border: 1px solid #ff4883;
    border-radius: 200px;
    padding: 2px 10px;
    background-color: #ff4883;
    color: #fff;
}
.pink-bg-btn {background-color: #ff4883 !important;color: #fff !important;transition:all 0.5s ease 0s;border: none;}
.pink-bg-btn:hover {background-color: #e81962 !important;border: none;}
.green-bg-btn {background-color: #afc578 !important;color: #fff !important;transition:all 0.5s ease 0s;border:none;border: none;}
.green-bg-btn:hover {background-color: #839a4a !important;border: none;}
.navi .navi-item .navi-link:hover .navi-icon svg g [fill] {fill: #646464;}

.user-listing-main a.userListing-inner {width: 100%;}
label.error {color: #f00;}
.text-green {color: #afc578;}
#myTab li a.active span {color: #ff4883;}
.traveler-ratings-tabs ul {padding: 0 0 0 7px;margin: 0;list-style: none;}
.traveler-ratings-tabs ul .filled-star i {color: #ffc600;}
.text-pink {color: #ff4883;}
.custom-style-heading h2 {margin: 0;color: #000;font-size: 20px;}
#myTab li a span {
	font-size: 1.20rem;
}
.custom-style-heading {
	position: relative;
}
.custom-style-heading h2 {
    margin: 0;
    color: #000;
    font-size: 22px;
    display: inline-block;
    border-bottom: 5px solid #ff4882;
    padding: 0 0 7px 0;
}
.custom-style-heading::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 2px;
    width: 100%;
    background-color: #999;
    height: 1px;
    z-index: -1;
}
.custom-style-heading {
	margin: 0 0 25px 0;
}
.review-form .rating-stars ul > li.star > i.fa {
	font-size: 33px;
}
.custom-style-heading.col-md-4 {
	padding: 0;
}
/**WISHLIST CSS STARTS HERE**/
.d-flex.mt-3 {
	background-color: #f4f4f4;
	padding: 5px;
	border-radius: 5px;
}
.exp-box {
	background: #fff;
	border-radius: 4px;
	box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
	margin-bottom: 15px;
	margin-top: 15px;
}
.exp-box .exp-img {
	margin-bottom: 10px;
}
.exp-box .exp-img img {
	max-width: 100%;
    border-radius: 6px 6px 0px 0px;
	width: 100%;
}
.exp-box .exp-content {
	padding: 15px;
}
.btn.btn-status-custom {
	background-color: #d9d9d9;
}
.btn.btn-status-custom i {
	color: #919191;
}
.btn.btn-status-custom:hover {
	background-color: #737373;
	color: #fff;
}
.exp-box.scout-exp_box .rating {
	width: auto !important;
	margin: 0 10px 0 0px;
}
.exp-box.scout-exp_box .label-light-success.green-success {
	background-color: #cce197;
	color: #648611 !important;
}
.exp-box.scout-exp_box .label-light-success.red-success {
	background-color: #ff9fbe !important;
	color: #d20044 !important;
}
.exp-box.scout-exp_box .label-light-success.processing-success {
	background-color: #ffe0a5 !important;
	color: #d78d00 !important;
}
.icons-same-class .justify-content-between.scout-booking-details .card-custom {
	max-width: 49%;
}
.alert-danger.alluser-page-suc {background-color: #FF4883 !important;text-align: center !important;border:none !important;}
.alert-success.alluser-page-suc {background-color: #AFC578 !important;text-align: center !important;border:none !important;}
.exp-box.scout-exp_box .exp-content .price-div {
	padding-bottom: 0;
}
/*.exp-box.scout-exp_box .exp-content .title a, .exp-box.scout-exp_box .exp-content .price-div, .exp-box.scout-exp_box .exp-content .booking-conditions {
	min-height: inherit;
	margin-bottom: 10px;
}*/
.exp-box .exp-content .title a {
	font-size: 14px;
	color: #333;
	line-height: 20px;
	min-height: 45px;
	display: block;
	font-weight: 500;
}
.exp-box .exp-content .rating-price {
	display: flex;
	align-items: center;
}
.exp-box .exp-content .rating-price .rating {
	width: 100%;
}
.rating ul {
	padding: 0px;
	margin-bottom: 0px;
}
.rating ul li {
	display: inline-block;
	color: #909090;
}
.exp-box .exp-content .rating-price .price {
	display: flex;
	min-width: 30%;
	text-align: justify;
	justify-content: flex-end;
	position: relative;
}
.exp-box .exp-content .rating-price .price .wishlist-span {
	width: 36px;
	height: 36px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #ff4486;
	color: #fff;
	margin-left: 10px;
	transition: all 0.5s ease;
}
.exp-box .exp-content .rating-price .price .wishlist-span i {
    margin-top: 1px;
    margin-left: 0px;
	color: #fff;
}
.wishlist-span i {
    display: block;
}
.price-div {
	font-size: 14px;
	display: flex;
	justify-content: space-between;
	padding: 5px 0px 10px;
}
.price-span {
	font-size: 23px;
	font-weight: bold;
}
.booking-conditions ul {
	padding: 0px;
}
.booking-conditions ul li {
	display: inline-block;
	margin-right: 10px;
	color: #666;
	font-size: 13px;
}
.booking-conditions ul li i {
	color: #ff4486;
}
.navi .navi-item .navi-link.active .navi-text {
	color: #ff4883;
}
.navi .navi-item .navi-link.active .navi-icon svg g [fill] {fill: #848484;}

.popover {max-width: 250px !important;width: 100% !important;}  
.feedback-form .form-group.word_sec {
    margin: 0;
}
.feedback-form textarea {
    width: 100%;
    background-color: #f3f6f9;
    padding: 10px;
    height: 150px;
    margin-bottom: 20px;
}
.feedback-form .btn.btn-sucess {
    width: 100px;
    background-color: #afc578;
    color: #fff;
    border-radius: 30px;
    transition: all 0.5s ease;
}
.feedback-form .btn.btn-sucess:hover {
    background-color: #839a4a;
}
.checked {
  color: orange;
}
.feedback-form .form-group.word_sec .rating_top ul li {
    display: inline-block;
    margin: 0;
}
.feedback-form .form-group.word_sec .rating_top ul {
    padding: 0;
    list-style: none;
}


.feedback-form .rating_top ul li {
    font-size: 29px;
    margin: 15px;
    cursor: pointer;
}

.feedback-form .innerText h1 {
    text-align: center;
    margin-bottom: 30px;
}


/* Rating Star Widgets Style */
.rating-stars ul {
  list-style-type:none;
  padding:0;
  
  -moz-user-select:none;
  -webkit-user-select:none;
}
.rating-stars ul > li.star {
  display:inline-block;
  
}

/* Idle State of the stars */
.rating-stars ul > li.star > i.fa { 
  color:#ccc; /* Color on idle state */
}

/* Hover state of the stars */
.rating-stars ul > li.star.hover > i.fa {
  color:#FFCC36;
}

/* Selected state of the stars */
.rating-stars ul > li.star.selected > i.fa {
  color:#FF912C;
}
label.error {
    color: #ff4486;
}label.success {
    color: #afc578;
}

.submit-area {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.submit-area .review-loader img {
    max-width: 40px;
}

.submit-area .btn-sucess {
    height: 40px;
}
.experience-form-isfalse,.scout-form-isfalse,.host-form-isfalse{
    display: none; 
} 
label.title-head {
    font-weight: 500;
}
.innerText p {
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    border: 1px solid #afc578;
    border-block-start-width: 9px;
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
}
.price.manage-list-traveler .delete, .price.manage-list-traveler .add-review-btn {
	padding-top: 10px;
}
.popover .popover-header {
	text-align: center;
	text-transform: uppercase;
	font-family: 'Barlow', sans-serif;
}
.confirmation-buttons .btn-primary, .confirmation-buttons .btn-secondary {
	background-color: #afc578;
	border-color: #afc578;
	font-family: 'Barlow', sans-serif;
	font-size: 17px;
	color: #fff;
}
.confirmation-buttons .btn-secondary {
	background-color: #ff4883;
	border-color: #ff4883;
}
.confirmation-buttons .btn-primary:hover {
	background-color: #839a4a !important;
	border-color: #839a4a !important;
}
.confirmation-buttons .btn-secondary:hover {
	background-color: #e81962 !important;
	color: #fff !important;
	border-color: #e81962 !important;
}
.confirmation-buttons .btn-primary::before, .confirmation-buttons .btn-secondary::before {
	content: "";
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	display: block;
}
.confirmation-buttons .btn-primary::before {
	content: "\f00c";
	font-size: 15px;
	margin: 2px 6px 0px 0px;
}
.confirmation-buttons .btn-secondary::before {
	content: "\f00d";
	margin: 0px 7px 0 0px;
	position: relative;
	top: 1px;
}
.greenactive {
    background-color: #afc479 !important;
    color: #fff !important;
}
.text-hover-primary:hover, a.text-hover-primary:hover {
	color: #ff4883 !important;
}
span.label.label-sm.label-dot.label-offline {
    background-color: orange;
}
.user-listing-main.current_active {
	background-color: #afc578;
}
.user-listing-main.current_active .userListing-inn span {
	color: #fff !important;
}
.wishList-main .price-div {
	min-height: 71px;
}
.wishList-main .booking-conditions {
	min-height: 64px;
}
.send-textarea textarea {
	border: 1px solid #f0f0f0 !important;
	padding: 6px 10px !important;
	margin-right: 20px;
	height: 60px;
}
.send-textarea {
	display: flex;
	padding: 20px 0 0 0;
}
#msg_send_btn {
	height: 60px;
}
.SendBtn i {font-size:23px;padding:0;}
.travler-info img {
	max-width: 80px;
	border-radius: 5px;
	width: 100%;
	margin-right: 10px;
}
.host-data p span i {
	font-size: 16px;
}
.wishList-main a.chat-host {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
}
.wishList-main a.chat-host i {
	font-size: 43px;
}
.wishList-main a.chat-host:hover i {
	color: #ff4883 !important;
}
.heading-host-data {
	border-bottom: 1px solid #ececec;
	margin-bottom: 15px;
	padding-bottom: 3px;
}
.view-host-more i {
	font-size: 38px;
	color: #afc578;
}
.view-host-more:hover i {
	color: #ff4883;
}
.card-heading-custom {
	padding: 1rem 2.25rem 1rem;
	border-bottom: 1px solid #ececec;
}
.card-heading-custom h3 {
	font-size: 1.275rem;
	margin: 0;
}
.card-heading-custom a i {
	color: #fff !important;
	font-size: 25px !important;
}
.info-book-detail a {
	display: inline-flex;
	align-items: center;
}
.info-book-detail a i {
	margin: 0 5px 0 0;
}
.text-font-change .font-size-sm {
	font-size: 13px;
}
.info-book-detail .left-icon-host a {
	width: 100%;
}
.info-book-detail .left-icon-host a:hover i, .exp-box-btm-list a:hover i {
	color: #8e8e8e !important;
}
.text-font-change .flex-lg-fill:hover i {
	color: #9f9faa !important;
}
.text-font-change .flex-lg-fill {
	cursor: pointer;
}
.font-size-dec {
    font-size: 13px;
}
.text-font-change .flex-lg-fill:hover .flex-column span {
	color: #ff4883 !important;
}
.card.card-custom > .card-body.pb-custom {
	padding-bottom: 20px;
}
#add-exp .form-group span.word-limit-text, #add-exp .form-group span.word-limit-text * {
	color: #3F4254;
}
#add-exp .form-group span.word-limit-text.counter-ok * {
	color: #afc578;
}
#add-exp .form-group span.word-limit-text.counter-ok {
    color: #3F4254;
}
div#experience-images .image-input-empty:before {
    content: "\f12c";
    position: absolute;
    font-family: 'Flaticon2';
    font-size: 50px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.toast.toast-success {background-color:#afc578 !important;}
div#experience-images .image-input-empty.icon-before-hide:before {
    z-index: -1;
}
.exp-box.no-data-found.no-data-backend {
    width: 100%;
}
.exp-box.no-data-found.no-data-backend img {
    max-width: 270px;
}
.exp-box.no-data-found.no-data-backend h3 {
    margin: 0 0 30px 0;
}
select.country-code-select {
    border: none;
    background-color: #F3F6F9;
    margin-right: 4px;
    border-radius: 10px 0 0 10px;
    padding: 0 7px;
}
.card-body.admin-host-list {
	padding: 15px 0;
}
.admin-host-list h6 {
	font-size: 15px;
}
.view-host-img-sec a {
	color: #3f4254;
}
.view-host-img-sec i {
	color: #ff4883;
}
.btn.btn-light.view-host {
	padding: 4px 7px 6px 7px;
	position: relative;
	top: -1px;
	margin-left: 7px;
}
.btn.btn-light.view-host i {
	color: #97b354;
	padding: 0;
}
.scout-comission:hover {
	background-color: #ff4883;
	color: #fff !important;
}
.scout-comission {
	margin-left: 10px;
	cursor: pointer;
}
#action-scout-form input[type="text"] {
	border: 1px solid #e3e3e3;
	padding: 10px;
	border-radius: 5px;
	width: 80%;
}
.image-loader-card {
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
    z-index: 9;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loader.experience-loader {
    background-color: #ff4883;
}
.profileCountryCode {
	width: 100px !important;
	margin-right: 4px;
}
.profileCountryCode button.btn.dropdown-toggle {
	background-color: #F3F6F9 !important;
	border-color: #F3F6F9 !important;
	padding-top: 14px !important;
	padding-bottom: 14px !important;
	border-radius: 5px 0 0 5px;
}
.scout_other_lang .dashboardcode-bsmultiselect .dropdown-menu li label::after {
    left: -18px;
    top: 8px;
}
button.fc-addResetAllButton-button span {
    color: #fff !important;
    font-family: "Font Awesome 5 Free" !important;
    font-weight: 900 !important;
}
#basic-deatil ul li input {
	margin: 0;
}
.select2-container--default.select2-container--focus .select2-selection--multiple, .select2-container--default.select2-container--focus .select2-selection--single, .select2-container--default.select2-container--open .select2-selection--multiple, .select2-container--default.select2-container--open .select2-selection--single, .form-control:focus,
.bootstrap-select.show > .dropdown-toggle.btn-light, .bootstrap-select.show > .dropdown-toggle.btn-secondary {
	border-color: #ff4883 !important;
}
.manage-personal-info .form-group button.btn.dropdown-toggle {
	background-color: #f3f6f9 !important;
	height: calc(1.5em + 1.65rem + 2px);
	padding: 0.825rem 1.42rem;
	border: none;
}
.profile-right_form .add-host-lang-select ul.form-control {
	height: calc(1.5em + 1.65rem + 2px) !important;
	padding: 6px 1.42rem 0.825rem 1.42rem;
	background-color: #F3F6F9;
	border-color: #F3F6F9;
}
.notseenActive-main, .alreadySeenInactive-main {
	border-bottom: 1px solid #eee;
	padding-bottom: 1.5rem !important;
}
a.notification_an_lfz {
    display: flex;-webkit-display: flex;-ms-display: flex;
    align-items: flex-start;-webkit-align-items: flex-start;-ms-align-items: flex-start;
}
.show .btn.btn-clean.btn-dropdown {
	background-color: #95bb37 !important;
}
.notification_an_lfz:hover .btn.btn-icon {
	background-color: #afc578 !important;
}
.notification_an_lfz:hover .btn.btn-icon svg g path {
	fill: #fff !important;
}
.notification_an_lfz .btn.btn-icon {
	height: 20px;
	width: 20px;
	border-radius: 5px !important;
	margin-right: 6px;
}
.notification_an_lfz .btn.btn-icon svg {
	width: 16px !important;
}
.label.label-lg {font-size: 0.8rem !important;}
.modal .modal-header .close:hover {
	color: #ff4883 !important;
}
#basic-deatil .select2-selection.select2-selection--multiple {
	height: 44px;
}
.active-status {padding: 0px !important; height: 10px !important; width: 10px !important; border-radius: 50% !important; background: #afc578 !important; box-shadow: 0px 0px 0px 2px #fff, 0px 0px 0px 4px #afc578; margin-left: 8px !important; }
.inactive-status {padding: 0px !important; height: 10px !important; width: 10px !important; border-radius: 50% !important; background: #ff4883 !important; box-shadow: 0px 0px 0px 2px #fff, 0px 0px 0px 4px #ff4883; margin-left: 8px !important; }
img.price-down-arrow{ animation-name: bounce-2;animation-timing-function: ease;  animation-duration: 2s; animation-iteration-count: infinite; width: 12px; margin-left: 2px;}
.notification_an_lfz.notseenActive {display: flex;-webkit-display: flex;-ms-display: flex;align-items: flex-start;-webkit-align-items: flex-start;-ms-align-items: flex-start;}
.confirmation-content {text-align: center;}
#add-exp .form-group span.select2-selection__choice__remove::before {content: none;}

 @keyframes bounce-2 { 0%   { transform: translateY(0); }   50%  { transform: translateY(-15px); }   100% { transform: translateY(0); } }

/**WISHLIST CSS STARTS HERE**/

@media (max-width:1500px) {
.left-icon-host {
	width: 100% !important;
	max-width: 100% !important;
	flex: 0 0 100%;
}
}

@media (max-width:1432px) {
.yellow-bg-btn, .green-bg-btn, .pink-bg-btn {font-size: 12px;padding: 7px 10px !important;}
a.pink-bg-btn {padding: 8px 10px !important;}
.blogImageCropper button.pink-bg-btn {padding: 0.65rem 1rem !important;font-size: 1rem;}
}

@media (min-width:768px) and (max-width:1300px) {
.wishList-main a.chat-host {position: relative;right: 0;top: 0;transform: translateY(-50%);-webkit-transform: translateY(0%);-ms-transform: translateY(-50%);margin-top: 10px;}
.host-data p span {word-break: break-all;}
}

@media (max-width:1152px) {
.yellow-bg-btn, .green-bg-btn, .pink-bg-btn {width: 100%;margin: 0 0 5px !important;}
.blogImageCropper button.pink-bg-btn {width: auto;padding: 0.73rem 1rem !important;margin: 0.25rem !important;}
.price.manage-list-traveler {width: 100%;}
.icons-same-class .pink-bg-btn {width: auto;}
#notificationCount.green-bg-btn {width: auto;margin-left: 10px !important;margin-bottom: 0 !important;}
#add-partners-form .pink-bg-btn {width: auto;margin: 0.25rem !important;}
}


@media (max-width: 991px) {
.login_sec_tab .dashboard_sec {height: 100%;background-color: #ffffff;position: fixed;max-width: 240px;width: 100%;box-shadow: 5px 5px 25px rgba(0,0,0,0.1);z-index: 9999;left: -310px;transition: all 0.5s ease;}
.dashboard_sec.left-slide-menu {left: 0;}
.blog-featured_img .w-50 {width: 100% !important;}
.right_form_scout {padding-left: 0px;width: 100%;padding-top: 55px;}
.login_sec_tab .tab button {padding: 14px 10px;font-size: 13px;border-bottom: 1px solid #f3f3f3;}
.right_form_scout h1 {font-size: 20px;}
div#kt_header {padding: 10px 0;}
.login-content {max-width: 100% !important;}
form#kt_login_signin_form .font-size-h4 {text-align: center;}
#page-about-us .form-group.row {margin: 0;}
#page-about-us .form-group.row .my-error {margin-bottom: 15px;}
.new-pass-space {margin-top: 15px;}
#kt_aside {z-index: 99999;}
#kt_chat_aside.offcanvas-mobile {z-index: 99999;}
#kt_header_mobile_topbar_toggle i {color: #fff;font-size: 20px;}
.header .topbar .chat-notification-icon i {color: #afc578;}
.wishList-main .manage-book-info .title span {padding: 0 20px;}
.row.manage-personal-info {margin: 0;}

.header-mobile-fixed .topbar {position: relative !important;background-color: transparent !important;width: 300px;}
.topbar-mobile-on.header-mobile-fixed .topbar {z-index: 96;margin-top: 0;box-shadow: inherit !important;border: none;}
.topbar-mobile-on .header-mobile {z-index: 99999;}
.scoutlist-table img {height: auto;width: 50px;}
.scoutlist-table .action-scout-btn {margin-top: 0;}
}

@media (max-width: 767px) {
#personal_details .form-group {padding-right: 0;padding-left: 0 !important;}
.icons-same-class .justify-content-between .card-custom {max-width: 100%;width: 100%;flex: 0 0 100%;-webkit-flex: 0 0 100%;-ms-flex: 0 0 100%;}
.icons-same-class .justify-content-between {flex-flow: column;-webkit-flex-flow: column;-ms-flex-flow: column;align-items: start !important;}
.icons-same-class .justify-content-between .card-heading-custom {flex-flow: row;-webkit-flex-flow: row;-ms-flex-flow: row;align-items: center !important;}
.exp-list-main .exp-box .exp-content .title a {min-height: inherit;margin: 10px 0;}
.exp-list-main .exp-box .exp-content .price-div, .wishList-main.exp-list-main .booking-conditions {min-height: inherit;}
.mt-res-class {margin: 18px 0 0 0;}
.icons-same-class .justify-content-between.scout-booking-details .card-custom {max-width: 100%;}
#add-partners-modal {padding: 0 !important;}
#end_date_div {padding-left: 0;}
.modal-body .form-group.pl-0 {padding-right: 0 !important;}
.add-scout-cls .form-group.pl-0-sm {padding-left: 0;}
.right-content-new{top: 115px; max-width: 90%;}
.children-discount-div .years-free {width: 100%;}
.children-discount-div .children-upto + .children-upto {flex-flow: column;-webkit-flex-flow: column;-ms-flex-flow: column;}
.children-discount-div .children-upto + .children-upto .years-free + .years-free {padding: 6px 20px;}
}

@media (max-width:678px) {
.scoutlist-table .action-scout-btn {margin-top: 5px;}
.active-status {margin-top: 8px;}
}

@media (max-width:642px) {
.delete.btn.btn-danger.btn-sm.action-testimonial-delete-btn {margin-top: 10px;}
.blog-list-mb .delete {margin-top: 6px;}
}

@media (max-width:641px) {
#guru .yajra-datatable-2 .action-scout-list-delete-btn {margin-top: 6px;}
}
@media screen and (max-width: 575px) {
.login-form.login-signup.custom-login .form-group.d-flex {flex-flow: column;}
}
@media (max-width:536px) {
#DataTables_Table_0 .action-add-edit-btn {margin-bottom: 0px;}
}

@media (max-width:480px) {
#guru .dataTables_filter input[type="search"] {width: 100%;display: block;margin: 0;}
#guru .card.card-custom > .card-header .card-title .action-add-edit-btn {margin-top: 10px;}
#add-partners-modal form .form-group input {max-width: 77%;	flex: 0 0 77%;}
}

@media (max-width:455px) {
.flex-column-sm {flex-flow: column;-webkit-flex-flow: column;-ms-flex-flow: column;}
.flex-column-sm .left-cart-label {margin-bottom: 10px;}
}
@media (max-width:400px) {
.wishList-main a.chat-host {position: relative;right: 0;top: 0;transform: translateY(-50%);-webkit-transform: translateY(0%);-ms-transform: translateY(-50%);margin-top: 10px;}
.host-data p span {word-break: break-all;}
}
@media (max-width:360px) {
#DataTables_Table_0 .action-add-edit-btn {margin-bottom: 6px;}
}


span.bell_counter.active {background-color: #ff4883; width: 14px;height: 14px;line-height: 12px;color: #fff;font-size: 10px;border-radius: 50%;position: absolute;right: 8px;top: 14px;
}
.topbar-item .pulse.pulse-primary .pulse-ring {
    border-color: rgb(255 72 131 / 75%);
}
.topbar-item .btn.btn-icon.btn-clean:focus {
    background-color: #95bb37;
}
#add-exp .form-group span.word-limit-text b {
	color: #ff4486;
}
.add-new-cordinate input[type="radio"] {
    width: 17px;
    height: 17px;
}
.add-new-cordinate span {
    position: relative;

}
.add-new-cordinate span::before {
    width: 20px;
    height: 20px;
    display: inline-block;
    background-color: #fff;
    border-radius: 50%;
    border: 2px solid #ccc;
    position: relative;
    z-index: 1;
    content: "";
    top: 4px;
    margin: 0 4px 0 0px;
}
.add-new-cordinate .form-group {
    position: relative;
}
.add-new-cordinate input[type="radio"] {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 4px;
    left: 0;
    z-index: 999;
    opacity: 0;
     cursor: pointer;
}
.add-new-cordinate .form-group {
    position: relative;
    margin-right: 15px !important;
}
.add-new-cordinate .form-group input:checked ~ span::after {
    content: "";
    width: 12px;
    height: 12px;
    position: absolute;
    top: 8px;
    left: 4px;
    background-color: #ff4885;
    z-index: 999;
    border-radius: 50%;
}
.add-new-cordinate .form-group input:checked ~ span::before {
    border-color: #ff4885;
}
/* .form-group.row.contact-scout-form {
    padding: 20px 5px;
} */
.form-group.row.contact-scout-form.gray-bg {
    background-color: #f4f4f4;
    border-radius: 5px;
}
.min-num-part .text-euro {
	line-height: 22px !important;
	margin: 0 7px 0 0;
	color: #ff4882;
	font-style: normal;
}
.featured-img-new .image-input-wrapper {
    height: 323px;
}
.imageCropperModal .modal-dialog {
    max-width: 1000px;
}
.disablein {
    background-color: #d8d8d8 !important;
}
.dropzone.dropzone-default.dropzone-primary {
    border-color: #ff4883;
}
i.notification-date {
    font-size: 12px;
    display: block;
}
.modal-backdrop + .popover {
    z-index: 9999;
}
.booking-conditions ul li i.fa-percent {
    font-size: 14px;
}
.popover.confirmation.show {z-index: 9999;}
.icon-md-custom {
    font-size: 14px !important;
    position: relative;
    bottom: 1px;
}
span#notificationClear {
    width: auto;
    margin-left: 10px !important;
    margin-bottom: 0 !important;
}
.fc-timegrid-event-harness {
    background-color: #ff4883;
    cursor: pointer;
}
.fc-timegrid-event-harness:hover {
    background-color: #afc578;
}


/** 09-03-2021 Css-Starts-here **/
span.bal-text i {
    color: #ff4883;
    font-size: 16px;
    width: auto !important;
    margin: 0px 3px 0px 5px;
    position: relative;
    bottom: 1px;
}
.certificate-sec .form-group {
    display: flex;
    justify-content: space-between;
}

.certificate-sec .custom-file-label::after {
		display: none;
	}
	
	.plus-icon i {
		color: #fff !important;
		font-size: 15px;
		padding-right: 5px;
	}	
	.certificate-sec .col-form-label {
		font-weight: 600;
	}
	.basic {
		font-weight: 600;
		text-transform: uppercase;
		width: max-content;
		color: #000;
		margin: 0;
	}
	.electronic_col .certificate-sec .custom-file-label {
			width: 70%;
			left: 0;
		}
		#person_name {
			height: 45px;
		}
		#guru .fas {
			width: 20px;
		}




/** 09-03-2021 Css-Ends-here **/

/** 10-03-2021 Css-Starts-here **/
.symbol.symbol-100 .symbol-badge {background-color: #afc578 !important;}
.svg-icon.svg-icon-success svg g [fill] {fill: #afc578 !important;}
.symbol.symbol-light-success .symbol-label {color: #afc578;}
.btn.btn-light-primary:focus:not(.btn-text) {background-color: #e54176 !important;}
.dropzone.dropzone-default .dz-remove{font-size: 14px !important;}

/** 10-03-2021 Css-Ends-here **/




/** 12-03-2021 Css-Starts-here **/
.custom-control.custom-switch {
    margin-top: 58px;
}
.payment-full-modal label::before {
    position: absolute;
    left: -20px;
    top: 2px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    border: 2px solid #bebebe;
    content: "";
}

.payment-full-modal label {
    padding-left:5px;
    position: relative;
    cursor: pointer;
}
.payment-full-modal input[type="radio"] {
    width: 20px;
    height: 20px;
    position: relative;
    z-index: 9;
    bottom: 2px;
    opacity: 0;
}
.payment-full-modal input:checked ~ label::before {
    border-color: #ff4883;
}
.payment-full-modal input:checked ~ label::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    left: -16px;
    background-color: #ff4883;
    top: 6px;
    border-radius: 50%;
}
#add-update-business select, #add-update-business input {
    height: 45px;
    border: 1px solid #ccc;
}
.form-group.payment-col {
    display: none;
    justify-content: space-between;
    align-items: center;
}
.form-group.payment-col input {
    width: 70%;
    height: 41px;
    border-radius: 5px;
    border: 1px solid #c8c8c8;
}
.form-group.total-pay {
    text-align: right;
    margin: 0;
}
.form-group.total-pay p {
    margin: 0;
}
.payment-col label.error {
    position: absolute;
    right: 25px;
    margin-top: 70px;
}
.certificate-sec .custom-file-label {
    width: 100%;
    text-align: center;
    border-radius: 5px !important;
    background-color: transparent;
    color: #b4c578;
    font-weight: 600 !important;
    left: auto;
    border: 2px solid #afc578;
}
.certificate-sec .custom-file-label i {
    color: #afc578;
    font-size: 15px;
    margin: 0 5px 0 0;
}
input#certificate-file {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 99;
    opacity: 0;
}
/** 12-03-2021 Css-Ends-here **/




/*** 17--3-2021 Css-starts-here ***/
.years-free input {
    width: 120px !important;
}

    @media screen and (max-width:320px) {
    .years-free input {
    width: 70px !important;
}
}


/*** 17--3-2021 Css-Ends-here ***/
.pac-container {z-index: 99999 !important;}

/***FISCALIZATION CSS STARTS HERE***/
.fiscalization-main .accordion.accordion-toggle-plus .card .card-header .card-title[aria-expanded="true"] {color: #ff4883;}
.fiscalization-main .accordion.accordion-toggle-plus .card .card-header span i {font-size: 15px;position: relative;bottom: 1px;}
.fiscalization-main .custom-control-input:checked ~ .custom-control-label::before {background-color: #ff4883;border: none;}
.fiscalization-main .custom-control-input:focus:not(:checked) ~ .custom-control-label::before {border-color: #ff4883;}
.basic.fiscalization-heading {width: 100%;margin-bottom: 10px;border-bottom: 1px solid #eee;padding-bottom: 10px;font-size: 20px;}
.add-scout-cls #fsclzn-business-form input[type="text"] {height: 44px;}
.add-scout-cls #fsclzn-business-form input[type="number"] {border-color: #ccc;}
/***FISCALIZATION CSS STARTS HERE***/