/*********** custom css start here *******/
*{outline:none;border:none;}
a:hover{text-decoration:none;}
img{max-width: 100%;}
input:focus, select:focus{box-shadow:none;outline:none !important;}
.btn:focus{box-shadow:none;}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle{background-color:none !important;border-color: #005cbf !important;}
body{font-family: 'Barlow', sans-serif; color: #333;padding:69px 0 0;}
.curly-font{font-family: 'Pacifico', cursive;}
.pink-bg {background: #ff4486; color: #fff !important; border-color:#ff4486;}
.pink-bg:hover {background-color: #e81962;border-color: #e81962;}
.green-bg {background: #afc578; color: #fff !important; border-color:#afc578;}
.green-bg:hover, .contact-form form .submit-btn:hover, .green-bg:focus, .btn.btn-success.filter-collapse-btn:hover, .btn.btn-success.filter-collapse-btn:focus {background-color: #839a4a !important;border-color: #839a4a !important;box-shadow: inherit !important;}
.btn.btn-success.filter-collapse-btn:hover, .btn.btn-success.filter-collapse-btn:focus {color:#fff !important;}
.pink-color {color: #ff4486; }
.pink-color:hover {color: #e81962;}
.green-color {color: #afc578; }
.pink-bg:focus, .btn-danger:not(:disabled):not(.disabled):active {background-color: #e81962;border-color: #e81962;box-shadow: none !important;}
.green-bg:focus, .btn-success:not(:disabled):n(.disabled):active {background-color: #839a4a !important;border-color: #839a4a !important;box-shadow: none !important;}

/********* nav start here ********/
.custom-nav {background: #fff !important; padding: 0px;z-index: 999999;top:0;}

.custom-nav a.navbar-brand {padding-left: 15px;}
.custom-nav #main-menu {text-align: center;}
.custom-nav #main-menu ul.navbar-nav {margin-left: auto; margin-right: auto;}
.custom-nav #main-menu ul.navbar-nav .nav-item{padding-left:20px; padding-right:20px;display: inline-flex;align-items: center;}
.custom-nav #main-menu ul.navbar-nav .nav-item:nth-child(7) {padding-right: 30px;}
.custom-nav #main-menu ul.navbar-nav .nav-item a {color: #000; font-size: 16px; font-weight: 400;  transition: all 0.5s ease; padding: 0px;}
.custom-nav #main-menu ul.navbar-nav .nav-item a:hover{color:#ff4486;}


.custom-nav #main-menu ul.navbar-nav .login-btn {padding: 0px 5px;}
.custom-nav #main-menu ul.navbar-nav .register-btn {padding: 0px 5px;}
.custom-nav #main-menu ul.navbar-nav .nav-item .btn {padding: 5px 20px; font-size: 14px; font-weight: 500;}
.custom-nav .become-scout {border-radius: 0px; font-size: 18px !important; font-weight: 500; padding: 20px 30px;}
.custom-nav { box-shadow: 0px 0px 10px rgba(0,0,0,0.2);}
.custom-nav #main-menu ul.navbar-nav .active a {color: #ff4486;}

.custom-nav #main-menu ul.navbar-nav .nav-item .btn i.fa-lock {margin-right: 4px;}

.dropdown-scout {position: absolute;background-color: #fff;width: 100%;top: 100%;right: 0;padding: 0;border-radius: 0;border: 1px solid #eaeaea;box-shadow: 1px 3px 10px #dadada;-webkit-box-shadow: 1px 3px 10px #dadada;-ms-box-shadow: 1px 3px 10px #dadada;display:none;}
.dropdown-scout ul {padding: 0;margin: 0;list-style: none;text-align: left;}
.dropdown-scout ul a {display: block;padding: 10px 10px;font-size: 14px;color: #636262;}
.dropdown-scout ul a i {width: 25px;}
.dropdown-scout::before {content: "";position: absolute;border-left: 8px solid transparent;border-right: 8px solid transparent;border-bottom: 6px solid #fff;top: -6px;left: 0;right: 0;width: 0;margin: 0 auto;}
.dropdown-scout ul a:hover {background-color: #efefef;color: #000;}
.dropdown-scout ul a:hover i {color: #ff4883;}
span.scout-img {width: 35px;height: 35px;display: inline-block;border-radius: 50%;background-color: #fff;margin-right: 5px;overflow: hidden;}
.custom-nav .scout-login .become-scout {padding: 15.5px 10px;}
.custom-nav .scout-login .become-scout i {margin-left: 7px;margin-top: 3px;font-size: 13px;}

/************ banner css start here **********/

.home-banner .carousel-item img {width: 100%;}
.home-banner .carousel-inner .carousel-item .slide-content{display: flex; align-items: center; justify-content: center;}
.home-banner .carousel-inner .carousel-item .carousel-caption{top:inherit !important; bottom:inherit !important;}
.home-banner .carousel-inner .carousel-item .carousel-caption .curly-font {font-size: 30px;}
.home-banner .carousel-inner .carousel-item .carousel-caption h3 {font-size: 80px;font-weight: 700;margin: 0;}
.home-banner .carousel-inner .carousel-item .carousel-caption p {font-size: 20px;line-height:10px;margin-bottom: 35px;}
.home-banner .carousel-inner .carousel-item .carousel-caption .banner-btn {font-size: 20px; padding: 15px 50px;
border-radius: 100px; box-shadow: 0px 0px 0px 4px rgba(255,255,255,0.3);}
.home-banner ol.carousel-indicators li {height: 12px; width: 12px; border-radius: 50%; opacity: 1; border:none;}
.home-banner ol.carousel-indicators li.active {background:#afc578;}
.home-banner .carousel-indicators {bottom: 49px;}

/************* form search start here *********/

form.search-form {padding: 10px; background: #fff !important; margin-top: -35px; position: relative; z-index: 99; border-radius: 80px;
    box-shadow: 0px 7px 18px rgba(0,0,0,0.4); height:80px;margin-bottom: 0;}
.form-control:focus{ outline:none !important; box-shadow:none !important;}
form.search-form .form-group {width: 26%; margin-bottom: 0px; display:inline-block;border-right:1px solid #eee;}
form.search-form button.btn {float: right; font-size: 20px; border-radius: 50px; padding: 10px 50px; height: 60px;}
form.search-form .form-group input, form.search-form .form-group select {border: none; height: 50px; /*border-right: 1px solid #eee;*/
border-radius: 0px; background: none !important; margin: 5px 0px;}
form.search-form .form-group input::-webkit-input-placeholder {color: #495057;}
form.search-form .form-group input:-ms-input-placeholder {color: #495057;}
form.search-form .form-group input::placeholder {color: #495057;}
form.search-form .form-group select {border-right:none; border-radius: 0px;  -webkit-appearance: none;
-moz-appearance: none; appearance: none; position: relative; background:url(../images/down-arrow.png) no-repeat right 10px center !important; cursor: pointer;}
.search-form input#location {background: url(../images/loc-icon-form.png) no-repeat right 15px center ;}

/********* how it work section start here *********/
section.how-it-work {width: 100%; padding: 60px 0px 90px 0px; text-align: center;}
.main-heading {margin-bottom: 60px;}
.main-heading h5{font-size:20px;}
.main-heading h3{font-size:30px; font-weight:600; position:relative;}
.main-heading h3::after{position:absolute; left:0; right:0; margin:0 auto; content:''; width:40px; height:3px; background:#ff4486; bottom: -10px;}
.work-tabs .tab-content .tab-pane ul li a.active::before {color: #fff;}

.team-section .slick-slide {height: auto;}
section.how-it-work .step {padding: 0px;background: #f8f8f8; border: 1px solid #eee; border-radius: 8px; position: relative; padding-bottom:0px; transition: all 0.5s ease;min-height: 290px;}
section.how-it-work .step a {display: block;padding: 30px; padding-bottom: 60px;}
section.how-it-work .step h4 {font-size: 20px; font-weight: 600; color: #333;}
section.how-it-work .step p {font-size: 15px;color: #666; margin-bottom:0px;}
section.how-it-work .step .cloud-span {display: inline-block; background: url(../images/cloud-bg.png) no-repeat center center; width: 100px; margin-bottom: 10px;}
section.how-it-work .step span.count-num {position: absolute; width: 64px; height: 64px; left: 0; right: 0; margin: 0 auto;
background: #fff; display: flex; align-items: center; justify-content: center; border-radius: 50%; bottom: -30px; color: #ff4486;
box-shadow: 0px 10px 9px rgba(0,0,0,0.3); font-size: 20px; font-weight: 500;}
.step:hover {background: #ff4486 !important;}
.step:hover img{filter: brightness(0) invert(1);}
section.how-it-work .step:hover h4, section.how-it-work .step:hover p{color:#fff;}



/********* how it work section ends here *********/

/******** featured-exp start here ***********/
.featured-exp{width:100%; max-width:100%; padding:60px 0px; background:url(../images/lines-bg.jpg) no-repeat; background-size:cover;}
.featured-exp .exp-box .exp-img img {max-width: 100%; border-radius: 6px 6px 0px 0px;}
.exp-box {background: #fff; border-radius: 4px; box-shadow: 0px 5px 15px rgba(0,0,0,0.2); margin-bottom: 15px; margin-top: 15px;}
.exp-box .exp-content {padding: 15px;}
.exp-box .exp-content .rating-price {display: flex; align-items: center;}
.exp-box .exp-content .rating-price .rating { width: 100%;}
.rating ul{padding:0px; margin-bottom: 0px;}
.rating ul li {display: inline-block; color: #afc578;}
.rating ul .filled-star {color: #ffc600;}
.rating ul .empty-star {color: #ddd;}
.exp-box .exp-content .rating-price .rating a {font-size: 16px;font-weight: 500; color: #333; margin-bottom: 8px; transition: all 0.5s ease; display: block; line-height: 20px; min-height: 40px; text-transform: uppercase;}
.exp-box .exp-content .rating-price .rating a:hover{color:#ff4486;}
.exp-box .exp-content .rating-price .price {display: flex;}
.exp-box .exp-content .rating-price .price {display: flex; min-width: 30%; text-align: justify; justify-content: flex-end;position: relative;}
.exp-box .exp-content .rating-price .price .wishlist-span:hover{background:#e81962;}
.exp-box .exp-content .rating-price .price .wishlist-span {width: 36px; height: 36px; border-radius: 50%; display: flex;
align-items: center; justify-content: center; background: #ff4486; color: #fff; margin-left: 10px; transition: all 0.5s ease;}
.exp-box .exp-content .rating-price .price .wishlist-span i {margin-top: 1px;margin-left: 0px;}
.exp-box .exp-content .rating-price .price .price-span {font-size: 15px; color: #333333; margin-top: 6px;}
.scout-box {padding: 5px; display: flex; align-items: center; justify-content: space-between; border-radius: 4px;  transition: all 0.5s ease;}
.scout-box .scout-img-name img {max-width: 50px; border-radius: 4px; margin-right: 5px;}
.scout-box .scout-img-name .scout-name {font-size: 16px; font-weight: 500; color:#fff;}
.scout-box .scout-img-name .scout-name:hover{color:#000;}
.scout-box .scout-rating p {margin: 0px; font-size: 16px;}
.scout-box .scout-rating p i {color: #ffc600;}
.featured-exp .main-heading {margin-bottom: 60px; text-align: center;}
.booking-conditions ul {padding: 0px;}
.booking-conditions ul li {display: inline-block; margin-right: 10px; color:#666; font-size: 13px;}
.booking-conditions ul li i{color:#ff4486}
.exp-box .exp-img {overflow: hidden;}
.experience-round-btn {font-size: 20px;padding: 15px 50px;border-radius: 100px;margin: 30px auto 0;}
/********** video sec start here *******/

.video-sec .main-heading h3{color:#fff;}
.video-sec .main-heading {margin-bottom: 30px;}
.video-sec {width: 100%;max-width: 100%;text-align: center;background: url(../images/video-bg.jpg);padding: 50px 0px 0px;background-repeat: no-repeat;position: relative;z-index: 9;background-size: cover !important;}
.video-thumb img {max-width: 100%;} 
.video-sec .video-thumb { display: flex; align-items: center; justify-content: center; margin-bottom: -398px; position:relative;}
.video-sec .video-thumb .video{border: 3px solid #fff;object-fit: cover;}
.video-sec button.btn {background: none; border: none; color: #afc879; position: absolute; font-size: 66px;}
.video-sec p {color: #fff; font-size: 16px;}
.playpause {background-image: url(../images/play-btn.png);background-repeat: no-repeat;width: 50px;height: 50px;position: absolute;left: 0%;right: 0%;top: 0%;bottom: 0%;margin: auto;background-size: contain;background-position: center;}

/********** team -section start here************/
.team-section{width:100%; max-width:100%; background:url(../images/team-bg.jpg) no-repeat; padding-top: 357px; padding-bottom:60px; background-size:cover;}
.team-section .main-heading{text-align:center; margin-top:60px;}
.center.slider .slick-list.draggable {padding: 0px !important;}
.center.slider ul.slick-dots {display: none !important;}
.team-box {margin: 0px; padding:10px 10px; text-align: center;}
.team-box img {margin: 0 auto; border-radius: 50%; margin-bottom: 10px;}
.team-box h4 {font-size: 20px; font-weight: 600; color: #333;}
.team-box p {font-size: 15px; font-weight: 400; color: #666; min-height: 80px; margin-bottom:0px;}
.team-box .green-bg {border-radius: 50px;}
section.center.slider {display: flex;}
section.center.slider .slick-arrow {background: none; font-size: 29px; color: #666; outline:none;}
.team-box h4 .team-rating {font-size: 14px; color: #666;display: inline-flex;align-items: center;}
.team-box h4 .team-rating i{ color: #ffc600;margin-right: 4px;}
.team-section .slick-slider { display: flex; align-items: center;}
.team-section .slick-slider .slick-arrow {background: none; font-size: 30px; color: #444;}

.featured-exp.featured-exp-listing-grid {padding-bottom: 0;}
.team-box h5 {font-weight: 400;font-size: 17px;min-height: 20.4px;}
.team-box .contact-social {margin: 10px 0 0 0;justify-content: center;-webkit-justify-content: center;-ms-justify-content: center;}
.team-box .contact-social li a {width: 30px;height: 30px;font-size: 14px;}


/************ scouts section start here *****************/
.scouts{width: 100%; max-width: 100%; padding: 60px 0px;}
.scouts .main-heading{text-align:center;}
.scouts-box {display: flex;align-items: center;justify-content: space-between;padding: 10px;background: #f8f8f8; margin-bottom: 30px;min-height: 157px;}
.scouts .scouts-box > img {max-width: 110px;border-radius: 50%;margin-right: 15px;flex: 0 0 110px;-webkit-flex: 0 0 110px;-ms-flex: 0 0 110px;width:110px;height:110px;}
.scouts-box .scout-text a {color: #333; font-weight: 600; font-size: 16px; margin-bottom:5px;}
.scouts-box .scout-text .rating p {font-size: 14px;line-height: 20px;margin-bottom: 5px;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 3;-webkit-box-orient: vertical;}
.scouts-box .scout-text .rating a:hover{color:#dc3545;}
.scouts-box .scout-text .rating a {color:#ff4486;}


.partner marquee {display: flex;align-items: center;}

/***************** testimonial section start here ************/
.testimonials #customers-testimonials .owl-stage .item-details a {color: #ff4486;}
.testimonial-sec{width:100%; max-width:100%; padding:60px 0px; background:#f8f8f8;}
.testimonial-sec .main-heading{text-align:center;}
/* .testimonials #customers-testimonials .owl-stage .owl-item.active.center .item-details a {color: #000;} */
a.more-read {color: #afc578;}
a.less-read {color: #fd5a8d;}

.featured-exp-listing-grid .scout-main-info {
    height: 96.5%;
    top: 15px;
    width: 92.5%;
}
/***************************************************/
.testimonials{background-color: #f8f8f8;position: relative;padding-top: 80px;}

    /**.item {
            text-align: center;
            // padding: 20px;
            margin-bottom:80px;
    }

/****************************/
.testimonials{padding-bottom:60px;}
.testimonials #customers-testimonials .owl-item .draggable { padding: 0px !important;}
.testimonials #customers-testimonials .owl-item .draggable .slick-track { transform: inherit !important; width: 100% !important; margin: 0px !important;}
.testimonials #customers-testimonials .owl-item .draggable .slick-track .slick-slide { width: 100% !important;}

.owl-carousel .owl-prev {left: -70px; display:none;}
.owl-carousel .owl-next { right: -70px; display:none;}
.testimonials #customers-testimonials .owl-stage .owl-item { text-align: center;}
.testimonials #customers-testimonials .owl-stage .owl-item .item-details { background: url(../images/quote-left.png)  ,  url(../images/quote-right.png)  ; background-position:left top, bottom right; background-repeat:no-repeat; padding:10px; margin-bottom:20px;min-height: 190px;}
.testimonials #customers-testimonials .owl-stage .owl-item .item-details h5 { font-size: 20px; color: #aaa; font-weight: 600;min-height: 48px;}
.testimonials #customers-testimonials .owl-stage .owl-item .item-details p {font-size: 16px; font-style: italic; color: #aaa; line-height: 26px;}
.testimonials #customers-testimonials .owl-stage .owl-item .img-responsive { width: auto; margin: 0 auto; border-radius: 50%; border: 3px solid #aaa; width: 50px;    height: 50px;}
.testimonials #customers-testimonials .owl-stage .owl-item .testimonial-name { font-size: 16px; font-weight: 400; color: #aaa;}
.testimonials #customers-testimonials .owl-stage .owl-item .testimonial-name  .designation{ font-size: 16px; font-weight: 600; color: #999; display:block;}
.testimonials #customers-testimonials .owl-stage .center.active  .item-details { background-color: #afc578; padding: 10px; border-radius:6px; position: relative;}
.testimonials #customers-testimonials .owl-stage .center.active .item-details h5{ color:#fff;}
.testimonials #customers-testimonials .owl-stage .center.active .item-details p{ color:#fff;}
.testimonials #customers-testimonials .owl-stage .center.active .item-details:after{content: '';width: 0px;height: 0px;border-style: solid;border-width: 15px 15px 0px 15px;border-color: #afc578 transparent transparent transparent;display: inline-block;vertical-align: middle;position: absolute;bottom: -13px;left: 0;right: 0;margin: 0 auto;}
.testimonials #customers-testimonials .owl-stage .center.active .img-responsive {border-color: #afc578;}
.testimonials #customers-testimonials .owl-stage .center.active .testimonial-name {color: #666666;}
.testimonials #customers-testimonials .owl-stage .center.active .testimonial-name .designation{color: #333333;}
.testimonials .main-heading{text-align:center;}

/*************** partner start here *************/

section.partner {background: #ff4486; color: #fff; padding: 15px 0px;margin-top: 0px;}
.featured-exp-listing-grid + .partner {margin-top: 50px}
section.partner h3{margin: 0px;padding: 16px 0px; font-size: 30px; font-weight: 700; text-transform: uppercase; width: 270px;}
.partner ul {margin-bottom: 0px;display: flex;margin: 0px !important;padding: 0px !important;}
.partner ul li {display: inline-block; padding: 0px 30px;}
.partner ul li img{max-width: inherit; !important; width: auto !important;}



.scout-main-info {
	position: absolute;
	z-index: 999;
	background-color: #fff;
	width: 92.5%;
	left: 0px;
	top: 0;
	padding: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	margin: 0 auto;
	right: 0;
	opacity: 0;
	visibility: hidden;
	transition: all 0.5s ease 0s;
	height: 97%;
	display:none !important;
}
.experience-popup {
	z-index: 9999999;
	position: relative;
	display: block;
}
.popup-new-scout:hover .scout-main-info {
    opacity: 1;
    visibility: visible;
	display:block !important;
}
.scout-main-info p.limit-word {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
}
/*.popup-new-scout:hover .scout-main-info {
    display: block !important;
}*/
.detail-shadow-box {
	background-color: #fbfbfb;
	padding: 20px;
	border-radius: 5px;
	margin-bottom: 30px;
	box-shadow: 0px 3px 10px #e6e6e6;
	-webkit-box-shadow: 0px 3px 10px #e6e6e6;
	-ms-box-shadow: 0px 3px 10px #e6e6e6;
	clear: both;
}



.contact-country-code button.btn {width: 100% !important;max-width: 90px;height: 64px;background-color: #eceeef; margin-right: 7px;padding-top: 0;padding-bottom: 0;outline: none !important;}
.contact-form .my-error.contact-country-code input {max-width: 70%;}
.contact-country-code button.btn .filter-option-inner {line-height: 64px;padding: 0;}
.contact-country-code .dropdown-toggle::after {position: relative;left: 18px;top: 3px;}
.contact-country-code .dropdown.bootstrap-select.show {overflow: inherit;}
.contact-form .my-error.contact-country-code .dropdown-menu input {max-width: 100%;height: auto;margin-bottom: 7px;}
.contact-form .my-error.contact-country-code .dropdown-menu a.dropdown-item.active {background-color: #ff4486;}
.contact-form .my-error.contact-country-code .dropdown-menu input:focus {border-color: #ccc;}

/*********** footer start here ************/
footer{background:url(../images/footer-bg.jpg) no-repeat center top; background-size:cover; padding:30px 0px 60px 0px;position: relative;z-index: 9;}
footer .footer-social { text-align: right;}
footer .footer-social li {display: inline-block;}
footer .footer-social li { display: inline-block; margin-left: 10px;}
footer .footer-social li a{height:54px; width:54px; border-radius:50%;  background:#ff4486; display:flex; align-items:center; justify-content:center; color:#fff; transition: all 0.5s ease;}
footer .footer-social li a i{color:#fff;}
footer .footer-social li a:hover{background:#afc578;}
footer hr{width:100%; border-color:#eee;}
section.bottom-bar {width: 100%; padding: 10px 0px; text-align: center; color: #fff;  background: #afc578; font-size: 14px; font-weight: 400;z-index: 1;position: relative;}
section.bottom-bar p{margin:0px;}
footer h3 {font-size: 24px; font-weight: 700; color: #afc879; margin-bottom: 40px;}
footer ul.quick-links {padding: 0px;}
footer p{color:#666; font-size:16px;}
footer ul.quick-links li {display: inline-block; width: 49%; position: relative;   padding: 5px 0px 5px 0px;}
footer a{color:#666; font-size:16px; transition: all 0.5s ease;}
footer a:hover{color:#ff4486;}
footer i{color:#ff4486;}
footer ul.quick-links li:before {font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f105"; margin-right: 5px; color: #ff4486;}

/****************** listing page start here *************************/
.page-headings-section {width: 100%; padding-top: 60px;}
.page-headings-section .page-heading h3 { font-size: 20px; font-weight: 400;}
 .breadcrumb {padding: 0px; margin: 0px; text-align: right; justify-content: flex-end; background:none !important;}
.breadcrumb .breadcrumb-item a {color: #666;}
 .breadcrumb .breadcrumb-item.active { color: #ff4486;}
.breadcrumb-item+.breadcrumb-item::before{font-family: "Font Awesome 5 Free";   font-weight: 900;   content: "\f0da";   margin-right: 5px;    color: #ff4486;}
.inner-banner {background: url(../images/listing-banner.jpg) no-repeat; background-size: cover !important; text-align: center; height: 430px; display: flex; align-items: center; width:100%;}
.inner-banner h3 {font-size: 80px; font-weight: 700; color:#fff;}
.inner-banner p  {font-size: 20px; color:#fff;}
.featured-exp-listing-grid .exp-box .exp-img img {min-height: 140px; border-radius: 4px;}
.featured-exp-listing-grid .scout-box .scout-img-name .scout-name{font-size:14px;}
.featured-exp-listing-grid .exp-box .scout-img-name img {max-width: 28px;}
.featured-exp-listing-grid { background: none;position: relative;}
.exp-box .exp-content .title a {font-size: 14px;color: #333;font-weight: 500;line-height: 20px;min-height: 45px;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;}
.booking-conditions.exp-list-front-main ul {display: flex;align-items: center;flex-wrap: wrap;}
.exp-list-address_limit {overflow: hidden;text-overflow: ellipsis;display: -webkit-box !important;-webkit-line-clamp: 2;-webkit-box-orient: vertical;}
.price-div {
	font-size: 14px;
	display: flex;
	justify-content: space-between;
	padding: 4px 0 0px;
    line-height: 26px;
    min-height: 60px;
}
.featured-exp-details .right-map {
	height: 400px;
}
.featured-exp-listing-grid .scout-detail-list .exp-box {
	padding-bottom: 20px;
}
.featured-exp-listing-grid .list-view .exp-box .exp-img {min-height: 160px;}
.featured-exp-listing-grid .list-view .exp-box .exp-img img {min-height: 160px;}
.featured-exp-listing-grid .price-div {min-height: 42px;}
.sort-head {width: 100%; padding: 8px 15px; background: #f8f8f8; border: 1px solid #eee; border-radius: 6px;  display: flex;  align-items: center;   justify-content: space-between;}
.sort-head .sort-by {display: flex; align-items: center;}
.sort-head .sort-by label {width: 75px; font-size: 15px; color: #666; margin: 0px;}
.sort-head .sort-by select {background: #afc578; color: #fff;}
.sort-head .grid-list-btns .btn {background: none; border: none; padding: 0px; font-size: 25px; color: #333; margin-left: 10px; outline:none;position: relative;}
.sort-head .grid-list-btns .btn.active {background: none; border: none; padding: 0px; font-size: 25px; color: #afc578; margin-left: 10px; outline:none;}
.sort-head .grid-list-btns .btn:focus, .sort-head .grid-list-btns .btn:active{box-shadow:none !important; background:none !important;}
.filter-collapse-btn { background: none;  color: #afc578 !important;border-color: #afc578;width: 100%;}
.right-map iframe {border-radius: 4px;}
.newClass {position: fixed; top: 0;}
.price-span {font-size: 23px;font-weight: bold;}

 
.right-map {position: relative;overflow: hidden;height: 100vh;border: 4px solid #eee !important;border-radius: 4px;}
.right-map div#map {overflow: initial !important;position: static !important;}
.right-map.newClass {position: fixed;width: 308px;height: 100%;}
/********** list view css **********/

.featured-exp-listing-grid .list-view .col-lg-6.col-md-6.col-sm-12 {width: 100%; max-width: 100%; flex: 100%;}
.featured-exp-listing-grid .list-view .exp-box {display: flex; align-items: center; padding:15px;height: 100%;}
.featured-exp-listing-grid .list-view .exp-box .exp-content{padding:0px; padding-left: 15px;}
.featured-exp-listing-grid .list-view .exp-box .exp-img, .featured-exp-listing-grid .exp-box .exp-img img {width: 100%;}
.featured-exp-listing-grid .list-view .exp-box .exp-content {max-width: 50%;width: 100%;}
.featured-exp-listing-grid .list-view .exp-box .exp-img {max-height: inherit;height: auto;}
.single-testimonial .customer-testimonial-details .coutry-flag img {border-radius: 0px; width: 12px; height: 12px;display:none;}

.featured-exp-listing-grid .exp-box .exp-img {max-height: 140px; border-radius: 4px;min-height: 140px;}
.featured-exp-listing-grid .list-view .exp-box .exp-img {max-width: 50%;}
.featured-exp-listing-grid .exp-box {height: auto;margin-bottom: 0;}
.featured-exp-listing-grid .grid-container .col-lg-6.col-md-6.col-sm-12 {margin-bottom: 15px;}


.map-main-right {position: absolute;right: 0;top: 61px; height: 100%;}
.map-main-right.newClass {position: sticky;top: 81px !important;} 
 
/******** left filers start here **********/

.filter-collapse-btn{display:none; margin-bottom:15px;}
.featured-exp-listing-grid .filter-box {display: block;}
.filter-box { width: 100%;  position: relative;}
.filter-heading {padding:15px 10px; background: #afc578; border-radius: 4px 4px 0px 0px; border: 1px solid #f0f0f0; border-bottom: none;margin-top: 10px;}
.filter-heading h4 {font-size: 20px; color: #fff; margin-bottom: 0px; font-weight: 400;}
.filters-left { background: #f8f8f8; padding: 10px; border: 1px solid #f0f0f0; border-top: none; margin-bottom: 8px;position: relative;}
.left-testimonial-box{ background: #f8f8f8; padding: 10px; border: 1px solid #f0f0f0; border-top: none;}
.left-testimonial-box.overflow-box-list {min-height: 511px;overflow-y: scroll;}
.filters-left h5 {font-size: 16px; font-weight: 600; color: #333;}
.filters-left p {display: flex; align-items: center; margin-bottom: 10px; color: #333; font-size: 15px;}
.filters-left p input { padding: 0; height: initial; width: initial; margin-bottom: 0; display: none; cursor: pointer;}
.filters-left p label {position: relative; cursor: pointer; width: 100%;}
.filters-left p label:before {content:''; -webkit-appearance: none; background-color: transparent; border: 2px solid #afc578; padding: 5px; display: inline-block; position: relative; vertical-align: middle; cursor: pointer; margin-right: 5px; border-radius:2px;}
.filters-left p input:checked + label:after {content: ''; display: block; position: absolute; top: 5px; left: 6px; width: 6px; height: 14px; border: solid #afc578;
  border-width: 0 2px 2px 0; transform: rotate(45deg);}
/*.btn-success:focus, .btn-success:active{background:#28a745 !important; border-color:#28a745 !important;}*/
.single-filter button.green-bg {margin-top: 10px;padding: 6px 10px 8px;}
/********** price range css  start here ************/

/**********tooltip css starts here************/
span#wishlist-tooltip {position: absolute;width: 130px;text-align: center;background-color: rgba(0, 0, 0, 0.8);color: #fff;height: 30px;line-height: 30px;font-size: 14px;border-radius: 5px;top: -40px;left: -17px;z-index: 99;opacity: 0;visibility: hidden;transition: all 0.5s ease 0s;-webkit-transition: all 0.5s ease 0s;-ms-transition: all 0.5s ease 0s;}
span#wishlist-tooltip::after {border-left: 6px solid transparent;border-right: 6px solid transparent;border-top: 6px solid rgba(0, 0, 0, 0.8);position: absolute;content: "";left: 0;right: 0;width: 0;margin: 0 auto;bottom: -6px;}
#wishlist-show:hover + #wishlist-tooltip {opacity: 1;visibility: visible;}
span#wishlist-tooltip.for-home-page {left: 12px;}
span#wishlist-tooltip.for-detail-page {left: -36px;}
.grid-list-btns span#wishlist-tooltip {right: -52px;margin: 0 auto;left: auto;}
/**********tooltip css ends here************/

.slider-labels {
  margin-top: 10px;
  margin-bottom: 15px;
}
.time-range { margin-top: 35px;}
/* Functional styling;
 * These styles are required for noUiSlider to function.
 * You don't need to change these rules to apply your design.
 */
.noUi-target,.noUi-target * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.noUi-target {
  position: relative;
  direction: ltr;
}

.noUi-base {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
/* Fix 401 */
}

.noUi-origin {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
}

.noUi-handle {
  position: relative;
  z-index: 1;
}

.noUi-stacking .noUi-handle {
/* This class is applied to the lower origin when
   its values is > 50%. */
  z-index: 10;
}

.noUi-state-tap .noUi-origin {
  -webkit-transition: left 0.3s,top .3s;
  transition: left 0.3s,top .3s;
}

.noUi-state-drag * {
  cursor: inherit !important;
}

/* Painting and performance;
 * Browsers can paint handles in their own layer.
 */
.noUi-base,.noUi-handle {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

/* Slider size and handle placement;
 */
.noUi-horizontal {
  height: 10px;
}

.noUi-horizontal .noUi-handle {
    width: 17px !important;
    height: 17px !important;
    border-radius: 50%;
    left: -7px;
    border: 3px solid #fff;
    top: -7px;
    background-color: #ff4486;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.75);
}
.pl-0{padding-left:0px;}
/* Styling;
 */
.noUi-background {
  background: #D6D7D9;
}

.noUi-connect {
    background: #345DBB;
    -webkit-transition: background 450ms;
    transition: background 450ms;
    height: 10px;
    background: #ddd;
    border: 1px solid #bbb;
    box-shadow: inset 0px 1px 3px rgba(0,0,0,0.35);
}

.noUi-origin {
  border-radius: 2px;
}

.noUi-target {
  border-radius: 2px;
}

.noUi-target.noUi-connect {
}

/* Handles and cursors;
 */
.noUi-draggable {
  cursor: w-resize;
}

.noUi-vertical .noUi-draggable {
  cursor: n-resize;
}

.noUi-handle {
  cursor: default;
  -webkit-box-sizing: content-box !important;
  -moz-box-sizing: content-box !important;
  box-sizing: content-box !important;
}

.noUi-handle:active {
  border: 8px solid #345DBB;
  border: 8px solid rgba(53,93,187,0.38);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  left: -14px;
  top: -14px;
}

/* Disabled state;
 */
[disabled].noUi-connect,[disabled] .noUi-connect {
  background: #B8B8B8;
}

[disabled].noUi-origin,[disabled] .noUi-handle {
  cursor: not-allowed;
}

/********** price range css  ends here ************/

.filters-left p label span.time { float: right; font-size: 14px; color: #ff4486;}
.filters-left p .radio-label:before {border-radius: 50%; background: #dddddd; border: 3px solid #fff;  box-shadow: 0px 0px 8px rgba(0,0,0,0.35);}
.filters-left p input:checked + .radio-label::after {border: none; width: 10px; height: 10px;  top: 8px; left: 3px;  background: #ff4486;  transform: inherit;  border-radius: 50%;}
/* .filters-left p input#English:checked + .radio-label::after, .filters-left p input#German:checked + .radio-label::after {top: 9px;} */

/*********** left side-testimonials*************/
.single-testimonial .customer-testimonial-details { display: flex; align-items: center;}
.single-testimonial .customer-testimonial-details .name-country {width: 100%; margin-left:5px;}
.single-testimonial .customer-testimonial-details img {width: 32px;height: 32px;border-radius: 50%;border: 1px solid #b9b9b9;}
.single-testimonial .customer-testimonial-details .name-country a {font-size: 14px; color: #333333; font-weight: 500;}
.single-testimonial .customer-testimonial-details .name-country p {display: flex; justify-content: space-between; font-size: 14px; color: #888; margin: 0px;}
.single-testimonial p {font-size: 14px; color: #666;  font-weight: 500;  margin: 20px 0 0 0;  line-height: 20px;}
.single-testimonial .customer-testimonial-details .name-country .rating li {font-size: 12px;}

/****************** experience details page start here *******************/
.chat-box .contact-social {margin: 10px 0 0 0;}
.pricing-rating-box .scout-box.green-bg {margin-top: 20px;}
.with-wishlist a {background-color: #ff4883;width: 40px;height: 40px;border-radius: 50px;display: inline-flex;align-items: center;justify-content: center;color: #fff;font-size: 18px;margin-left: 10px;}
.with-wishlist h3 {margin: 0;}
.chat-box .contact-social li a {width: 30px;height: 30px;font-size: 16px;}
.after-head-ul li i.text-euro {font-style: normal;font-weight: 600;font-size: 24px;}
.main-heading.text-left h3::after {content:none;}
.after-head-ul {margin: 0 0 25px;padding: 0;list-style: none;}
.featured-exp .main-heading.text-left {margin-bottom: 10px;}
.after-head-ul li {margin-right: 10px;}
 .booking-conditions ul li i.fa-percent {font-size: 11px;position: relative;bottom: 1px;} 
.after-head-ul li i.fa-percent  {    font-size: 14px; }
.after-head-ul li i {font-size: 21px;color: #ff4883;margin: 0 4px 0 0px;}
.after-head-ul li {margin: 9px 25px 0 0;-webkit-display: inline-flex;-ms-display: inline-flex;align-items: center;-webkit-align-items: center;	-ms-align-items: center;display: inline-flex;}
.tab-ratings ul {margin: 0 8px;}
.chat-box h3 {font-size: 23px;font-weight: 600;}
.chat-box h3 span {color: #ff4486;}
.chat-box h3 i {color: #afc578;margin: 0 2px;}
.chat-box {box-shadow: 0 0 10px #f4f4f4;border-radius: 5px;margin-bottom: 16px;padding: 15px 0;}
.chat-box img {margin: 10px 0 17px;width: 160px;border-radius: 50%;}
.chat-box button {display: block;padding: 6px 30px;font-size: 19px;margin: 0 auto;}
.chat-box .scout-rating p i {color: #ffc600;}
.chat-box .scout-rating p {color: #000;}
.filters-left p.price-inner {font-weight: 600;font-size: 26px;color: #ff4486;}
.filters-left p.price-inner span {font-size: 18px;padding-left: 2px;padding-top: 5px;}
.dates-guests p {font-weight: bold;font-size: 20px;border: 1px solid #ccc;padding: 10px 10px 10px 30px;border-right: none;max-width: 50%;
flex: 0 0 50%;-webkit-flex: 0 0 50%;-ms-flex: 0 0 50%;border-radius: 30px 0 0px 30px;position: relative;cursor: pointer;}
#guest-count {cursor: pointer;}
.dates-guests p:last-child {border-right: 1px solid #ccc;border-radius: 0 30px 30px 0;}
.dates-guests p span {font-weight: normal;width: 100%;}
#guest-count:hover {color: #ff4883;}
.filters-left .dates-guests p input {display: inline-block;width: 20px;background-color: transparent;-moz-appearance: textfield;appearance: textfield;-webkit-appearance: textfield;color: #333;}
.dates-guests p span .input-group-append {display: none;}
.dates-guests p span #datepickerdesktop, #datepickermobile {border: none;font-size: 20px;color: #333;width: auto;}
.filter-cancel-policy {margin-top: 0;}
.putNewHtml.slots-scroll {height: 200px;overflow-y: scroll;background-color: #fff;border-radius: 10px;resize: vertical;}
.filter-cancel-policy h3 {font-size: 20px;font-weight: bold;color: #ff4486;text-decoration: underline;}
.filter-cancel-policy h3 a { font-size: 20px;font-weight: bold;color: #ff4486;  text-decoration: underline;}
.filter-heading-border h4 {font-weight: 600;color: #afc578;position: relative;padding-left: 0;font-size: 20px;}
.featured-exp-details .description-p {border-bottom: 1px solid #f2f2f2;padding-bottom: 20px;margin-bottom: 20px;}
.additional-info-main h5 {font-weight: 600;color: #afc578;position: relative;padding-left: 0;font-size: 20px;}
.additional-info-main {margin-bottom: 40px;}
.rate-name {display: flex;-webkit-display: flex;-ms-display: flex;align-items: center;-webkit-align-items: center;-ms-align-items: center;}
.rate-name .rating {margin-left: 15px;}
/* .filter-heading-border h4::before {content: "";position: absolute;width: 2px;height: 20px;background-color: #afc578;display: block;left: 0;top: 5px;} */
.filters-left.back-transparent {background: transparent;border: none;padding: 0;margin: 0 0 30px;}
.description-p {margin-bottom: 30px;}

.slider-detail-page {margin-bottom: 30px;display: flex;}
.details-ul {padding: 0px; list-style: none;}
.details-ul li{padding-bottom: 15px; list-style: none;}
.details-ul li .details-icon {background: #ff4486; display: inline-block;border-radius: 50%; width: 30px; height: 30px; margin-right: 10px;}
.description-p a {color: #333; transition: all 0.5s ease;}
.description-p a:hover{color: #ff4486;}
form.add-review-form {width: 100%; position: relative; padding: 15px 0px;}
form.add-review-form textarea{height: 160px; resize: none;}
.rounded-btn {border-radius: 60px; padding: 10px 30px;}
.pricing-rating-box p.price-p {font-size: 16px; font-weight: 600;}
.pricing-rating-box p.price-p span.price-span {font-weight: 400;}
.pricing-rating-box .rating-price .price {display: flex; align-items: center;}
.pricing-rating-box .rating-price .price .wishlist-span {width: 36px; height: 36px;  border-radius: 50%; display: flex; align-items: center;
justify-content: center; background: #ff4486; color: #fff; margin-left: 10px; transition: all 0.5s ease; margin: 10px 0px; margin-right: 5px;}
.pricing-rating-box .rating-price .price a {font-weight: 700; color: #333;}
.scout-rating p {color: #fff;}

.tab-reviews ul#pills-tab {margin: 0px !important;}
.tab-reviews ul#pills-tab .nav-item .nav-link{color: #afc578; border-radius: 4px 4px 0px 0px; transition: all .5s ease;}
.tab-reviews ul#pills-tab .nav-item .nav-link:hover{background: #afc578; color: #fff;}
.tab-reviews ul#pills-tab .nav-item .nav-link.active {background: #afc578; color: #fff; border-radius: 4px 4px 0px 0px; }

.exp-detail-new ul#pills-tab .nav-item .nav-link {display: flex;align-items: center;}
.exp-detail-new ul#pills-tab .nav-item .nav-link .rating {margin-left: 7px;}
.exp-detail-new ul#pills-tab .nav-item .nav-link .rating .tab-ratings {color: #000;}
.exp-detail-new ul#pills-tab .nav-item .nav-link.active .rating .tab-ratings {color: #fff;}

.modal button.close {right: 0; outline: 0;}
#scroll-div {position: sticky;top: 69px;margin-top: 10px;}
.modal.show:before {position: absolute;background: rgba(0,0,0,0.8);content: '';width: 100%;height: 100%;}
#gallery-lightbox{padding: 0px; margin: 0px;}
#gallery-lightbox img {object-fit: cover;cursor: pointer;}
#gallery-lightbox img:hover {opacity: 0.9; transition: 0.5s ease-out;}
/**.gallery-grid .show .modal-dialog {
    display: flex !important;
    align-items: center;
    height: 100%;
}**/
.modal-backdrop{display: none;}
div#exampleModal1 .modal-lg {margin-top: 0px; margin-bottom: 0px; padding: 30px 0px; width: auto !important; max-width: 500px;}
div#exampleModal1 .modal-lg button.close {z-index: 999; opacity: 1; background: #fff; padding: 0px !important; width: 39px; height: 39px; border-radius: 50%;
    right: -10px; top: -10px; color: #333!important; box-shadow: 0px 0px 10px rgba(0,0,0,0.5); /* font-size: 35px; */}
.show{overflow: hidden;}

div#exampleModal1 .modal-lg img{width: auto !important; max-height: 500px;}
#gallery-lightbox img {object-fit: cover;  cursor: pointer; padding: 4px 2px 0px 2px;}

div#exampleModal1 a.carousel-control-prev .carousel-control-prev-icon {background-color: rgba(255,68,134); padding: 20px; background-size: 16px;border-radius: 5px;}
div#exampleModal1 a.carousel-control-next .carousel-control-next-icon {background-color: rgba(255,68,134); padding: 20px; background-size: 16px;border-radius: 5px;}

/************** about page start here ***************/
.coordinator-section.team-section {padding: 20px 0 70px;background-image: inherit;}

section.about-sec {width: 100%; padding: 60px 0px; background: url(../images/about-text-bg.jpg) no-repeat left top; background-size: cover;}
.about-banner{background:url(../images/about-banner.jpg);background-size: cover;background-repeat: no-repeat;}
.about-img .absolute-img {position: absolute; left: 0; top:0px; width: 100%; border: none !important;}
.about-img img { width: 100%; border: 3px solid #fff !important;}
.about-img {position: relative;}
.about-img .curly-font {position: absolute; bottom: 80px; left: 80px; font-size: 34px; color: #fff;}
section.about-sec .about-text .main-heading h3::after{left:0; right: inherit;}
section.about-sec ol.breadcrumb {padding: 30px 0px;}
.no-pad{padding: 0px;}
section.how-it-started { width: 100%;}
section.how-it-started .how-it-work-text {padding: 100px; color: #fff;}
section.how-it-started .how-it-work-text h4 {font-weight: 700; font-size: 36px; margin-bottom: 30px;}
section.how-it-started .how-it-work-text p {font-size: 18px; font-weight: 400;}

/************** blog-page start here ****************/
.blog-banner{background:url(../images/blog-banner.jpg);background-repeat: no-repeat;background-size: cover;background-position: center bottom;}
section.blog-sec ol.breadcrumb {padding: 0px 0px 60px 0px;}
section.blog-sec {width: 100%; padding: 60px 0px;}
.single-blog {padding: 20px; box-shadow: 0px 0px 30px 10px rgba(0,0,0,0.1); margin-bottom: 30px; border-radius:6px;}
.single-blog > img {width: 100%; border-radius:6px;}
.single-blog .blog-content .date-admin ul li {display: inline-block; margin-right: 20px;}
.single-blog .blog-content .date-admin ul {padding: 15px 0px; margin: 0px;}
.single-blog .blog-content .blog-text h4 {font-size: 30px;}
.right-search-box input[type="texe"] {width: 100%; background: #fff; border-radius: 6px;  padding: 12px 15px; height: 50px;}
.right-search-box button.btn { height: 50px; width: 50px;}
.right-search-box { width: 100%; display: flex; justify-content: space-between; background: #fff; border-radius: 6px; margin-bottom: 30px; box-shadow: 0px 0px 30px 10px rgba(0,0,0,0.1); /* border: 1px solid #fff; */}
.single-blog .blog-content .date-admin ul li a{transition: all 5s ease;}
single-blog .blog-content .date-admin ul li a:hover{color: #dc3545;}
.blog-categories h3 {font-size: 30px;}
.blog-categories ul {padding: 0px; list-style: none;}
.blog-categories ul li {padding: 5px 0px; margin-bottom: 5px; border-bottom: 1px solid #eee;}
.blog-categories ul li:last-child{border-bottom: none;}
.blog-categories ul li a {font-size: 14px; font-weight: 500; position: relative; padding-left:0px; transition: all .5s ease;}
.blog-categories ul li a:before{font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f105";margin-right: 5px; color: #afc578;}
.blog-categories ul li a:hover{color:#95bb37;}
.blog-categories {width: 100%; margin-bottom: 30px;}
.popular-blog {width: 100%; position: relative;}
.popular-blog .single-popular-blog img{max-width: 80px;}
.popular-blog .single-popular-blog {width: 100%; display: flex; margin-bottom: 10px;  align-items: center;
    padding-bottom: 10px; border-bottom: 1px solid #eee;}
.popular-blog .single-popular-blog:last-child{border-bottom: none;}
.popular-blog h3 {margin-bottom: 20px;}
.popular-blog .single-popular-blog .popular-post-text {padding-left: 15px;}
.popular-blog .single-popular-blog .popular-post-text a {display: block; font-size: 18px; line-height: 22px; color: #333; transition: all .5s ease;}
.popular-blog .single-popular-blog .popular-post-text a:hover{color:#ff4486;}
.popular-blog .single-popular-blog img {max-width: 80px; border: 4px solid #eee; border-radius: 2px;}


/*********** blog details start here **********/

blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 17.5px;
    border-left: 15px solid #afc578;
    position: relative;
}


.testimonials #customers-testimonials .owl-stage .item-details a.more-read, .testimonials #customers-testimonials .owl-stage .item-details a.less-read {
	width: 21px;
	height: 21px;
	display: inline-block;
	background-color: #b6b6b6;
	border-radius: 50%;
	color: #fff;
	border: 2px solid #ffffff;
}

.testimonials #customers-testimonials .owl-stage .owl-item.active.center .item-details a.more-read, .testimonials #customers-testimonials .owl-stage .owl-item.active.center .item-details a.less-read {
    background-color: #ff4486;

}
.testimonials #customers-testimonials .owl-stage .item-details a.less-read i {
	left: -1px !important;
}

.testimonials #customers-testimonials .owl-stage .item-details a.more-read i, .testimonials #customers-testimonials .owl-stage .item-details a.less-read i {
	font-size: 14px;
	position: relative;
	top: 2px;
	left: 0.3px;
}




/*****HOW WORK CSS STARTS HERE*****/
.how-work {padding: 50px 0;background: url(../images/about-text-bg.jpg) no-repeat left top;background-size:cover;}
.top-tabs {border: none;}
.top-tabs li {width: 20%;}
.work-tabs {width: 100%;}
.top-tabs li a {display: block;color: #333;padding: 20px 0;text-align: center;text-transform: uppercase;background-color: #f7f7f7;  border: 1px solid #f0f0f0;margin: 0 0 0 -1px;position:relative;font-size: 16px;font-weight: 500;}
.top-tabs li a span img {max-width: 21px;filter: grayscale(100%);-webkit-filter: grayscale(100%);-ms-filter: grayscale(100%);}
.top-tabs li a span {display: inline-block;text-align: center;margin-bottom: 0px;margin-right: 2px;}
.top-tabs li a.active {background-color: #afc578;color: #fff;}
.top-tabs li a.active span img {filter: inherit;}
.work-tabs .tab-content {padding: 20px;border: 1px solid #f0f0f0;margin: -1px 0 0 0;box-shadow: 0px 0px 10px #eee;-webkit-box-shadow: 0px 0px 10px #eee;-ms-box-shadow: 0px 0px 10px #eee;background-color:#fff;}
.work-tabs .tab-content ul li {width: 100%;}
.work-tabs .tab-content ul {width: 45%;}
.work-tabs .tab-content ul li a {text-align: left;text-transform: inherit;padding: 10px;border: 1px solid #f0f0f0cc;margin: -1px 0 0 0;font-size: 15px;min-height: inherit;}
.work-tabs .tab-content ul li a::before {font-family: "Font Awesome 5 Free";font-weight: 900;content: "\f105";margin-right: 5px;color: #afc578;}
.work-tabs .tab-content ul {margin: 1px 0 0 0;}
.work-tabs .tab-content .tab-content {padding: 12px 30px;border: 1px solid #f3f3f3;margin: 0 0 0 -1px;width: 72%;min-height: 250px;background-color: #fff;}
.work-tabs .tab-content .tab-pane ul li a.active {border-right: none;}
.work-tabs .tab-content .tab-content h3 {color: #afc578;font-size: 23px;padding-left: 8px;position: relative;}
.work-tabs .tab-content .tab-content h3::before {content: "";position: absolute;left: 0;top: 7px;height: 16px;background-color: #afc578;width: 2px;}
.work-tabs .tab-content .tab-content p a {color: #ff4d8c;}
.work-list, .privacy-policy ul {margin: 0;padding: 0;list-style: none;}
.work-list li, .privacy-policy ul li {line-height: 30px;position: relative;}
.how-it-started .bg-grey {background-color: #f9f9f9;}
.top-tabs li a span img.exp-icon-img {max-width: 31px;}
.work-list li::before, .privacy-policy ul li::before {font-family: "Font Awesome 5 Free";font-weight: 900;content: "\f105";margin-right: 5px;color: #afc578;}
.need-change-img img {border-radius: 5px;}
.need-change-text {padding: 0 25px;}
/* .top-tabs li a.active::before {content: "";position: absolute;border-left: 10px solid transparent;border-right: 10px solid transparent;border-top: 10px solid #fff;bottom: -10px;left: 0;right: 0;width: 0;margin: 0 auto;} */
/*****HOW WORK CSS ENDS HERE*****/




/****CONTACT PAGE CSS STARTS HERE*****/
.contact-banner {background-position: center bottom;}
.contact-sec-info {padding: 50px 0;}
.company-info {width: 100%;}
.common-info-box {width: 30%;background-color: #fff;border: 1px solid rgb(236,238,239);padding: 20px 0px;display: flex;-webkit-display: flex;-ms-display: flex;align-items: center;-webkit-align-items: center;-ms-align-items: center;justify-content: center;-webkit-justify-content: center;-ms-justify-content: center;}
.common-info-box p {max-width: 50%;flex:0 0 50%;-ms-flex:0 0 50%;-webkit-flex:0 0 50%;margin: 0;font-weight: 600;color: #959595;line-height: 21px;}
.common-info-box p b {display: block;font-weight: normal;color: #000;}
.common-info-box span {max-width: 50px;flex: 0 0 50px;-webkit-flex: 0 0 50px;-ms-flex: 0 0 50px;background-color: #afc578;height: 50px;border-radius: 50%;text-align: center;color: #fff;font-size: 20px;margin-right: 10px;display: inline-flex;-webkit-display: inline-flex;-ms-display: inline-flex;align-items: center;-webkit-align-items: center;-ms-align-items: center;justify-content: center;-webkit-justify-content: center;-ms-justify-content: center;}
.common-info-box.phone-no span {background-color: #ff4486;}
.common-info-box a {color: #959595;}
.contact-form {padding: 80px 0 0 0;}
.contact-form .main-heading h3 {font-size: 43px;line-height: 42px;margin: 15px 0 0 0;}
.contact-form .main-heading h3::after {right: auto;width: 60px;}
.contact-social {margin: 35px 0 0 0;padding: 0;list-style: none;display: flex;-webkit-display: flex;-ms-display: flex;align-items: center;-webkit-align-items: center;-ms-align-items: center;}
.contact-social li a {height: 54px;width: 54px;border-radius: 50%;background: #ececec;display: flex;align-items: center;justify-content: center;    color: #959595;transition: all 0.5s ease;font-size: 22px;margin-right: 10px;}
.contact-social li a:hover { background: #ff4486; color: #fff;}
.contact-form form {max-width: 60%;display: flex;flex-wrap: wrap;justify-content: space-between;align-items: center;}
.contact-form form .my-error {max-width: 49%;margin: 0 0 11px 0; width: 100%;position: relative;}
.contact-form form .my-error span.error.invalid-feedback {position: absolute;left: 0;bottom: -4px;font-size: 12px;}
.contact-form form .my-error span#message-error {bottom: -15px;}
.contact-form form .textarea-form {max-width: 100%;margin: 0 0 11px 0; width: 100%;}

.contact-form form input {background-color: #ECEEEF;max-width: 100%;height: 64px;padding: 0 12px;flex: 0 0 100%;color: #000;font-size: 16px;margin: 0 0 11px 0; width: 100%;}
.contact-form form textarea {max-width: 100%;flex: 0 0 100%;background-color: #ECEEEF;padding: 10px; height: 150px; resize: none; width: 100%;}
.contact-form form .submit-btn{margin-top: 8px;background-color: #afc578;color: #fff;text-transform: uppercase;font-size: 19px;max-width: 30%;}

.contact-form form .suc {background: #afc578; padding: 5px; width: 100%;  text-align: center; color: #fff;
    box-shadow: 0px 0px 15px 15px rgba(0,0,0,0.15); border: 2px solid #fff; border-radius: 6px;}


.contact-form form .suc {background: #afc578; padding: 5px; width: 100%;  text-align: center; color: #fff;
box-shadow: 0px 0px 15px 15px rgba(0,0,0,0.15); border: 2px solid #fff; border-radius: 6px;}

.contact-form form .fail {background: #ff4486; padding: 5px; width: 100%;  text-align: center; color: #fff;
box-shadow: 0px 0px 15px 15px rgba(0,0,0,0.15); border: 2px solid #fff; border-radius: 6px;}

/****CONTACT PAGE CSS ENDS HERE*****/



/****PRIVACY POLICY CSS STARTS HERE*****/
.privacy-policy {padding: 50px 0;}
.privacy-policy h3 {font-size: 23px;}
.privacy-policy h1, 
.privacy-policy h2, 
.privacy-policy h3, 
.privacy-policy h4, 
.privacy-policy h5, 
.privacy-policy h6 {font-weight: 500;color: #afc578;position: relative;padding-left: 10px;display: block;width: 100%;margin-top: 20px;}
.privacy-policy h1::before, 
.privacy-policy h2::before, 
.privacy-policy h3::before, 
.privacy-policy h4::before, 
.privacy-policy h5::before, 
.privacy-policy h6::before {content: "";position: absolute;width: 2px;height: 20px;background-color: #afc578;display: block;left: 0;top: 5px;}
.privacy-policy p, .privacy-policy span {width: 100%;}
.privacy-policy a {color: #ff4486;}
/****PRIVACY POLICY CSS ENDS HERE*****/

/*********** login page start here **************/
.login-register-section {
    color: #000;
    overflow-x: hidden;
    height: 100%;
    background: #ff4486;
    background-repeat: no-repeat;
    position:relative;
    background:url(../images/login-register-bg.jpg) no-repeat; background-size:cover;
}
.login-register-section:before {background: rgba(255,68,134,0.85); content: ''; width: 100%; height: 100%;position: absolute;}
  
.login-register-section input,
.login-register-section textarea {
    border-radius: 50px !important;
    padding: 12px 15px 12px 15px !important;
    width: 100%;
    box-sizing: border-box;
    border: none !important;
    border: 1px solid #F3E5F5 !important;
    font-size: 16px !important;
    color: #000 !important;
    font-weight: 400
}

.login-register-section input:focus,
.login-register-section textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #ff4486 !important;
    outline-width: 0;
    font-weight: 400
}

.login-register-section button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0
}

.login-register-section .card {
    border-radius: 0;
    border: none
}

.login-register-section .card1 {
    width: 50%;
    padding: 40px 30px 10px 30px
}

.login-register-section .card2 {
    width: 50%;
    background:#afc578;
}


.login-register-section .heading { margin-bottom: 30px !important; font-size: 24px;}
.login-register-section .card2 h3.text-white { font-size: 36px;}
.login-register-section .card2 small.text-white { font-size: 18px;}
.login-register-section ::placeholder {
    color: #000 !important;
    opacity: 1
}

.login-register-section :-ms-input-placeholder {
    color: #000 !important
}

.login-register-section ::-ms-input-placeholder {
    color: #000 !important
}

.login-register-section .form-control-label {
    font-size: 12px;
    margin-left: 15px
}

.login-register-section .msg-info {
    padding-left: 15px;
    margin-bottom: 30px
}

.login-register-section .btn-color {
    border-radius: 50px;
    color: #fff;
    background:#afc578;
    padding: 15px;
    cursor: pointer;
    border: none !important;
    margin-top: 40px;
    text-transform:uppercase;
    font-size:20px;
}

.login-register-section .btn-color:hover {
    color: #fff;
    background:#ff4486;
}

.login-register-section .btn-white {
    border-radius: 50px;
    color: #ff4486;
    background-color: #fff;
    padding: 8px 40px;
    cursor: pointer;
    border: 2px solid #ff4486 !important
}

.login-register-section .btn-white:hover {
    color: #fff;
    background:#ff4486;
}



.login-register-section .bottom {
    width: 100%;
    margin-top: 50px !important
}

.login-register-section .sm-text {
    font-size: 15px
}
.des-detail-main {
	background: #f8f8f8;
	padding: 10px;
	border: 1px solid #f0f0f0;
	margin-bottom: 30px;
	border-radius: 5px;
}
.des-detail-main .filter-heading-border h4::before {
	display: none;
}
.des-detail-main .filter-heading-border h4 {
	padding: 0;
}
.des-detail-main .filter-heading-border h4 {
	padding: 0;
	color: #ff4883;
}
.des-detail-main .filters-left.back-transparent {
	margin: 0;
}
.right-scout-detail .chat-box .scout-rating p i {
	margin: 0 6px;
}
.scout-detail-list {
	padding: 60px 0px;
	background: url(../images/lines-bg.jpg) no-repeat;
	/* background-size: auto; */
	background-size: cover;
}
.scout-detail-list .main-heading {
	margin: 0 0 20px 0;
}
.scout-detail-list .col-lg-4 {
	margin-bottom: 25px;
}
.price-calculation-sec .chat-stick {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.mobile_view_sec {display: none;}





/***GUEST-SECTION-STARTS-HERE***/
.guest_inner_sec ul li input#quantity {
	width: 60px;
	padding: 0px;
	text-align: center !important;
	background-color: transparent;
	margin-left: 0;
	-moz-appearance: none;
	-moz-appearance: textfield;
	-webkit-appearance: textfield;
	-ms-appearance: textfield;
}

.guest_inner_sec ul {
  list-style: none;
  padding: 0;
  margin: 0px;
}
.guest_inner_sec ul li {
  display: flex;
  align-items: center;
}
.guest_inner_sec ul li span.left_bar {
  width: 40%;
  float: left;
}
.guest_inner_sec ul li span.right_bar {
  width: 60%;
  float: right;
  text-align: right;
}
.guest_inner_sec ul li {
  display: flex;
  align-items: center;
  font-size: 18px;
  color: #333;
  font-weight: 500;
  line-height: 18px;
  padding-bottom: 20px;
}
.guest_inner_sec ul li span.left_bar span.text_sec_inner {
  font-size: 14px;
  font-weight: 400;
}
.guest_inner_sec ul li span.right_bar i.fa {
  border: 1px solid #ccc;
  font-size: 14px;
  padding: 6px;
  border-radius: 50px;
  color: #717171;
}
.guest_inner_sec ul li span.right_bar i:hover{background:#afc578; color:#fff; cursor:pointer;}
.guest_inner_sec {border: 1px solid #ccc;border-radius: 5px;padding: 20px 20px 10px 20px;margin: 0px;position: absolute;width: 100%;background-color: #fff;left: 0;top: 156px;box-shadow: 0 0 10px #b3b1b1;-webkit-box-shadow: 0 0 10px #b3b1b1;-ms-box-shadow: 0 0 10px #b3b1b1;display:none;z-index: 99;}
.guest_inner_sec a {
	display: block;
	background-color: #ff4486;
	text-align: center;
	color: #fff;
	padding: 7px;
	border-radius: 5px;
	width: 130px;
	float: right;
	font-size: 17px;
}
.save_btn_sec {
  width: 100%;
  margin: auto;
  text-align: center;
  margin-left: 0;
  margin-right: auto;
  padding: 10px 0px 40px;
}
.save_btn_sec a {
  background-color: #afc578;
  color: #fff;
  width: 100px;
  border-radius: 5px;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  float: right;
}
.save_btn_sec a:hover{background:#ff4486;}


/***GUEST-SECTION-ENDS-HERE***/



.after-head-ul span.price-inner {
    font-size: 26px;
    font-weight: 600;
    font-size: 24px;
    color: #ff4486;
}

/**PAGINATION-CSS-STARTS-HERE**/

.pagination_sec { margin: 0 auto;width: 100%;}
.pagination_sec ul.pagination li.page-item a, .pagination_sec .page-item.disabled .page-link {border: 0;font-weight: 600; color: #ff4486;width: 35px;height: 35px;}
.pagination_sec ul.pagination li {margin: 0px;}
.pagination_sec ul.pagination li.page-item a:hover, .pagination_sec .page-item.disabled .page-link:hover {
    background-color: rgba(255, 68, 134, 0.1);border-radius: 0;}
.pagination_sec nav {
	border: 1px solid #eee;
	border-radius: 5px;
	width: 141px;
	margin: 0 auto;
}
.pagination_sec ul.pagination li.disabled .page-link {
	color: #ccc;
}
.pagination_sec ul.pagination .page-item .page-link:focus {
	box-shadow: inherit;
}
.pagination_sec nav .pagination {margin: 0;}
.pagination_sec ul.pagination .page-item.active .page-link {
	background-color: #ff4486;
	border-color: #ff4486;
	border-radius: 0;
	width: 35px;
	height: 35px;
	text-align: center;
	padding-left: 10px;
	margin: 0;
	line-height: 15px;
}

.pagination_sec nav .pagination .page-item[aria-label="« Previous"], .pagination_sec nav .pagination .page-item[aria-label="Next »"], .pagination_sec nav .pagination .page-item[aria-label="Next »"] .page-link, .pagination_sec nav .pagination .page-item .page-link[aria-label="Next »"], .pagination_sec nav .pagination .page-item .page-link[aria-label="« Previous"] {
	background-color: #f4f4f4 !important;
	margin: 0;
}
.pagination_sec nav .pagination .page-item[aria-label="« Previous"] .page-link, .pagination_sec nav .pagination .page-item[aria-label="Next »"] .page-link, .pagination_sec nav .pagination .page-item .page-link[aria-label="Next »"], .pagination_sec nav .pagination .page-item .page-link[aria-label="« Previous"] {
	background-color: transparent;
	padding: 0;
	text-align: center;
	font-size: 30px;
	line-height: 30px;
}

/**PAGINATION-CSS-END-HERE**/

.loader {background-color: rgba(255,255,255,0.4);width: 100%;height: 100%;position: fixed;z-index: 9999;display: none;align-items: center;   justify-content: center;}
.loader .inner_loader {border: 4px solid #f3f3f3;border-radius: 50%;border-top: 4px solid #ff4486;width: 50px;height: 50px;animation: spin 2s linear infinite;left: 0;right: 0;margin: 0 auto;}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


#scout-des-one .modal-dialog {max-width: 80%;top: 20%;}
.left-scout-img {flex:0 0 22%;}
.left-scout-img img {border-radius: 5px;}
.right-scout-info {flex: 0 0 75%;}
.right-scout-info h3 {font-weight: 700;}
.right-scout-info .rating {margin-bottom: 10px;}
.language-spoken p {margin-bottom: 10px;}
#scout-des-one .reviews {margin-top: 40px;}
#scout-des-one .reviews h4 {margin-bottom: 24px;}
button.close-popup {position: absolute;right: -8px;top: -8px;background-color: #fff;border-radius: 50%;width: 22px;height: 22px;padding: 0;border:none;outline:none;}
button.close-popup i {color: #f00;font-size: 23px;}

.featured-exp-details {padding-left: 30px;padding-right: 30px;}
.map-experience-info img {width: 100%;}
.map-experience-info {position: relative;}
.map-experience-info h3 {margin: 0;position: absolute;font-size: 14px;text-transform: capitalize;bottom: 8px;font-weight: normal;padding: 0 10px;line-height: 20px;z-index: 99;}
.map-experience-info h3 a {color: #fff;}
.right-map .gm-style-iw-d {overflow: inherit !important;}
.right-map .gm-style-iw {padding: 0;max-width: 100% !important;width: 260px;}
.map-scout-info-inner img {width: 37px;}
.map-scout-info-inner {display: flex;align-items: center;}
.map-scout-info {display: flex;align-items: center;padding: 13px 0;padding: 13px 10px;justify-content: space-between;}
.map-scout-name a {color: #ff4486;font-weight: 500;font-size: 15px;}
.map-scout-img {background-color: #ccc;width: 40px;height: 40px;border-radius: 5px;padding: 2px;}
.map-scout-info-inner img {width: 100%;border-radius: 5px;}
.map-scout-name {padding-left: 5px;}
.map-scout-info .map-exp-price {font-size: 16px;font-weight: 500;}
.map-experience-info::before {content: ""; position: absolute;z-index: 99;background-color: #000;width: 100%;height: 100%; opacity: 0.4;}
.right-map .gm-style-iw button[title="Close"] {z-index: 9999999;opacity: 1;}
.right-map .gm-style-iw button[title="Close"] img {filter: brightness(0) invert(1);-webkit-filter: brightness(0) invert(1);-ms-filter: brightness(0) invert(1);}

.popup-new-scout a {display: block;z-index: 99999;position: relative;}
.scout-page-pagination.pagination_sec {position: relative;bottom: 0;}
.scout-experience-list .scout-box {justify-content: center;}
.right-scout-detail .main-heading h3 {line-height: 18px;}
.featured-exp-listing-grid .scout-detail-list .booking-conditions {min-height: 75px;}
.scout-experience-list .exp-box .exp-content {padding: 15px 15px 0px;}
.exp-content .booking-conditions {min-height: 65px;}
.slider-detail-page .pink-bg {border-radius: 0;width: 100%;}
.slider-detail-page .pink-bg i {margin: 0 3px 0 0;font-size: 18px;}
.share-btn.btn.btn-success.green-bg {padding: 12px 10px;border-radius: 4px;width: 100%;margin-bottom: 10px;font-size: 20px;border: none;background-color: #afc578;}
#scroll-div .filter-heading h4 {text-align: center;}
.share-btn.btn.btn-success.green-bg i {font-size: 17px;margin: 0 4px 0 0;}
#scroll-div .filter-heading h4 i {font-size: 16px;margin: 0 4px 0 0;}
.price-calculation-sec .filter-heading.mt-2 {margin: 0 !important;}

.single-filter .dashboardcode-bsmultiselect {margin-top: 10px;margin-bottom: 10px;}
.guest_inner_sec button {background-color: transparent;outline: none;}
.guest_inner_sec input[type="number"]::-webkit-outer-spin-button,
.guest_inner_sec input[type="number"]::-webkit-inner-spin-button {-webkit-appearance: none;margin: 0;}
.guest_inner_sec input[type="number"] {-moz-appearance: textfield;}
.guest_inner_sec button[disabled="disabled"] {pointer-events: none; opacity: 0.5;}

.booking-calendar {border-color: #f7f7f7 !important;box-shadow: 0 0 10px #e3e3e3;-webkit-box-shadow: 0 0 10px #e3e3e3;-ms-box-shadow: 0 0 10px #e3e3e3;}
.booking-calendar tbody tr td span, .show-all-booking tbody tr td span {border: none !important;padding: 10px !important;background-color: transparent !important;text-align: center !important;}
.booking-calendar .ui-datepicker-header, .show-all-booking .ui-datepicker-header {background-color: #afc578 !important;}
.booking-calendar .ui-datepicker-header .ui-corner-all span, .show-all-booking .ui-datepicker-header .ui-corner-all span {filter: brightness(0) invert(1);-webkit-filter: brightness(0) invert(1);-ms-filter: brightness(0) invert(1);cursor:pointer;}
.booking-calendar .ui-datepicker-title, .show-all-booking .ui-datepicker-title {color: #fff;font-weight: normal;letter-spacing: 1px;}
.booking-calendar .ui-datepicker-header .ui-corner-all.ui-state-hover, .show-all-booking .ui-datepicker-header .ui-corner-all.ui-state-hover {background-color: #ff4883 !important;border: none !important;}
.booking-calendar tbody tr td span, .booking-calendar tbody tr td a, .show-all-booking tbody tr td span, .show-all-booking tbody tr td a {border: none !important;padding: 10px !important;background-color: transparent!important;text-align: center !important;text-decoration: line-through;}
.booking-calendar tbody tr td a, .show-all-booking tbody tr td a {text-decoration: underline;color: #ff4883 !important;}

.price-choose-sec {display: flex;-webkit-display: flex;-ms-display: flex;justify-content: space-between;-webkit-justify-content: space-between;-ms-justify-content: space-between;align-items: flex-start;-webkit-align-items: flex-start;-ms-align-items: flex-start;border-bottom: 1px solid #d9d9d9;padding:15px 20px 15px;}
.filters-left .price-choose-sec p {margin: 0 0 2px 0;font-size: 14px;}
.filters-left .price-choose-sec .right-price-chse-inr p {font-size: 17px;justify-content: flex-end;}
.filters-left .price-choose-sec b {font-weight: 600;}
.filters-left .price-choose-sec .right-price-chse-inr a {background-color: #ff4486;color: #fff;display: block;text-align: center;border-radius: 4px;padding: 1px 3px;margin-top: 4px;font-size: 13px;}
.filters-left .price-choose-sec .right-price-chse-inr a.exp-sold-out {cursor: auto;}
a.exp-sold-out {background-color: #b7b7b7 !important;}
.price-calculation-sec .filter-heading {margin: 0;}
.rounded-btn.book-me-now {padding: 7px 30px 10px;}
.filters-left .price-choose-sec .right-price-chse-inr a:hover, .availability .price-choose-sec a:hover {background-color: #e81962;}
.show-more-btn {border: 2px solid #afc578;display: block;height: 50px;border-radius: 5px;text-align: center;line-height: 48px;color: #afc578;font-size: 18px;max-width: 80%;margin: 15px auto 11px;}
.show-more-btn:hover {background-color: #afc578;color: #fff;}
.show-more-btn i {margin: 0 0 0 5px;position: relative;top: 1px;font-size: 17px;}

.availability {padding: 60px 0;}
.availability h3 {font-weight: 600;font-size: 30px;margin: 0 0 20px 0;}
.availability .dates-guests p#guest-count {border-radius: 0px 30px 30px 0px;padding: 11px 10px 11px 30px;border-right: 1px solid #ccc;}
.dates-guests p::before {content: "\f107";font-family: "Font Awesome 5 Free";font-weight: 900;position: absolute;top: 50%;right: 20px;transform: translateY(-50%);-webkit-transform: translateY(-50%);-ms-transform: translateY(-50%);}
.availability .main-heading h3 {text-align: center;}
.availability p {margin: 0;}
.availability .price-choose-sec {border: 1px solid #d5d5d5;padding: 15px;border-radius: 10px;margin-bottom: 15px;}
.availability .price-choose-sec a {background-color: #ff4486;color: #fff;display: block;text-align: center;border-radius: 5px;padding: 4px 22px 7px;margin: 7px 0 0 0;}

.payment-page {padding: 60px 0 0;}
.guests-count a {border: 1px solid #ccc;padding: 10px;border-radius: 5px;display: flex;align-items: center;justify-content: space-between;color: #000;max-width: 350px;}
.payment-experience {border-bottom: 1px solid #efefef;padding-bottom: 35px;margin-bottom: 35px;}
.card-details label {   width: 100%;}
.StripeElement {box-sizing: border-box;height: 40px;padding: 10px 12px;border: 1px solid transparent;border-radius: 4px;background-color: white;  box-shadow: 0 1px 3px 0 #e6ebf1;-webkit-transition: box-shadow 150ms ease;transition: box-shadow 150ms ease;width: 100%;}
.StripeElement--focus {box-shadow: 0 1px 3px 0 #cfd7df;}
.StripeElement--invalid {border-color: green;}
.StripeElement--webkit-autofill {background-color: #fefde5 !important;}
#card-errors{font-size: 80%;color: #dc3545;}   
#order_table_info{display: none;}
.payment-inner-right-box {border: 1px solid #ccc;padding: 20px;border-radius: 10px;}
.payment-inner-right-box .img-with-info {display: flex;}
.img-left-payment {max-width: 40%;width: 100%;}
.img-left-payment img {border-radius: 10px;}
.right-payment-inner {padding-left: 20px;max-width: 60%;width: 100%;}
.right-payment-inner ul {padding: 0 0 0 9px;margin: 0;list-style: none;}
.right-payment-inner p {margin: 0 0 7px;}
.right-payment-inner ul li i {color: #ffc600;}
.payment-price-details p {margin: 10px 0 0px 0px;}
.payment-price-details {padding: 20px 0 20px 0;border-bottom: 1px solid #efefef;margin-bottom: 20px;border-top: 1px solid #efefef;margin-top: 25px;}
.payment-price-details p {margin: 10px 0 0px 0px;display: flex;max-width: 100%;width: 100%;justify-content: space-between;align-items: center;}
.back-btn a i {color: #ff4882;font-size: 22px;margin-bottom: 30px;}
.guest-count-main {position: relative;z-index: 9;}
.guest-count-main .guest_inner_sec {top: 60px;max-width: 350px;}
.availability p i.fa-euro-sign {font-size: 13px;margin: 0 4px 0 0;position: relative;bottom: 1px;}
.availability .dates-guests p {border-radius: 10px 0 0px 10px !important;}
.availability .dates-guests p#guest-count {border-radius: 0px 10px 10px 0px !important;}
.chat-box.fresh-chat {margin: 30px 0 0 0;padding: 10px 20px;}
.chat-box.fresh-chat img {border-radius: 10px;}
.chat-box.fresh-chat button {margin: 0;}
.availability .fresh-chat h3 {margin: 0 0 10px;}
.list-view .scout-main-info p.limit-word {-webkit-line-clamp: 1;}
.list-view .scout-main-info .chat-box, .scout-main-info .chat-box {box-shadow: initial;margin: 0;padding: 0;border-radius: 0;}
.list-view .exp-box .exp-content .title a, .list-view .exp-box .exp-content .price-div, .list-view .exp-box .exp-content .booking-conditions {min-height: initial;}
.featured-exp-listing-grid .list-view .scout-main-info .left-scout-img {flex: 0 0 14%;}
.featured-exp-listing-grid .list-view .scout-main-info .right-scout-info {flex: 0 0 84%;}
.home-feature-exp .exp-content .booking-conditions {margin-top: 4px;}
.list-view .exp-box .exp-content .price-div {padding: 0;}
.list-view .booking-conditions.exp-list-front-main ul {margin-bottom: 12px;}
.list-view .exp-box .exp-content .booking-conditions {padding-top: 5px;}
.list-view .language-spoken p {margin-bottom: 0px;}
.list-view .right-scout-info .rating {margin-bottom: 4px;}
.featured-exp-listing-grid .list-view .scout-main-info {width: 96%;}
.dates-guests p:hover, .dates-guests p:hover span input {color: #ff4486 !important;}
.total-price-overline {font-weight: normal;font-size: 15px;text-decoration: line-through;margin: 0 6px 0 0px;}
.filters-left.back-transparent .chat-box, .right-scout-inner .chat-box {box-shadow: inherit;padding: 0;margin: 0;}
.front-scout-detail-page a.btn {margin: 20px auto 0;display: block;max-width: 88%;}
#galleryCarousel .carousel-indicators > li {width: initial;height: initial;text-indent: initial;border: none;background-color: transparent;margin-left: 0;margin-right: 5px;}
#galleryCarousel .carousel-indicators > li:last-child {margin: 0;}
.mainslider .carousel-indicators {bottom: 20px;}
#galleryCarousel .carousel-indicators > li.active img {opacity: 1;}
#galleryCarousel .thumbli .carousel-indicators {position: relative;display: grid;padding-right: 10px;}
.mainslider {position:relative;}
.thumbli {height: 320px;overflow-y: scroll;scroll-behavior: smooth;max-width: 16.5%;width: 100%;}
#galleryCarousel .thumbli .carousel-indicators li:last-child {margin-bottom:0;}
.thumbli::-webkit-scrollbar {display: none;}
.thumbli {-ms-overflow-style: none;scrollbar-width: none;}
.mainslideriv {max-width: 83.5%;width: 100%;}
.mainslideriv img {width: 100%;}
#galleryCarousel .thumbli .carousel-indicators li {margin: 0 0 10px 0;border: none;}
#galleryCarousel .mainslider .carousel-indicators > li > a {border-radius: 50%;width: 6px;height: 6px;display: inline-block;background: #fff;	content: "";}
#galleryCarousel .carousel-control-prev-icon, #galleryCarousel .carousel-control-next-icon {background-image: url("/public/images/arrow-right.png");background-size: initial;}
#galleryCarousel .carousel-control-prev-icon {transform:rotate(180deg);}
#galleryCarousel .carousel-control-prev, #galleryCarousel .carousel-control-next {opacity: 1;}
#galleryCarousel {margin-left: 0;margin-right: 0;background-color: #fff;padding: 13px;border-radius: 5px;margin-bottom: 30px;box-shadow: 0 0 10px #f4f4f4;-webkit-box-shadow: 0 0 10px #f4f4f4;-ms-box-shadow: 0 0 10px #f4f4f4;}
.loader.scout-loader {left: 0;position: absolute;}
.scout-detail-main-sec .front-scout-detail-page {margin: 0 0 30px 0;}

.thankyou-main {padding: 60px 0px;}
.thankyou-main h2 {font-weight: 600;}
.thankyou-main .gray-bg li {display: flex;align-items: center;justify-content: space-between;line-height: normal;border: 1px solid #f0f0f0;padding: 15px;max-width: 50%;width: 100%;margin-left: -1px;margin-top: -1px;}
.thankyou-main .gray-bg li b {font-weight: 600;}
.thankyou-main h2 span {color: #ff4486;}
.thankyou-main .gray-bg li span i {width: 24px;font-size: 16px;color: #ff4883;}

.sec-with-shadow {background-color: #fff;box-shadow: 0 0 10px #f0f0f0;-webkit-box-shadow: 0 0 10px #f0f0f0;-ms-box-shadow: 0 0 10px #f0f0f0;border-radius: 5px;max-width: 49%;width: 100%;}
.sec-with-shadow h4 {padding: 14px 14px 4px;font-size: 21px;}
.sec-with-shadow p {margin: 0;padding: 5px 14px 14px;}
.sec-with-shadow p i {color: #ff4883;margin: 0 9px 0 0px;}

.exp-box.no-data-found {padding: 25px;}
.exp-box.no-data-found img {max-width: 250px;}
.exp-box.no-data-found h3 {margin-top: 30px;margin-bottom: 0;font-size: 27px;}

.chat-stick-inner a.btn {margin: 0 auto !important;display: block;max-width: 140px;}
.chat-box .chat-stick .contact-social {margin-bottom: 12px;}
.loader.exp-list-loader{
	display: flex;
    position: absolute;
    top: 0;
    z-index: 99999;
    align-items: flex-start;
    padding: 250px 0 0;
}
.booking-error p {
    margin: 0 0 40px 0;
    background-color: #fff;
    color: #333;
    font-weight: 500;
    font-size: 19px;
    display: flex;
    flex-flow: column;
    align-items: center;
    box-shadow: 0 0 10px #ebebeb;
    border-radius: 10px;
    padding: 30px 0;
}
.booking-error p i {
    display: block;
    color: #ff4882;
    font-size: 60px;
    margin-bottom: 20px;
}
.chat-box.fresh-chat .chat-stick .contact-social {
	margin: 0;
}
.guest_inner_sec ul li span.right_bar button.minus-adult-button {
    padding-right: 3px;
}
.filters-left p.upon_para {
	font-weight: 500;
	margin: 20px 0;
	font-size: 14px;
	line-height: 20px;
	background-color: #ff4486;
	color: #fff;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	border: 2px solid #fff;
}
.filters-left p.upon_para {
    display: block;
}
.filters-left p.upon_para .text-green {
	color: #333;
}
.filters-left p.upon_para .text-green:hover {
    color: #fff;
}

.thankyou-main h2 {margin: 20px 0px !important;}

.featured-exp-listing-grid .filter-heading {
	margin: 0;
}
.p-contant-footer span.contact-span {
    position: relative;
    top: 6px;
    margin-right: 6px;
}
a.footer-address b {
    font-weight: normal;
}
.common-info-box:hover a.contact-page-address b {
    color: #ff4486;
}
.common-info-box:hover span {
    background-color: #ff4486;
}
.chat-stick-inner a.btn.contact_all_slot {
    margin: 13px 0 0 0 !important;
}

.team-section .slick-slide img {
	max-width: 200px;
	box-shadow: -2px -5px 0px #ff4486, -1px 5px 0px #ff4486;-webkit-box-shadow: -2px -5px 0px #ff4486, -1px 5px 0px #ff4486;-ms-box-shadow: -2px -5px 0px #ff4486, -1px 5px 0px #ff4486;
}
.team-section .slick-slide:nth-child(2n+2) img {box-shadow: -2px -5px 0px #afc578, -1px 5px 0px #afc578;-webkit-box-shadow: -2px -5px 0px #afc578, -1px 5px 0px #afc578;}
section.how-it-started .how-it-work-text a {
	color: #fff;
	text-decoration: underline;
}
section.blog-sec .blog-text a {
	padding: 6px 11px;
	font-size: 14px;
}
.after-head-ul li .from-text-bold {
	font-size: 20px;
	margin: 0 5px 0 0px;
}
.location-search-box {
	width: 450px;
	position: absolute;
	left: -20px;
	top: 100px;
	background-color: #fff;
	box-shadow: 0 0 10px #ccc;
    border-radius: 15px;
    display:none;
    cursor: pointer;
}
.location-search-box a {
	display: flex;
	align-items: center;
	padding: 8px;
}
.location-search-box a img {
	max-width: 70px;
	border-radius: 15px;
	margin-right: 11px;
}
.location-search-box a span {
	font-weight: 500;
	font-size: 18px;
}
li.price-detail-text b {
	margin-right: 3px;
}
.multiple_person {
	position: relative;
	left: 7px;
	top: 1px;
}
.single_person {
	position: relative;
    top: 3px;
}
p.explore_inner {
	margin: 0;
	position: absolute;
	top: 6px;
	left: 12px;
	width: 100%;
	display: none;
}
p.explore_inner span {
    position: absolute;
    right: 30px;
    top: 13px;
    background-color: #848484;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
}
p.explore_inner span i {
    font-size: 12px;
    line-height: 20px;
}
#search-current-location.explore-near-by .explore_inner {
	display: block;
}
#search-current-location.explore-near-by .location-search-box {
	display: none !important;
}
#search-current-location.explore-near-by #exp-location {
    position: relative;
    top: 14px;
}
form.search-form .form-group.home-search-category {
	border: none;
}
section.featured-exp.home-feature-exp .scout-main-info.dynamic-scout-content {
    height: 93.5%;
    top: 15px;
}
.home-feature-exp .booking-conditions ul li i.fa-user {
	position: relative;
	bottom: 1px;
}
b.footer-email-address {
    font-weight: normal;
}
b.footer-email-address a {
    display: block;
}
p.flex-class-footer span.contact-span {
    margin: 4px 4px 0 0px;
}
form.search-form .form-group input:-webkit-autofill,
form.search-form .form-group input:-webkit-autofill:hover, 
form.search-form .form-group input:-webkit-autofill:focus, 
form.search-form .form-group input:-webkit-autofill:active
{
 -webkit-box-shadow: 0 0 0 30px white inset !important;
 box-shadow: 0 0 0 30px white inset !important;
 -ms-box-shadow: 0 0 0 30px white inset !important;
 -o-box-shadow: 0 0 0 30px white inset !important;
}
.availability .guest_inner_sec ul li span.right_bar button.minus-adult-button, .payment-inner-left .guest_inner_sec ul li span.right_bar button.minus-adult-button {
	padding-right: 8px;
}
.contact-country-code .dropdown.bootstrap-select {width: 30% !important;margin-right: 10px;}
.contact-country-code button.btn {max-width: 100% !important;}
.contact-form .my-error.contact-country-code input {max-width: 70%;}

/****GIFT CARD PAGE CSS STARTS HERE****/
.gift-card-right {background-color: #fbfbfb;border-radius: 5px;padding: 20px;}
.gift-card-left h3 {font-size: 20px;color: #ff4486;margin: 0 0 20px 0;}
.gift-card-left li {margin: 0 0 16px 0;}
.gift-card-right .form-group label {width: 100%;font-size: 17px;font-weight: 500;margin: 0 0 4px 0;}
.gift-card-right .form-group span {display: block;font-size: 15px;line-height: 20px;}
.gift-card-right .form-group select, .gift-card-right .form-group input[type="number"], .gift-card-right .form-group input[type="text"] {border: 1px solid #ccc;width: 100%;height: 45px;border-radius: 5px;margin: 12px 0 0 0;}
.gift-card-right .form-group {margin-bottom: 25px;}
.gift-card-main {padding-bottom: 50px;}
.gift-card-left {padding-right: 40px;}
.gift-card-left .pink-text {color: #ff4486;}

.gift-card-form {background-image: url(../images/star-bg.png);background-size: 100% auto;background-position: cnter center;background-color: #fff;border: 1px solid #f0f0f0;margin-bottom: 30px;}
.gift-card-form form {margin: 0;padding: 30px 20px 20px 20px;}
.gift-card-form .form-group {display: flex;}
.gift-card-form .form-group label {margin: 0;white-space: nowrap;padding-right: 10px;}
.gift-card-form span {width: 100%;display: block;border-bottom: 1px solid #4c4c6c;}
/****GIFT CARD PAGE CSS ENDS HERE****/
/********** media query start here ***********/

@media screen and (max-width:1024px) {
.scout-main-info {display:none !important;}
.custom-nav #main-menu ul.navbar-nav .nav-item:nth-child(7) {padding-left: 9px;padding-right: 9px !important;}
}

@media screen and (max-width: 992px) {
  .login-register-section  .card1 {
        width: 100%;
        padding: 40px 30px 10px 30px
    }
    section.availability .dates-guests p, section.availability .dates-guests p#guest-count {
        border-radius: 10px !important;
    }

   .login-register-section .card2 {
        width: 100%
    }

   .login-register-section .right {
        margin-top: 100px !important;

        margin-bottom: 100px !important
    }
	.price-calculation-sec {
	position: relative !important;
	width: 100% !important;
	top: 0;
}
.dates-guests {
	flex-flow: column;
}
.dates-guests p, .dates-guests p:last-child {border: 1px solid #ccc !important;padding: 10px;max-width: 100%;flex: inherit;-webkit-flex: inherit;-ms-flex:inherit;	border-radius: 30px;width: 100%;align-items: center !important;}
.dates-guests p span #datepickerdesktop {width: 100%;text-align: center;}
.dates-guests p span {justify-content: center;text-align: center;}

.availability p.align-items-start {text-align: left;padding: 10px 25px;}
.availability p.align-items-start span {text-align: left;justify-content: flex-start;-webkit-justify-content: flex-start;-ms-justify-content: flex-start;}
.availability p.align-items-start span input {text-align: left !important;}
section.availability .dates-guests p#guest-count {border-radius: 30px;padding: 10px 25px;margin-top: 10px;}
.guest_inner_sec {top: 256px;}
}



@media screen and (max-width: 768px) {
   .login-register-section .container {
        padding: 10px !important
    }

   .login-register-section .card2 {
        padding: 50px
    }

   .login-register-section .right {
        margin-top: 50px !important;
        margin-bottom: 50px !important
    }
    .video-sec .video-thumb {margin-bottom: -290px;}
}


@media screen and (max-width: 767px) {
    div.guest_inner_sec {top: 250px;}
	.scouts-box .scout-text {text-align: center;}
.video-sec .video-thumb {margin-bottom: 0;}
section.how-it-work.aos-item.aos-init.aos-animate .col-lg-4 {margin-bottom: 60px;}
section.how-it-work.aos-item.aos-init.aos-animate .col-lg-4:last-child {margin-bottom: 30px;}
.mobile_view_sec {display: block !important;}
.desktop_view_sec {display: none;}
.scout-img-name {max-width: 60%;flex: 0 0 60%;}
.scout-detail-main-sec .scout-img-name {text-align: center;}
.how-work .work-tabs .need-change-img {margin-bottom: 15px;}
.how-work .work-tabs .need-change-text{padding: 0px;}
footer h3 {margin-bottom: 20px;}
.inner-banner {height: 200px;}
.availability .price-choose-sec {flex-flow: column;-webkit-flex-flow: column;-ms-flex-flow: column;}
.availability .left-price-chse-inr p {margin: 0 !important;}
.grid-list-btns {display: none;}
.sort-head .sort-by {width: 100%;}


}

@media screen and (max-width: 667px) {




	section.how-it-work .step{height: auto;}
}

@media screen and (max-width: 480px) {
.blog-sec .rounded-btn {display: block;width: 120px;padding: 8px 15px;margin-top: 10px;}


}
/*@media screen and (max-width:360px) {
.guest_inner_sec ul li span.right_bar button.minus-adult-button {padding-right: 6px !important;}
}*/
@media screen and (max-width:350px) {
    .guest_inner_sec ul li span.right_bar, .guest_inner_sec ul li span.right_bar span {display: flex;}
    .guest_inner_sec ul li span.right_bar {width: auto;}
    .guest_inner_sec ul li {justify-content: space-between;}
    .guest_inner_sec ul li span.right_bar button.minus-adult-button {padding-right: 6px !important;}
    
}

@media screen and (min-width: 1700px) {
  section.how-it-started .no-pad img {width: 100%;}
  
  }

@media screen and (min-width: 1920px) {
section.how-it-started .how-it-work-text {padding: 100px 25%;}

}


.contact-country-code button.btn .filter-option-inner-inner {
    font-size: 13px;
}





