/********** responsive css start here ***********/
@media screen and (min-width:2800px) {
    section.featured-exp-listing-grid .scout-main-info {width: 95.5% !important;}
}

@media screen and (min-width:2220px) {
    .featured-exp-listing-grid .filters-left label, .featured-exp-listing-grid .single-testimonial .customer-testimonial-details .name-country a, .featured-exp-listing-grid .single-testimonial a.pink-color {font-size: 25px;}
    .featured-exp-listing-grid .filters-left h5 {font-size: 27px;}
    .featured-exp-listing-grid .col-lg-6 .col-lg-6 {flex: 0 0 33.33%;max-width: 33.33%;}
    .left-scout-img img {max-height:100px;}
    .featured-exp-listing-grid .list-view .scout-main-info .left-scout-img {flex: 0 0 8% !important;}
    .featured-exp-listing-grid .list-view .scout-main-info .right-scout-info {flex: 0 0 90% !important;}
    .featured-exp-listing-grid .scout-main-info {width: 94.5% !important;}
    }
    
    @media screen and (min-width:1700px) {
    .filters-left p input:checked + .radio-label::after {left: 2px;top: 8px;}
    .filters-left p input:checked + label::after {top: 5px;left: 4px;height: 12px;}
    .featured-exp-listing-grid .list-view .scout-main-info .left-scout-img {flex: 0 0 12%;}
    .featured-exp-listing-grid .list-view .scout-main-info .right-scout-info {flex: 0 0 86%;}
    .featured-exp-listing-grid .scout-main-info {width: 94%;}
    }
    
    @media screen and (min-width:1920px) {
    /* .featured-exp-listing-grid .container {max-width: 100%;} */
    .exp-content .booking-conditions {min-height: 85px;}
    .featured-exp-listing-grid .filter-heading h4 {font-size: 28px;}
    .featured-exp-listing-grid .filters-left h5 {font-size: 23px;}
    .featured-exp-listing-grid .filters-left label, .featured-exp-listing-grid .single-testimonial .customer-testimonial-details .name-country a, .featured-exp-listing-grid .single-testimonial a.pink-color {font-size: 22px;}
    .featured-exp-listing-grid .filters-left p label:before {position: relative;bottom: 3px;}
    .featured-exp-listing-grid .single-testimonial .customer-testimonial-details .name-country p {font-size: 20px;}
    .featured-exp-listing-grid .single-testimonial .customer-testimonial-details .name-country .rating li {font-size: 15px;}
    .featured-exp-listing-grid .single-testimonial p {font-size: 21px;line-height: 32px;}
    .featured-exp-listing-grid .sort-head .sort-by select {font-size: 20px;}
    .featured-exp-listing-grid .sort-head .sort-by label {font-size: 21px;width: 110px;}
    .featured-exp-listing-grid .exp-box .exp-content .title a {font-size: 20px;line-height: 26px;min-height: 56px;}
    .featured-exp-listing-grid .rating ul li {font-size: 18px;}
    .featured-exp-listing-grid span.price-info {font-size: 18px;}
    .featured-exp-listing-grid .booking-conditions ul li {font-size: 17px;}
    .booking-conditions ul li i.fa-percent {bottom:0;font-size: 13px;}
    .featured-exp-listing-grid .scout-img-name {font-size: 18px;}
    .featured-exp-listing-grid .exp-box .scout-img-name img {max-width: 40px;}
    .featured-exp-listing-grid .scout-box .scout-rating p {font-size: 18px;}
    
    .featured-exp-details .main-heading h3 {font-size: 40px;}
    /*.featured-exp-details .after-head-ul span.price-inner, .featured-exp-details .after-head-ul li i.text-euro {font-size: 36px;}
    .featured-exp-details .after-head-ul li span {font-size: 23px;}*/
    .featured-exp-details .after-head-ul li:first-child {margin-top: 5px;}
    .featured-exp-details .filter-heading-border h4 {font-size: 31px;}
    .featured-exp-details .filter-heading-border h4::before {height: 26px;}
    .featured-exp-details .filters-left p, .featured-exp-details .tab-reviews ul#pills-tab .nav-item {font-size: 20px;}
    .featured-exp-details .description-p {font-size: 22px;}
    .featured-exp-details .tab-reviews .tab-ratings {font-size: 17px;margin: 4px 0;}
    .featured-exp-details .filters-left p.price-inner span {font-size: 23px;}
    .featured-exp-details .filters-left.pricing-rating-box p.price-inner {font-size: 26px;}
    .featured-exp-details .chat-box h3 span {font-size: 28px;}
    .featured-exp-details .chat-box h3 {font-size: 27px;}
    .featured-exp-details .chat-box button {font-size: 23px;}
    .featured-exp-details .chat-box p {font-size: 22px;}
    .chat-box .contact-social li a {width: 45px;height: 45px;font-size: 23px;}
    
    .filters-left p input:checked + .radio-label::after {left: 2px;top: 11px;}
    .filters-left p input:checked + label::after {top: 9px;left: 4px;height: 12px;}
    }
    
    
    @media screen and (max-width: 1400px) {
    .custom-nav #main-menu ul.navbar-nav .nav-item{padding-left:12px; padding-right:12px;}
    .custom-nav #main-menu ul.navbar-nav .nav-item .btn { padding: 2px 10px;}
    .custom-nav .become-scout { font-size: 16px !important; padding:21px  10px;}
    .custom-nav .navbar-brand img {max-width: 100px;}   
    .custom-nav #main-menu ul.navbar-nav .nav-item a{font-size:14px;}
    section.how-it-started .how-it-work-text {padding: 15px 100px; color: #fff;}
    .featured-exp-listing-grid .price-div {min-height: 60px;}
    }
    
    @media screen and (max-width: 1272px) {
    .filter-heading h4 {font-size: 16px;}
    }
    
    
    @media screen and (max-width: 1199px) {
    .thumbli {height: 279px;}
    form.search-form .form-group {width: 24%;}
    .exp-box .exp-content .rating-price .rating a { font-size: 14px;}
    .custom-nav #main-menu ul.navbar-nav .nav-item { padding-left: 9px; padding-right: 9px;}
     .scout-rating {width: 100%;}
    .scout-box { flex-wrap: wrap;}
    section.how-it-started .how-it-work-text p {font-size: 14px; font-weight: 400;}
    section.how-it-started .how-it-work-text h4 {font-weight: 700; font-size: 24px; margin-bottom: 10px;}
    section.how-it-started .how-it-work-text {padding: 15px 30px; color: #fff;}
    
    .after-head-ul li {max-width: 50%;flex: 0 0 50%;-webkit-flex: 0 0 50%;-ms-flex: 0 0 50%;}
    .about-img .curly-font{left:52px;}
    .featured-exp-listing-grid .list-view .scout-rating {width: 23%;}
    
    div.price.home-page-list span#wishlist-tooltip {left: -6px;}
    footer a {font-size: 15px;}
    .exp-detail-new.experience_review_tab ul#pills-tab .nav-item .nav-link {font-size: 14px;}
    .exp-box .scout-rating {width: auto;}
    .price-div {min-height: 66px;}

    section.how-it-work .step {min-height: 337px;}
    .common-info-box a {word-wrap: break-word;padding: 0 10px;}
    }
    
    @media screen and (max-width: 1076px) {
    .featured-exp-listing-grid .list-view .scout-rating {width: 100%;margin-top: 6px;}
    .tab-reviews.exp-detail-new li {font-size:14px;}
    .tab-reviews.exp-detail-new li a {padding: 5px;}
    }
    
    @media screen and (max-width: 1024px) {
    body {padding: 0;}
    .scout-login {width: 100%;}
    .guest_inner_sec ul li input#quantity {width: 40px;}
    .navbar-expand-sm .navbar-toggler{display:block;}
    .custom-nav .collapse{display:none !important;}
    .custom-nav .show{display:block !important;}
    .custom-nav { display: block;position: relative;}
    .custom-nav .navbar-toggler {display: inline-block;}
    .custom-nav .form-inline { width: 100%; margin-top: 15px !important;}
    .custom-nav .become-scout{width:100%;}
    .custom-nav .navbar-toggler {display: inline-block; float: right; background: #ff4486; margin-top: 15px; margin-left: 15px; margin-right: 15px;}
    .custom-nav #main-menu {text-align: center; position: absolute; width: 100%;  background: #fff; right: 15px; max-width: 320px;}
    .custom-nav #main-menu ul.navbar-nav {margin-left: auto; margin-right: auto; flex-wrap: wrap;padding: 15px 0;}
    .custom-nav #main-menu ul.navbar-nav li.nav-item {display: block; width: 100%; margin: 5px;}
    
    .custom-nav #main-menu ul.navbar-nav .nav-item .btn {padding: 10px 10px;}
    .custom-nav #main-menu {text-align: center; position: absolute; width: 100%; z-index: 99999; background: #fff; right: 15px; max-width: 320px;/* box-shadow: 0px 25px 20px rgba(0,0,0,0.7); padding: 10px 0px;*/ box-shadow: 0px 15px 20px rgb(0 0 0 / 20%); border-radius: 0px 0px 6px 6px;}
    .custom-nav #main-menu ul.navbar-nav .nav-item a {font-size: 18px;}
    section.how-it-started .how-it-work-text p {font-size: 13px;   font-weight: 400; line-height: 16px;}
    
    .product-detail-section .row {width: 100%;margin: 0;}
    .featured-exp.product-detail-section {padding-top: 110px;}
    }

    @media screen and (max-width:1020px) {
    .filters-left p.price-inner span {padding-left: 0;padding-top: 0;}
    .filters-left p.price-inner {flex-wrap: wrap;justify-content: center;}
    .filters-left p.price-inner span {width: 100%;text-align: center;}
    }
    
    @media screen and (max-width: 991px) {
    section.how-it-work .step {min-height: 404px;}
    .payment-page {padding: 60px 0 60px;}
    .guest_inner_sec ul li input#quantity {width: 15px;}
    .guest_inner_sec {padding:10px;}
    .map-main-right {top:0 !important;}
    .map-main-right .right-map {margin-top: 0 !important;}
    .thumbli {height: 183px;}
    .tab-reviews.exp-detail-new li {font-size: 14px;}
    .exp-detail-new ul#pills-tab .nav-item .nav-link {justify-content: center;-webkit-justify-content: center;-ms-justify-content: center;}
    .top-tabs li a {font-size: 12px;}
    .show-more-btn {font-size: 14px;}
    .show-more-btn i {margin-left: 2px;font-size: 13px;}
    form.search-form .form-group {width: 21%;}
    .featured-exp-listing-grid .list-view .exp-box{flex-wrap:wrap;}
    .featured-exp-listing-grid .exp-box .exp-img {width: 100%;}
    .left-testimonial-box{margin-bottom:30px;}
    .newClass {position: relative;}
    .after-head-ul li {max-width: 100%;flex: 0 0 100%;-webkit-flex: 0 0 100%;-ms-flex: 0 0 100%;}
    .common-info-box {width: 32%;}
    .contact-form {flex-flow: column;}
    .contact-form .main-heading h3 br {display: none;}
    .contact-form .main-heading h3 {font-size: 28px;margin: 0;}
    .contact-form form {max-width: 100%;}
    .contact-form form input {max-width: 100%;}
    .home-banner .carousel-inner .carousel-item .carousel-caption h3 { font-size: 40px;}
    .home-banner .carousel-indicators { bottom: 21px;}
    .exp-box .exp-content .title a {font-size:13px;}
    .scouts-box{flex-wrap:wrap;}
    footer ul.quick-links li { width: 100%;}
    .map-main-right.newClass {position: relative;top: 0;}
    .map-main-right .right-map {position: relative;height: 500px;margin-top: 60px;}
    .map-main-right {position: relative;}
    .experince-list-meta span#wishlist-tooltip {left: -70px;}
    div.price.home-page-list span#wishlist-tooltip {left: -31px;}
    .exp-detail-new.experience_review_tab .rating {display: none;}
    .video-sec .video-thumb {margin-bottom: -190px;}
    .team-section {padding-top: 200px;}
    .filters-left p.price-inner span {font-size: 13px;}
    .filters-left p.price-inner {font-size: 20px;}
    .featured-exp-listing-grid + .partner {margin-top: 120px;}
    .left-testimonial-box.overflow-box-list {min-height: inherit;}
    }
    
    @media screen and (max-width: 767px) {
        .experience-detail-list span#wishlist-tooltip {top: 3px;left: auto;right: 50px;}
        .common-info-box a {flex-flow: column;word-wrap: inherit;}
        .common-info-box p {max-width: 100%;flex: 0 0 100%;-ms-flex: 0 0 100%;-webkit-flex: 0 0 100%;}
    .featured-exp-listing-grid .price-div {min-height: inherit;padding: 0 0 5px 0;}
    .how-it-started.pink-bg .col-lg-6 {flex: auto;}
    .contact-country-code button.btn {max-width: 68px;}
    section.how-it-work .step {min-height: inherit !important;}
    p.explore_inner {top: 14px;font-size: 13px;color: #495057;}
    p.explore_inner span {top: 10px;}
    .location-search-box {width: 100%;left: 0;top: 50px;right: 0;z-index: 9999;}
    #search-current-location.explore-near-by #exp-location {position: relative;top: 0;padding-top: 24px;height: 58px;}
    form.search-form .form-group {border-right:none;}
    section.how-it-work .step {height: auto !important;}
    div.price.home-page-list span#wishlist-tooltip, .price.experince-list-meta span#wishlist-tooltip {left: auto;top: 0;right: 50px;}
    span#wishlist-tooltip::after {left: auto;right: -9px;bottom: auto;transform: rotate(-90deg);-webkit-transform: rotate(-90deg);-ms-transform: rotate(-90deg);top: 13px;}
    .exp-detail-new ul#pills-tab .nav-item .nav-link .rating {display: none;}
    .thumbli {display:none;}
    .mainslideriv {max-width: 100%;}
    .chat-stick .scout-rating {max-width: 100%;}
    .sort-head .grid-list-btns .btn.btn-list {display: none;}
    .pagination_sec {bottom: -75px;}
    .map-main-right .right-map {margin-top: 75px;}
    .contact-sec-info {padding: 20px;}
    .company-info, .common-info-box {flex-flow: column;-webkit-flex-flow: column;-ms-flex-flow: column;display: block !important;}
    .common-info-box {width: 100%;margin-bottom: 10px;text-align: center;flex: inherit;}
    .common-info-box span {width: 100%;margin-right: 0;margin-bottom: 10px;}
    .top-tabs li {width: 100%;}
    .top-tabs li a {margin: 0 0 -1px 0;}
    .work-tabs .tab-content .tab-pane .d-flex {flex-flow: column;-webkit-flex-flow: column;-ms-flex-flow: column;}
    .work-tabs .tab-content ul {width: 100%;}
    .work-tabs .tab-content .tab-content {margin: 20px 0 0 0;width: 100%;min-height: inherit;padding: 10px 10px;}
    .work-tabs {padding: 0 15px;}
    .top-tabs li a {font-size: 16px;min-height: inherit;}
    .work-tabs .tab-content .tab-pane ul li a.active {border-right: 1px solid #f0f0f0;}
    .home-banner .carousel-inner .carousel-item .carousel-caption{display:block !important;}
    .home-banner .carousel-inner .carousel-item .carousel-caption h3 {font-size:30px; margin: 0px;}
    .home-banner .carousel-indicators { bottom: 0px;}
    form.search-form .form-group {width: 100%; margin:0px !important;}
    .home-banner .carousel-inner .carousel-item .carousel-caption .curly-font {font-size: 16px; margin: 0px;}
    .home-banner .carousel-inner .carousel-item .carousel-caption .banner-btn { font-size: 14px;padding: 10px 30px;}
    form.search-form{margin-top:15px; height:auto; border-radius: 6px;}
    form.search-form .form-group input, form.search-form .form-group select {border: 1px solid #eee; border-radius: 6px; background: #f6f6f6 !important;}
    form.search-form button.btn {float: none; width: 100%;}
    .custom-nav .form-inline{margin-bottom:0px !important;}
    .how-it-work .step {margin: 30px 0px;}
    .featured-exp .exp-box .exp-img img{width:100%;}
    footer .footer-social {text-align: left; padding: 0px; margin-top: 30px;}
    .filter-collapse-btn{display:block;}
    .featured-exp-listing-grid .filter-box {display: none;}
    .featured-exp-listing-grid .filter-box.show{display:block;}
    
    .scout-box { flex-wrap: unset;}
    .scout-rating {text-align: right; max-width: 40%;}
    .scout-box .scout-img-name img{max-width: 30px;}
    .scout-rating p{justify-content: flex-end;}
    .featured-exp-listing-grid .list-view .exp-box .exp-content {padding: 15px 0px 0px 15px;}
    .inner-banner h3 {font-size: 34px;}
    section.how-it-started.pink-bg .row {flex-direction: column-reverse;}
    section.how-it-started .how-it-work-text {padding: 50px 30px; color: #fff;}
    .about-text {width: 100%; padding-top: 60px;}
    .privacy-policy {padding: 20px;}
    .video-sec{background-size:cover;}
    .video-sec .video-thumb{margin-bottom:0px;}
    .team-section{padding-top:0px;}
    
    .chat-box .scout-rating p {justify-content: flex-start;}
    .scout-detail-main-sec .front-scout-detail-page {text-align:center;}
    
    footer .footer-social li:first-child {margin-left: 0;}
    .featured-exp.product-detail-section {padding-top: 50px;padding-left: 0;padding-right: 0;}
    .filters-left .dates-guests p input {text-align: center;}
    .exp-box .exp-content .title a, .price-div, .exp-content .booking-conditions {min-height: inherit;}
    }
    
    
    @media screen and (max-width: 667px) {
    .home-banner .carousel-inner .carousel-item .carousel-caption p { font-size: 14px;}
    .home-banner .carousel-inner .carousel-item .carousel-caption h3 {font-size: 20px;}
    .home-banner .carousel-inner .carousel-item .carousel-caption .curly-font {font-size: 14px;}
    .home-banner .carousel-inner .carousel-item .carousel-caption .banner-btn {font-size: 14px; padding: 5px 20px;}
    .partner ul li{margin:0px 5px;}
    footer ul.quick-links li {width: 100%;}
    }
 
@media screen and (max-width: 624px) {   
.home-partner-list .btn-success {margin-bottom: 3px !important;}
}
    @media screen and (max-width: 575px) {
    .page-headings-section .page-heading {text-align: center;}
    .page-headings-section .breadcrumb {text-align: center; justify-content: center;}
    .tab-reviews ul#pills-tab .nav-item {text-align: center;}
    .tab-reviews ul#pills-tab .nav-item .nav-link.active{border-radius: 0px;}
    .details-ul li .details-icon{margin-right: 2px !important;}
    .details-ul li{font-size: 12px;}
    .contact-form form .my-error {max-width: 100%;flex: 0 0 100%;}
    .contact-form form .submit-btn {max-width: 60%;}
    .sort-head .sort-by select {background: #afc578;  color: #fff;  font-size: inherit;  width: 125px;}
    .sort-head .sort-by label {width: 55px;}    
    .scouts-box {flex-flow: column;}
    .availability-right {margin-top: 3rem;}
    .with-wishlist h3 {font-size: 16px;}
    .after-head-ul li, .after-head-ul li i, .after-head-ul span.price-inner {font-size: 14px;}
    .home-banner .carousel-item img {width: auto;max-width: 600px;}
    .home-banner .carousel-indicators {bottom: 0;}
    form.search-form .form-group input, form.search-form .form-group select {height: 35px;font-size: 13px;}
    form.search-form button.btn {height: 40px;padding: 0px 50px;}
    .sort-head .sort-by select {width: 80%;}
    .sort-head .sort-by {justify-content: space-between;}
    }
    
    @media screen and (max-width:440px) {
    .tab-reviews.experience_review_tab ul#pills-tab .nav-item {width:100%;}
    }
    
    @media screen and (max-width: 420px) {
    .custom-nav #main-menu{right:0; left:0; max-width:100%;}
    .about-img .curly-font {bottom: 60px; left: 60px; font-size: 18px;}
    .right-scout-detail .main-heading.text-left, .language-spoken p {flex-flow: column;}
    .chat-box .scout-rating p {justify-content: center;}
    .scout-rating {max-width: 100%;}
    }
    
    @media screen and (max-width:382px) {
    .tab-reviews ul#pills-tab .nav-item {width:100%;}
    }
    @media screen and (max-width:350px) {
        
    }
    
    @media screen and (max-width:349px) {
    .scouts-box {justify-content: center;flex-flow: column;}
    .single-testimonial .customer-testimonial-details .name-country p {flex-flow: column;}

    }


    