/*********** custom css start here *******/
*{outline:none;border:none;}
a:hover{text-decoration:none;}
img{max-width: 100%;}
input:focus, select:focus{box-shadow:none;outline:none !important;}
.btn:focus{box-shadow:none;}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle{background-color:none !important;border-color: #005cbf !important;}
body{font-family: 'Barlow', sans-serif; color: #333;}
.curly-font{font-family: 'Pacifico', cursive;}
.pink-bg {background: #ff4486; color: #fff !important; border-color:#ff4486;}
.green-bg {background: #afc578; color: #fff !important; border-color:#afc578;}

.pink-color {color: #ff4486; }
.green-color {color: #afc578; }

/********* nav start here ********/
.custom-nav {background: #fff !important; padding: 0px; position:relative; z-index: 99;}

.custom-nav a.navbar-brand {padding-left: 15px;}
.custom-nav #main-menu {text-align: center;}
.custom-nav #main-menu ul.navbar-nav {margin-left: auto; margin-right: auto;}
.custom-nav #main-menu ul.navbar-nav .nav-item{padding-left:21px; padding-right:21px;}
.custom-nav #main-menu ul.navbar-nav .nav-item a {color: #000; font-size: 16px; font-weight: 400;  transition: all 0.5s ease; padding: 0px;}
.custom-nav #main-menu ul.navbar-nav .nav-item a:hover{color:#ff4486;}


.custom-nav #main-menu ul.navbar-nav .login-btn {padding: 0px 5px;}
.custom-nav #main-menu ul.navbar-nav .register-btn {padding: 0px 5px;}
.custom-nav #main-menu ul.navbar-nav .nav-item .btn {padding: 5px 20px; font-size: 14px; font-weight: 500;}
.custom-nav .become-scout {border-radius: 0px; font-size: 18px !important; font-weight: 500; padding: 20px 30px;}
.custom-nav { box-shadow: 0px 0px 10px rgba(0,0,0,0.2);}
.custom-nav #main-menu ul.navbar-nav .active a {color: #ff4486;}

/************ banner css start here **********/

.home-banner .carousel-item img {width: 100%;}
.home-banner .carousel-inner .carousel-item .slide-content{display: flex; align-items: center; justify-content: center;}
.home-banner .carousel-inner .carousel-item .carousel-caption{top:inherit !important; bottom:inherit !important;}
.home-banner .carousel-inner .carousel-item .carousel-caption .curly-font {font-size: 30px;}
.home-banner .carousel-inner .carousel-item .carousel-caption h3 {font-size: 80px;font-weight: 700;}
.home-banner .carousel-inner .carousel-item .carousel-caption p {font-size: 20px;}
.home-banner .carousel-inner .carousel-item .carousel-caption .banner-btn {font-size: 20px; padding: 15px 50px;
border-radius: 100px; box-shadow: 0px 0px 0px 4px rgba(255,255,255,0.3);}
.home-banner ol.carousel-indicators li {height: 12px; width: 12px; border-radius: 50%; opacity: 1; border:none;}
.home-banner ol.carousel-indicators li.active {background:#afc578;}
.home-banner .carousel-indicators {bottom: 49px;}

/************* form search start here *********/

form.search-form {padding: 10px; background: #fff !important; margin-top: -35px; position: relative; z-index: 99; border-radius: 80px;
    box-shadow: 0px 7px 18px rgba(0,0,0,0.4); height:80px;}
.form-control:focus{ outline:none !important; box-shadow:none !important;}
form.search-form .form-group {width: 26%; margin-bottom: 0px; display:inline-block;}
form.search-form button.btn {float: right; font-size: 20px; border-radius: 50px; padding: 10px 50px; height: 60px;}
form.search-form .form-group input, form.search-form .form-group select {border: none; height: 50px; border-right: 1px solid #eee;
border-radius: 0px; background: none !important; margin: 5px 0px;}
form.search-form .form-group select {border-right:none; border-radius: 0px;  -webkit-appearance: none;
-moz-appearance: none; appearance: none; position: relative; background:url(../images/down-arrow.png) no-repeat right 10px center !important; cursor: pointer;}
.search-form input#location {background: url(../images/loc-icon-form.png) no-repeat right 15px center ;}

/********* how it work section start here *********/
section.how-it-work {width: 100%; padding: 60px 0px 90px 0px; text-align: center;}
.main-heading {margin-bottom: 60px;}
.main-heading h5{font-size:20px;}
.main-heading h3{font-size:30px; font-weight:600; position:relative;}
.main-heading h3::after{position:absolute; left:0; right:0; margin:0 auto; content:''; width:40px; height:3px; background:#ff4486; bottom: -10px;}

section.how-it-work .step {padding: 0px;background: #f8f8f8; border: 1px solid #eee; border-radius: 8px; position: relative; padding-bottom:0px; transition: all 0.5s ease; height: 100%;}
section.how-it-work .step a {display: block;padding: 30px; padding-bottom: 60px;}
section.how-it-work .step h4 {font-size: 20px; font-weight: 600; color: #333;}
section.how-it-work .step p {font-size: 15px;color: #666; margin-bottom:0px;}
section.how-it-work .step .cloud-span {display: inline-block; background: url(../images/cloud-bg.png) no-repeat center center; width: 100px; margin-bottom: 10px;}
section.how-it-work .step span.count-num {position: absolute; width: 64px; height: 64px; left: 0; right: 0; margin: 0 auto;
background: #fff; display: flex; align-items: center; justify-content: center; border-radius: 50%; bottom: -30px; color: #ff4486;
box-shadow: 0px 10px 9px rgba(0,0,0,0.3); font-size: 20px; font-weight: 500;}
.step:hover {background: #ff4486 !important;}
.step:hover img{filter: brightness(0) invert(1);}
section.how-it-work .step:hover h4, section.how-it-work .step:hover p{color:#fff;}



/********* how it work section ends here *********/

/******** featured-exp start here ***********/
.featured-exp{width:100%; max-width:100%; padding:60px 0px; background:url(../images/lines-bg.jpg) no-repeat; background-size:cover;}
.featured-exp .exp-box .exp-img img {max-width: 100%; border-radius: 6px 6px 0px 0px;}
.exp-box {background: #fff; border-radius: 6px; box-shadow: 0px 5px 15px rgba(0,0,0,0.2); margin-bottom: 15px; margin-top: 15px;}
.exp-box .exp-content {padding: 15px;}
.exp-box .exp-content .rating-price {display: flex; align-items: center;}
.exp-box .exp-content .rating-price .rating { width: 100%;}
.rating ul{padding:0px; margin-bottom: 0px;}
.rating ul li {display: inline-block; color: #909090;}
.rating ul .filled-star {color: #ffc600;}
.rating ul .empty-star {color: #ddd;}
.exp-box .exp-content .rating-price .rating a {font-size: 16px;font-weight: 500; color: #333; margin-bottom: 8px; transition: all 0.5s ease; display: block; line-height: 20px; min-height: 40px; text-transform: uppercase;}
.exp-box .exp-content .rating-price .rating a:hover{color:#ff4486;}
.exp-box .exp-content .rating-price .price {display: flex;}
.exp-box .exp-content .rating-price .price {display: flex; min-width: 30%; text-align: justify; justify-content: flex-end;}
.exp-box .exp-content .rating-price .price .wishlist-span:hover{background:#c82333;}
.exp-box .exp-content .rating-price .price .wishlist-span {width: 36px; height: 36px; border-radius: 50%; display: flex;
align-items: center; justify-content: center; background: #ff4486; color: #fff; margin-left: 10px; transition: all 0.5s ease;}
.exp-box .exp-content .rating-price .price .price-span {font-size: 15px; color: #333333; margin-top: 6px;}
.scout-box {padding: 5px; display: flex; align-items: center; justify-content: space-between; border-radius: 4px;  transition: all 0.5s ease;}
.scout-box .scout-img-name img {max-width: 50px; border-radius: 4px; margin-right: 5px;}
.scout-box .scout-img-name .scout-name {font-size: 16px; font-weight: 500; color:#fff;}
.scout-box .scout-img-name .scout-name:hover{color:#000;}
.scout-box .scout-rating p {margin: 0px; font-size: 16px;}
.scout-box .scout-rating p i {color: #ffc600;}
.featured-exp .main-heading {margin-bottom: 60px; text-align: center;}
.booking-conditions ul {padding: 0px;}
.booking-conditions ul li {display: inline-block; margin-right: 10px; color:#666; font-size: 13px;}
.booking-conditions ul li i{color:#ff4486}
.exp-box .exp-img {max-height: 190px; overflow: hidden;}

/********** video sec start here *******/

.video-sec .main-heading h3{color:#fff;}
.video-sec .main-heading {margin-bottom: 30px;}
.video-sec {
    width: 100%;
    max-width: 100%;
    text-align: center;
    background: url(../images/video-bg.jpg);
    padding: 50px 0px 0px;
    background-repeat: no-repeat;
    position: relative;
    z-index: 9;
}
.video-thumb img {max-width: 100%;}	
.video-sec .video-thumb { display: flex; align-items: center; justify-content: center; margin-bottom: -398px; position:relative;}
.video-sec .video-thumb .video{border: 3px solid #fff;}
.video-sec button.btn {background: none; border: none; color: #afc879; position: absolute; font-size: 66px;}
.video-sec p {color: #fff; font-size: 16px;}

.playpause {    background-image: url(../images/play-btn.png);
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    margin: auto;
    background-size: contain;
    background-position: center;
}

/********** team -section start here************/
.team-section{width:100%; max-width:100%; background:url(../images/team-bg.jpg) no-repeat; padding-top: 357px; padding-bottom:60px; background-size:cover;}
.team-section .main-heading{text-align:center; margin-top:60px;}
.center.slider .slick-list.draggable {padding: 0px !important;}
.center.slider ul.slick-dots {display: none !important;}
.team-box {margin: 0px; padding:0px 10px; text-align: center;}
.team-box img {margin: 0 auto; border-radius: 50%; margin-bottom: 10px;}
.team-box h4 {font-size: 20px; font-weight: 600; color: #333;}
.team-box p {font-size: 15px; font-weight: 400; color: #666; min-height: 80px; margin-bottom:0px;}
.team-box .green-bg {border-radius: 50px;}
section.center.slider {display: flex;}
section.center.slider .slick-arrow {background: none; font-size: 29px; color: #666; outline:none;}
.team-box h4 .team-rating {font-size: 14px; color: #666;}
.team-box h4 .team-rating i{ color: #ffc600;}
.team-section .slick-slider { display: flex; align-items: center;}
.team-section .slick-slider .slick-arrow {background: none; font-size: 30px; color: #444;}

/************ scouts section start here *****************/
.scouts{width: 100%; max-width: 100%; padding: 60px 0px;}
.scouts .main-heading{text-align:center;}
.scouts-box {display: flex;align-items: center;justify-content: space-between;padding: 10px;background: #f8f8f8; margin-bottom: 30px;}
.scouts .scouts-box > img {max-width: 110px; border-radius: 50%; margin-right: 15px;}
.scouts-box .scout-text a {color: #333; font-weight: 600; font-size: 16px; margin-bottom:5px;}
.scouts-box .scout-text .rating p {font-size: 14px; line-height: 20px; margin-bottom: 5px;}
.scouts-box .scout-text .rating a:hover{color:#dc3545;}
.scouts-box .scout-text .rating a {color:#ff4486;}

/***************** testimonial section start here ************/

.testimonial-sec{width:100%; max-width:100%; padding:60px 0px; background:#f8f8f8;}
.testimonial-sec .main-heading{text-align:center;}


/***************************************************/
.testimonials{
	background-color: #f8f8f8;
	position: relative;
	padding-top: 80px;
	}


	/**.item {
			text-align: center;
			// padding: 20px;
			margin-bottom:80px;
	}





/****************************/
.testimonials{padding-bottom:60px;}
.testimonials #customers-testimonials .owl-item .draggable { padding: 0px !important;}
.testimonials #customers-testimonials .owl-item .draggable .slick-track { transform: inherit !important; width: 100% !important; margin: 0px !important;}
.testimonials #customers-testimonials .owl-item .draggable .slick-track .slick-slide { width: 100% !important;}

.owl-carousel .owl-prev {left: -70px; display:none;}
.owl-carousel .owl-next { right: -70px; display:none;}
.testimonials #customers-testimonials .owl-stage .owl-item { text-align: center;}
.testimonials #customers-testimonials .owl-stage .owl-item .item-details { background: url(../images/quote-left.png)  ,  url(../images/quote-right.png)  ; background-position:left top, bottom right; background-repeat:no-repeat; padding:10px; margin-bottom:20px;}
.testimonials #customers-testimonials .owl-stage .owl-item .item-details h5 { font-size: 20px; color: #aaa; font-weight: 600;}
.testimonials #customers-testimonials .owl-stage .owl-item .item-details p {font-size: 16px; font-style: italic; color: #aaa; line-height: 26px;}
.testimonials #customers-testimonials .owl-stage .owl-item .img-responsive { width: auto; margin: 0 auto; border-radius: 50%; border: 3px solid #aaa; width: 50px;    height: 50px;}
.testimonials #customers-testimonials .owl-stage .owl-item .testimonial-name { font-size: 16px; font-weight: 400; color: #aaa;}
.testimonials #customers-testimonials .owl-stage .owl-item .testimonial-name  .designation{ font-size: 16px; font-weight: 600; color: #999; display:block;}
.testimonials #customers-testimonials .owl-stage .center.active  .item-details { background-color: #afc578; padding: 10px; border-radius:6px; position: relative;}
.testimonials #customers-testimonials .owl-stage .center.active .item-details h5{ color:#fff;}
.testimonials #customers-testimonials .owl-stage .center.active .item-details p{ color:#fff;}
.testimonials #customers-testimonials .owl-stage .center.active .item-details:after{content: '';width: 0px;height: 0px;border-style: solid;border-width: 15px 15px 0px 15px;border-color: #afc578 transparent transparent transparent;display: inline-block;vertical-align: middle;position: absolute;bottom: -13px;left: 0;right: 0;margin: 0 auto;}
.testimonials #customers-testimonials .owl-stage .center.active .img-responsive {border-color: #afc578;}
.testimonials #customers-testimonials .owl-stage .center.active .testimonial-name {color: #666666;}
.testimonials #customers-testimonials .owl-stage .center.active .testimonial-name .designation{color: #333333;}
.testimonials .main-heading{text-align:center;}

/*************** partner start here *************/

section.partner {background: #ff4486; color: #fff; padding: 15px 0px;}
section.partner h3 { margin: 0px; padding: 16px 0px; font-size: 30px; font-weight: 700; text-transform: uppercase;}
.partner ul {margin-bottom:0px; }
.partner ul li {display: inline-block; margin: 0px 56px;}

/*********** footer start here ************/
footer{background:url(../images/footer-bg.jpg) no-repeat center top; background-size:cover; padding:30px 0px 60px 0px;}
footer .footer-social { text-align: right;}
footer .footer-social li {display: inline-block;}
footer .footer-social li { display: inline-block; margin-left: 10px;}
footer .footer-social li a{height:54px; width:54px; border-radius:50%;  background:#ff4486; display:flex; align-items:center; justify-content:center; color:#fff; transition: all 0.5s ease;}
footer .footer-social li a i{color:#fff;}
footer .footer-social li a:hover{background:#afc578;}
footer hr{width:100%; border-color:#eee;}
section.bottom-bar {width: 100%; padding: 10px 0px; text-align: center; color: #fff;  background: #afc578; font-size: 14px; font-weight: 400;}
section.bottom-bar p{margin:0px;}
footer h3 {font-size: 24px; font-weight: 700; color: #afc879; margin-bottom: 40px;}
footer ul.quick-links {padding: 0px;}
footer p{color:#666; font-size:16px;}
footer ul.quick-links li {display: inline-block; width: 49%; position: relative;   padding: 5px 0px 5px 0px;}
footer a{color:#666; font-size:16px; transition: all 0.5s ease;}
footer a:hover{color:#ff4486;}
footer i{color:#ff4486;}
footer ul.quick-links li:before {font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f105"; margin-right: 5px; color: #ff4486;}

/****************** listing page start here *************************/
.page-headings-section {width: 100%; padding-top: 60px;}
.page-headings-section .page-heading h3 { font-size: 20px; font-weight: 400;}
 .breadcrumb {padding: 0px; margin: 0px; text-align: right; justify-content: flex-end; background:none !important;}
.breadcrumb .breadcrumb-item a {color: #666;}
 .breadcrumb .breadcrumb-item.active { color: #ff4486;}
.breadcrumb-item+.breadcrumb-item::before{font-family: "Font Awesome 5 Free";   font-weight: 900;   content: "\f0da";   margin-right: 5px;    color: #ff4486;}
.inner-banner {background: url(../images/listing-banner.jpg) no-repeat; background-size: cover; text-align: center; height: 430px; display: flex; align-items: center; width:100%;}
.inner-banner h3 {font-size: 80px; font-weight: 700; color:#fff;}
.inner-banner p  {font-size: 20px; color:#ffff;}
.featured-exp-listing-grid .exp-box .exp-img img { border-radius: 6px;}
.featured-exp-listing-grid .scout-box .scout-img-name .scout-name{font-size:14px;}
.featured-exp-listing-grid .exp-box .scout-img-name img {max-width: 28px;}
.featured-exp-listing-grid { background: none;}
.exp-box .exp-content .title a { font-size: 14px; color: #333; font-weight: 500; line-height: 20px;  min-height: 45px; display: block;}
.price-div {font-size: 14px; display: flex; justify-content: space-between;     padding: 5px 0px;}
.sort-head {width: 100%; padding: 10px 15px; background: #f8f8f8; border: 1px solid #eee; border-radius: 6px;  display: flex;  align-items: center;   justify-content: space-between;}
.sort-head .sort-by {display: flex; align-items: center;}
.sort-head .sort-by label {width: 75px; font-size: 15px; color: #666; margin: 0px;}
.sort-head .sort-by select {background: #afc578; color: #fff;}
.sort-head .grid-list-btns .btn {background: none; border: none; padding: 0px; font-size: 25px; color: #333; margin-left: 10px; outline:none;}
.sort-head .grid-list-btns .btn.active {background: none; border: none; padding: 0px; font-size: 25px; color: #afc578; margin-left: 10px; ourline:none;}
.sort-head .grid-list-btns .btn:focus, .sort-head .grid-list-btns .btn:active{box-shadow:none !important; background:none !important;}
.filter-collapse-btn { background: none;  color: #afc578 !important;}
.right-map iframe {border: 4px solid #eee !important; border-radius: 4px;}
.newClass {position: fixed; top: 0;}
.price-span {font-size: 23px;font-weight: bold;}
/********** list view css **********/

.featured-exp-listing-grid .list-view .col-lg-6.col-md-6.col-sm-12 {width: 100%; max-width: 100%; flex: 100%;}
.featured-exp-listing-grid .list-view .exp-box {display: flex; align-items: center; padding:15px;}
.featured-exp-listing-grid .list-view .exp-box .exp-content{padding:0px; padding-left: 15px;}
.single-testimonial .customer-testimonial-details .coutry-flag img {border-radius: 0px; width: 12px; height: 12px;}


/******** left filers start here **********/

.filter-collapse-btn{display:none; margin-bottom:15px;}
.featured-exp-listing-grid .filter-box {display: block;}
.filter-box { width: 100%;  position: relative;}
.filter-heading {padding:15px 10px; background: #afc578; border-radius: 6px 6px 0px 0px; border: 1px solid #f0f0f0; border-bottom: none;}
.filter-heading h4 {font-size: 20px; color: #fff; margin-bottom: 0px; font-weight: 400;}
.filters-left { background: #f8f8f8; padding: 10px; border: 1px solid #f0f0f0; border-top: none; margin-bottom: 30px;}
.left-testimonial-box{ background: #f8f8f8; padding: 10px; border: 1px solid #f0f0f0; border-top: none; }
.filters-left h5 {font-size: 16px; font-weight: 600; color: #333;}
.filters-left p {display: flex; align-items: center; margin-bottom: 10px; color: #333; font-size: 15px;}
.filters-left p input { padding: 0; height: initial; width: initial; margin-bottom: 0; display: none; cursor: pointer;}
.filters-left p label {position: relative; cursor: pointer; width: 100%;}
.filters-left p label:before {content:''; -webkit-appearance: none; background-color: transparent; border: 2px solid #afc578; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05); padding: 5px; display: inline-block; position: relative; vertical-align: middle; cursor: pointer; margin-right: 5px; border-radius:2px;}
.filters-left p input:checked + label:after {content: ''; display: block; position: absolute; top: 5px; left: 6px; width: 6px; height: 14px; border: solid #afc578;
  border-width: 0 2px 2px 0; transform: rotate(45deg);}
.btn-success:focus, .btn-success:active{background:#28a745 !important; border-color:#28a745 !important;}
.single-filter button.green-bg {margin-top: 10px;padding: 6px 10px 8px;}
/********** price range css  start here ************/
.slider-labels {
  margin-top: 10px;
  margin-bottom: 15px;
}
.time-range { margin-top: 35px;}
/* Functional styling;
 * These styles are required for noUiSlider to function.
 * You don't need to change these rules to apply your design.
 */
.noUi-target,.noUi-target * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.noUi-target {
  position: relative;
  direction: ltr;
}

.noUi-base {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
/* Fix 401 */
}

.noUi-origin {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
}

.noUi-handle {
  position: relative;
  z-index: 1;
}

.noUi-stacking .noUi-handle {
/* This class is applied to the lower origin when
   its values is > 50%. */
  z-index: 10;
}

.noUi-state-tap .noUi-origin {
  -webkit-transition: left 0.3s,top .3s;
  transition: left 0.3s,top .3s;
}

.noUi-state-drag * {
  cursor: inherit !important;
}

/* Painting and performance;
 * Browsers can paint handles in their own layer.
 */
.noUi-base,.noUi-handle {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

/* Slider size and handle placement;
 */
.noUi-horizontal {
  height: 10px;
}

.noUi-horizontal .noUi-handle {
    width: 17px !important;
    height: 17px !important;
    border-radius: 50%;
    left: -7px;
    border: 3px solid #fff;
    top: -7px;
    background-color: #ff4486;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.75);
}
.pl-0{padding-left:0px;}
/* Styling;
 */
.noUi-background {
  background: #D6D7D9;
}

.noUi-connect {
    background: #345DBB;
    -webkit-transition: background 450ms;
    transition: background 450ms;
    height: 10px;
    background: #ddd;
    border: 1px solid #bbb;
    box-shadow: inset 0px 1px 3px rgba(0,0,0,0.35);
}

.noUi-origin {
  border-radius: 2px;
}

.noUi-target {
  border-radius: 2px;
}

.noUi-target.noUi-connect {
}

/* Handles and cursors;
 */
.noUi-draggable {
  cursor: w-resize;
}

.noUi-vertical .noUi-draggable {
  cursor: n-resize;
}

.noUi-handle {
  cursor: default;
  -webkit-box-sizing: content-box !important;
  -moz-box-sizing: content-box !important;
  box-sizing: content-box !important;
}

.noUi-handle:active {
  border: 8px solid #345DBB;
  border: 8px solid rgba(53,93,187,0.38);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  left: -14px;
  top: -14px;
}

/* Disabled state;
 */
[disabled].noUi-connect,[disabled] .noUi-connect {
  background: #B8B8B8;
}

[disabled].noUi-origin,[disabled] .noUi-handle {
  cursor: not-allowed;
}

/********** price range css  ends here ************/

.filters-left p label span.time { float: right; font-size: 14px; color: #ff4486;}
.filters-left p .radio-label:before {border-radius: 50%; background: #dddddd; border: 3px solid #fff;  box-shadow: 0px 0px 8px rgba(0,0,0,0.35);}
.filters-left p input:checked + .radio-label::after {border: none; width: 10px; height: 10px;  top: 8px; left: 3px;  background: #ff4486;  transform: inherit;  border-radius: 50%;}

/*********** left side-testimonials*************/
.single-testimonial .customer-testimonial-details { display: flex; align-items: center;}
.single-testimonial .customer-testimonial-details .name-country {width: 100%; margin-left:5px;}
.single-testimonial .customer-testimonial-details img {width: 32px; height: 32px; border-radius: 50%;}
.single-testimonial .customer-testimonial-details .name-country a {font-size: 14px; color: #333333; font-weight: 500;}
.single-testimonial .customer-testimonial-details .name-country p {display: flex; justify-content: space-between; font-size: 14px; color: #888; margin: 0px;}
.single-testimonial p {font-size: 14px; color: #666;  font-weight: 500;  margin: 0px;  line-height: 20px;}
.single-testimonial .customer-testimonial-details .name-country .rating li {font-size: 12px;}

/****************** experience details page start here *******************/

.main-heading.text-left h3::after {content:none;}
.after-head-ul {margin: 0 0 25px;padding: 0;list-style: none;}
.featured-exp .main-heading.text-left {margin-bottom: 10px;}
.after-head-ul li {margin-right: 10px;}
.after-head-ul li i {font-size: 21px;color: #ff4883;margin: 0 4px 0 0px;}
.after-head-ul li {margin: 15px 0 0 0;max-width: 33%;flex: 0 0 33%;-webkit-flex: 0 0 33%;-ms-flex: 0 0 33%;display: inline-flex;-webkit-display: inline-flex;-ms-display: inline-flex;align-items: center;-webkit-align-items: center;-ms-align-items: center;}
.chat-box h3 {font-size: 23px;font-weight: 600;}
.chat-box h3 span {color: #ff4486;}
.chat-box h3 i {color: #afc578;margin: 0 2px;}
.chat-box img {border-radius: 5px;margin: 10px 0 17px;}
.chat-box button {display: block;margin: 0px auto 20px;padding: 6px 30px;font-size: 19px;}
.filters-left p.price-inner {font-weight: 600;font-size: 26px;color: #ff4486;}
.filters-left p.price-inner span {font-size: 18px;padding-left: 2px;padding-top: 5px;}
.dates-guests p {font-weight: bold;font-size: 20px;border: 1px solid #ccc;padding: 10px 10px 10px 30px;border-right: none;max-width: 50%;
flex: 0 0 50%;-webkit-flex: 0 0 50%;-ms-flex: 0 0 50%;border-radius: 30px 0 0px 30px;}
.dates-guests p:last-child {border-right: 1px solid #ccc;border-radius: 0 30px 30px 0;}
.dates-guests p span {font-weight: normal;width: 100%;}
.filters-left .dates-guests p input {display: inline-block;width: 20px;background-color: transparent;-moz-appearance: textfield;appearance: textfield;-webkit-appearance: textfield;color: #333;}
.dates-guests p span .input-group-append {display: none;}
.dates-guests p span #datepicker {border: none;font-size: 20px;color: #333;}
.filter-cancel-policy {margin-top: 16px;}
.filter-cancel-policy h3 {font-size: 20px;font-weight: bold;color: #ff4486;text-decoration: underline;}
.filter-heading-border h4 {font-weight: 600;color: #afc578;position: relative;padding-left: 10px;}
.filter-heading-border h4::before {content: "";position: absolute;width: 2px;height: 20px;background-color: #afc578;display: block;left: 0;top: 5px;}
.filters-left.back-transparent {background: transparent;border: none;padding: 0;margin: 0 0 30px;}
.description-p {margin-bottom: 30px;}

.slider-detail-page {border: 4px solid #eee !important; margin-bottom: 30px;}
.details-ul {padding: 0px; list-style: none;}
.details-ul li{padding-bottom: 15px; list-style: none;}
.details-ul li .details-icon {background: #ff4486; display: inline-block;border-radius: 50%; width: 30px; height: 30px; margin-right: 10px;}
.description-p a {color: #333; transition: all 0.5s ease;}
.description-p a:hover{color: #ff4486;}
form.add-review-form {width: 100%; position: relative; padding: 15px 0px;}
form.add-review-form textarea{height: 160px; resize: none;}
.rounded-btn {border-radius: 60px; padding: 10px 30px;}
.pricing-rating-box p.price-p {font-size: 16px; font-weight: 600;}
.pricing-rating-box p.price-p span.price-span {font-weight: 400;}
.pricing-rating-box .rating-price .price {display: flex; align-items: center;}
.pricing-rating-box .rating-price .price .wishlist-span {width: 36px; height: 36px;  border-radius: 50%; display: flex; align-items: center;
justify-content: center; background: #ff4486; color: #fff; margin-left: 10px; transition: all 0.5s ease; margin: 10px 0px; margin-right: 5px;}
.pricing-rating-box .rating-price .price a {font-weight: 700; color: #333;}
.scout-rating p {color: #fff;}

.tab-reviews ul#pills-tab {margin: 0px !important;}
.tab-reviews ul#pills-tab .nav-item .nav-link{color: #afc578; border-radius: 6px 6px 0px 0px; transition: all .5s ease;}
.tab-reviews ul#pills-tab .nav-item .nav-link:hover{background: #afc578; color: #fff;}
.tab-reviews ul#pills-tab .nav-item .nav-link.active {background: #afc578; color: #fff; border-radius: 6px 6px 0px 0px; }

.modal button.close {
  right: 0;
  outline: 0;
}
.modal.show:before {
    position: absolute;
    background: rgba(0,0,0,0.8);
    content: '';
    width: 100%;
    height: 100%;
}
#gallery-lightbox{padding: 0px; margin: 0px;}
  
#gallery-lightbox img {
  object-fit: cover;
  cursor: pointer;
}

#gallery-lightbox img:hover {
  opacity: 0.9;
  transition: 0.5s ease-out;
}
/**.gallery-grid .show .modal-dialog {
    display: flex !important;
    align-items: center;
    height: 100%;
}**/
.modal-backdrop{display: none;}
div#exampleModal1 .modal-lg {margin-top: 0px; margin-bottom: 0px; padding: 30px 0px; width: auto !important; max-width: 500px;}
div#exampleModal1 .modal-lg button.close {z-index: 999; opacity: 1; background: #fff; padding: 0px !important; width: 39px; height: 39px; border-radius: 50%;
    right: -10px; top: -10px; color: #333!important; box-shadow: 0px 0px 10px rgba(0,0,0,0.5); /* font-size: 35px; */}
.show{overflow: hidden;}

div#exampleModal1 .modal-lg img{width: auto !important; max-height: 500px;}
#gallery-lightbox img {object-fit: cover;  cursor: pointer; padding: 4px 2px 0px 2px;}

div#exampleModal1 a.carousel-control-prev .carousel-control-prev-icon {background-color: rgba(255,68,134); padding: 20px; background-size: 16px;border-radius: 5px;}
div#exampleModal1 a.carousel-control-next .carousel-control-next-icon {background-color: rgba(255,68,134); padding: 20px; background-size: 16px;border-radius: 5px;}

/************** about page start here ***************/
section.about-sec {width: 100%; padding: 60px 0px; background: url(../images/about-text-bg.jpg) no-repeat left top; background-size: cover;}
.about-banner{background:url(../images/about-banner.jpg);}
.about-img .absolute-img {position: absolute; left: 0; top:0px; width: 100%; border: none !important;}
.about-img img { width: 100%; border: 3px solid #fff !important;}
.about-img {position: relative;}
.about-img .curly-font {position: absolute; bottom: 80px; left: 80px; font-size: 34px; color: #fff;}
section.about-sec .about-text .main-heading h3::after{left:0; right: inherit;}
section.about-sec ol.breadcrumb {padding: 30px 0px;}
.no-pad{padding: 0px;}
section.how-it-started { width: 100%;}
section.how-it-started .how-it-work-text {padding: 100px; color: #fff;}
section.how-it-started .how-it-work-text h4 {font-weight: 700; font-size: 36px; margin-bottom: 30px;}
section.how-it-started .how-it-work-text p {font-size: 18px; font-weight: 400;}

/************** blog-page start here ****************/
.blog-banner{background:url(../images/blog-banner.jpg);}
section.blog-sec ol.breadcrumb {padding: 0px 0px 60px 0px;}
section.blog-sec {width: 100%; padding: 60px 0px;}
.single-blog {padding: 20px; box-shadow: 0px 0px 30px 10px rgba(0,0,0,0.1); margin-bottom: 30px; border-radius:6px;}
.single-blog > img {width: 100%; border-radius:6px;}
.single-blog .blog-content .date-admin ul li {display: inline-block; margin-right: 20px;}
.single-blog .blog-content .date-admin ul {padding: 15px 0px; margin: 0px;}
.single-blog .blog-content .blog-text h4 {font-size: 30px;}
.right-search-box input[type="texe"] {width: 100%; background: #fff; border-radius: 6px;  padding: 12px 15px; height: 50px;}
.right-search-box button.btn { height: 50px; width: 50px;}
.right-search-box { width: 100%; display: flex; justify-content: space-between; background: #fff; border-radius: 6px; margin-bottom: 30px; box-shadow: 0px 0px 30px 10px rgba(0,0,0,0.1); /* border: 1px solid #fff; */}
.single-blog .blog-content .date-admin ul li a{transition: all 5s ease;}
single-blog .blog-content .date-admin ul li a:hover{color: #dc3545;}
.blog-categories h3 {font-size: 30px;}
.blog-categories ul {padding: 0px; list-style: none;}
.blog-categories ul li {padding: 5px 0px; margin-bottom: 5px; border-bottom: 1px solid #eee;}
.blog-categories ul li:last-child{border-bottom: none;}
.blog-categories ul li a {font-size: 14px; font-weight: 500; position: relative; padding-left:0px; transition: all .5s ease;}
.blog-categories ul li a:before{font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f105";margin-right: 5px; color: #afc578;}
.blog-categories ul li a:hover{color:#218838;}
.blog-categories {width: 100%; margin-bottom: 30px;}
.popular-blog {width: 100%; position: relative;}
.popular-blog .single-popular-blog img{max-width: 80px;}
.popular-blog .single-popular-blog {width: 100%; display: flex; margin-bottom: 10px;  align-items: center;
    padding-bottom: 10px; border-bottom: 1px solid #eee;}
.popular-blog .single-popular-blog:last-child{border-bottom: none;}
.popular-blog h3 {margin-bottom: 20px;}
.popular-blog .single-popular-blog .popular-post-text {padding-left: 15px;}
.popular-blog .single-popular-blog .popular-post-text a {display: block; font-size: 18px; line-height: 22px; color: #333; transition: all .5s ease;}
.popular-blog .single-popular-blog .popular-post-text a:hover{color:#ff4486;}
.popular-blog .single-popular-blog img {max-width: 80px; border: 4px solid #eee; border-radius: 2px;}


/*********** blog details start here **********/

blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 17.5px;
    border-left: 15px solid #afc578;
    position: relative;
}



/*****HOW WORK CSS STARTS HERE*****/
.how-work {padding: 50px 0;background: url(../images/about-text-bg.jpg) no-repeat left top;background-size:cover;}
.top-tabs {border: none;}
.top-tabs li {width: 20%;}
.work-tabs {width: 100%;}
.top-tabs li a {display: block;color: #333;padding: 20px 0;text-align: center;text-transform: uppercase;background-color: #f7f7f7;	border: 1px solid #f0f0f0;margin: 0 0 0 -1px;position:relative;font-size: 16px;}
.top-tabs li a span img {max-width: 21px;filter: grayscale(100%);-webkit-filter: grayscale(100%);-ms-filter: grayscale(100%);}
.top-tabs li a span {display: inline-block;text-align: center;margin-bottom: 0px;margin-right: 2px;}
.top-tabs li a.active {background-color: #fff;}
.top-tabs li a.active span img {filter: inherit;}
.work-tabs .tab-content {padding: 20px;border: 1px solid #f0f0f0;margin: -1px 0 0 0;box-shadow: 0px 0px 10px #eee;-webkit-box-shadow: 0px 0px 10px #eee;-ms-box-shadow: 0px 0px 10px #eee;background-color:#fff;}
.work-tabs .tab-content ul li {width: 100%;}
.work-tabs .tab-content ul {width: 45%;}
.work-tabs .tab-content ul li a {text-align: left;text-transform: inherit;padding: 10px;border: 1px solid #f0f0f0cc;margin: -1px 0 0 0;font-size: 15px;min-height: inherit;}
.work-tabs .tab-content ul li a::before {font-family: "Font Awesome 5 Free";font-weight: 900;content: "\f105";margin-right: 5px;color: #afc578;}
.work-tabs .tab-content ul {margin: 1px 0 0 0;}
.work-tabs .tab-content .tab-content {padding: 12px 30px;border: 1px solid #f3f3f3;margin: 0 0 0 -1px;width: 72%;min-height: 250px;background-color: #fff;}
.work-tabs .tab-content .tab-pane ul li a.active {border-right: none;}
.work-tabs .tab-content .tab-content h3 {color: #afc578;font-size: 23px;padding-left: 8px;position: relative;}
.work-tabs .tab-content .tab-content h3::before {content: "";position: absolute;left: 0;top: 7px;height: 16px;background-color: #afc578;width: 2px;}
.work-tabs .tab-content .tab-content p a {color: #ff4d8c;}
.work-list {margin: 0;padding: 0;list-style: none;}
.work-list li {line-height: 30px;position: relative;}
.how-it-started .bg-grey {background-color: #f9f9f9;}
.top-tabs li a span img.exp-icon-img {max-width: 31px;}
.work-list li::before {font-family: "Font Awesome 5 Free";font-weight: 900;content: "\f105";margin-right: 5px;color: #afc578;}
.need-change-img img {border-radius: 5px;}
.need-change-text {padding: 0 25px;}
/* .top-tabs li a.active::before {content: "";position: absolute;border-left: 10px solid transparent;border-right: 10px solid transparent;border-top: 10px solid #fff;bottom: -10px;left: 0;right: 0;width: 0;margin: 0 auto;} */
/*****HOW WORK CSS ENDS HERE*****/




/****CONTACT PAGE CSS STARTS HERE*****/
.contact-sec-info {padding: 100px 0;}
.company-info {width: 100%;}
.common-info-box {width: 30%;background-color: #fff;border: 1px solid rgb(236,238,239);padding: 20px 0px;display: flex;-webkit-display: flex;-ms-display: flex;align-items: center;-webkit-align-items: center;-ms-align-items: center;justify-content: center;-webkit-justify-content: center;-ms-justify-content: center;}
.common-info-box p {max-width: 50%;flex:0 0 50%;-ms-flex:0 0 50%;-webkit-flex:0 0 50%;margin: 0;font-weight: 600;color: #959595;line-height: 21px;}
.common-info-box p b {display: block;font-weight: normal;color: #000;}
.common-info-box span {max-width: 50px;flex: 0 0 50px;-webkit-flex: 0 0 50px;-ms-flex: 0 0 50px;background-color: #afc578;height: 50px;border-radius: 50%;text-align: center;line-height: 50px;color: #fff;font-size: 20px;margin-right: 10px;}
.common-info-box.phone-no span {background-color: #ff4486;}
.common-info-box a {color: #959595;}
.contact-form {padding: 80px 0 0 0;}
.contact-form .main-heading h3 {font-size: 43px;line-height: 42px;margin: 15px 0 0 0;}
.contact-form .main-heading h3::after {right: auto;width: 60px;}
.contact-social {margin: 35px 0 0 0;padding: 0;list-style: none;display: flex;-webkit-display: flex;-ms-display: flex;align-items: center;-webkit-align-items: center;-ms-align-items: center;}
.contact-social li a {height: 54px;width: 54px;border-radius: 50%;background: #ececec;display: flex;align-items: center;justify-content: center;	color: #959595;transition: all 0.5s ease;font-size: 22px;margin-right: 10px;}
.contact-social li a:hover { background: #ff4486; color: #fff;}
.contact-form form {max-width: 60%;display: flex;flex-wrap: wrap;justify-content: space-between;align-items: center;}
.contact-form form input {background-color: #ECEEEF;max-width: 49%;height: 64px;padding: 0 12px;flex: 0 0 49%;color: #000;font-size: 16px;margin: 0 0 11px 0;}
.contact-form form textarea {max-width: 100%;flex: 0 0 100%;background-color: #ECEEEF;padding: 10px; height: 150px; resize: none;}
.contact-form form input[type="button"] {margin-top: 8px;background-color: #afc578;color: #fff;text-transform: uppercase;font-size: 19px;max-width: 30%;}
/****CONTACT PAGE CSS ENDS HERE*****/



/****PRIVACY POLICY CSS STARTS HERE*****/
.privacy-policy {padding: 100px 0;}
.privacy-policy h3 {font-weight: 500;color: #afc578;position: relative;padding-left: 10px;font-size: 23px;display: block;width: 100%;margin-top: 20px;}
.privacy-policy h3::before {content: "";position: absolute;width: 2px;height: 20px;background-color: #afc578;display: block;left: 0;top: 5px;}
.privacy-policy p, .privacy-policy span {width: 100%;}
.privacy-policy a {color: #ff4486;}
/****PRIVACY POLICY CSS ENDS HERE*****/

/*********** login page start here **************/

.login-register-section {
    color: #000;
    overflow-x: hidden;
    height: 100%;
    background: #ff4486;
    background-repeat: no-repeat;
	position:relative;
	background:url(../images/login-register-bg.jpg) no-repeat; background-size:cover;
}
.login-register-section:before {background: rgba(255,68,134,0.85); content: ''; width: 100%; height: 100%;position: absolute;}
  
.login-register-section input,
.login-register-section textarea {
    border-radius: 50px !important;
    padding: 12px 15px 12px 15px !important;
    width: 100%;
    box-sizing: border-box;
    border: none !important;
    border: 1px solid #F3E5F5 !important;
    font-size: 16px !important;
    color: #000 !important;
    font-weight: 400
}

.login-register-section input:focus,
.login-register-section textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #ff4486 !important;
    outline-width: 0;
    font-weight: 400
}

.login-register-section button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0
}

.login-register-section .card {
    border-radius: 0;
    border: none
}

.login-register-section .card1 {
    width: 50%;
    padding: 40px 30px 10px 30px
}

.login-register-section .card2 {
    width: 50%;
    background:#afc578;
}


.login-register-section .heading { margin-bottom: 30px !important; font-size: 24px;}
.login-register-section .card2 h3.text-white { font-size: 36px;}
.login-register-section .card2 small.text-white { font-size: 18px;}
.login-register-section ::placeholder {
    color: #000 !important;
    opacity: 1
}

.login-register-section :-ms-input-placeholder {
    color: #000 !important
}

.login-register-section ::-ms-input-placeholder {
    color: #000 !important
}

.login-register-section .form-control-label {
    font-size: 12px;
    margin-left: 15px
}

.login-register-section .msg-info {
    padding-left: 15px;
    margin-bottom: 30px
}

.login-register-section .btn-color {
    border-radius: 50px;
    color: #fff;
    background:#afc578;
    padding: 15px;
    cursor: pointer;
    border: none !important;
    margin-top: 40px;
	text-transform:uppercase;
	font-size:20px;
}

.login-register-section .btn-color:hover {
    color: #fff;
    background:#ff4486;
}

.login-register-section .btn-white {
    border-radius: 50px;
    color: #ff4486;
    background-color: #fff;
    padding: 8px 40px;
    cursor: pointer;
    border: 2px solid #ff4486 !important
}

.login-register-section .btn-white:hover {
    color: #fff;
    background:#ff4486;
}



.login-register-section .bottom {
    width: 100%;
    margin-top: 50px !important
}

.login-register-section .sm-text {
    font-size: 15px
}

@media screen and (max-width: 992px) {
  .login-register-section  .card1 {
        width: 100%;
        padding: 40px 30px 10px 30px
    }

   .login-register-section .card2 {
        width: 100%
    }

   .login-register-section .right {
        margin-top: 100px !important;
        margin-bottom: 100px !important
    }
}

@media screen and (max-width: 768px) {
   .login-register-section .container {
        padding: 10px !important
    }

   .login-register-section .card2 {
        padding: 50px
    }

   .login-register-section .right {
        margin-top: 50px !important;
        margin-bottom: 50px !important
    }
}



