/********** responsive css start here ***********/
@media screen and (max-width: 1400px) {
	.custom-nav #main-menu ul.navbar-nav .nav-item{padding-left:12px; padding-right:12px;}
	.custom-nav #main-menu ul.navbar-nav .nav-item .btn { padding: 2px 10px;}
	.custom-nav .become-scout { font-size: 16px !important; padding:21px  10px;}
.custom-nav .navbar-brand img {max-width: 100px;}	
.custom-nav #main-menu ul.navbar-nav .nav-item a{font-size:14px;}
section.how-it-started .how-it-work-text {padding: 15px 100px; color: #fff;}
}


@media screen and (max-width: 1199px) {
form.search-form .form-group {width: 24%;}
.exp-box .exp-content .rating-price .rating a { font-size: 14px;}
.custom-nav #main-menu ul.navbar-nav .nav-item { padding-left: 9px; padding-right: 9px;}
 .scout-rating {width: 100%;}
.scout-box { flex-wrap: wrap;}
section.how-it-started .how-it-work-text p {font-size: 14px; font-weight: 400;}
section.how-it-started .how-it-work-text h4 {font-weight: 700; font-size: 24px; margin-bottom: 10px;}
section.how-it-started .how-it-work-text {padding: 15px 30px; color: #fff;}

.after-head-ul li {max-width: 50%;flex: 0 0 50%;-webkit-flex: 0 0 50%;-ms-flex: 0 0 50%;}
.about-img .curly-font{left:52px;}

}

@media screen and (max-width: 1024px) {
	
	.navbar-expand-sm .navbar-toggler{display:block;}
	.custom-nav .collapse{display:none !important;}
	.custom-nav .show{display:block !important;}
	.custom-nav { display: block; z-index: 999;}
	.custom-nav .navbar-toggler {display: inline-block;}
	.custom-nav .form-inline { width: 100%; margin-top: 15px !important;}
	.custom-nav .become-scout{width:100%;}
	.custom-nav .navbar-toggler {display: inline-block; float: right; background: #ff4486; margin-top: 15px; margin-left: 15px; margin-right: 15px;}
	.custom-nav #main-menu {text-align: center; position: absolute; width: 100%;  background: #fff; right: 15px; max-width: 320px;}
	.custom-nav #main-menu ul.navbar-nav {margin-left: auto; margin-right: auto; flex-wrap: wrap;}
	.custom-nav #main-menu ul.navbar-nav li.nav-item {display: block; width: 100%; margin: 5px;}

	.custom-nav #main-menu ul.navbar-nav .nav-item .btn {padding: 10px 10px;}
	.custom-nav #main-menu {text-align: center; position: absolute; width: 100%; z-index: 99999; background: #fff; right: 15px; max-width: 320px; box-shadow: 0px 25px 20px rgba(0,0,0,0.7); padding: 10px 0px; border-radius: 0px 0px 6px 6px;}
	.custom-nav #main-menu ul.navbar-nav .nav-item a {font-size: 18px;}
	section.how-it-started .how-it-work-text p {font-size: 13px;   font-weight: 400; line-height: 16px;}
	
	.product-detail-section .row {width: 100%;margin: 0;}
	.featured-exp.product-detail-section {padding-top: 110px;}

	
}

@media screen and (max-width: 991px) {
	.top-tabs li a {font-size: 12px;}
	form.search-form .form-group {width: 21%;}
	.featured-exp-listing-grid .list-view .exp-box{flex-wrap:wrap;}
	.featured-exp-listing-grid .exp-box .exp-img {width: 100%;}
	.left-testimonial-box{margin-bottom:30px;}
	.newClass {position: relative;}
	.after-head-ul li {max-width: 100%;flex: 0 0 100%;-webkit-flex: 0 0 100%;-ms-flex: 0 0 100%;}
	.common-info-box {width: 32%;}
	.contact-form {flex-flow: column;}
	.contact-form .main-heading h3 br {display: none;}
	.contact-form .main-heading h3 {font-size: 28px;margin: 0;}
	.contact-form form {max-width: 100%;}
	.contact-form form input {max-width: 49.5%;flex: 0 0 49.5%;}
	.home-banner .carousel-inner .carousel-item .carousel-caption h3 { font-size: 40px;}
	.home-banner .carousel-indicators { bottom: 21px;}
	.exp-box .exp-content .title a {font-size:13px;}
	.scouts-box{flex-wrap:wrap;}
	footer ul.quick-links li { width: 100%;}
	
	}
	@media screen and (max-width: 767px) {
.contact-sec-info {padding: 20px;}
.company-info, .common-info-box {flex-flow: column;-webkit-flex-flow: column;-ms-flex-flow: column;}
.common-info-box {width: 100%;margin-bottom: 10px;text-align: center;}
.common-info-box span {width: 100%;margin-right: 0;margin-bottom: 10px;}
.top-tabs li {width: 100%;}
.top-tabs li a {margin: 0 0 -1px 0;}
.work-tabs .tab-content .tab-pane .d-flex {flex-flow: column;-webkit-flex-flow: column;-ms-flex-flow: column;}
.work-tabs .tab-content ul {width: 100%;}
.work-tabs .tab-content .tab-content {margin: 20px 0 0 0;width: 100%;min-height: inherit;padding: 10px 10px;}
.work-tabs {padding: 0 15px;}
.top-tabs li a {font-size: 16px;min-height: inherit;}
.work-tabs .tab-content .tab-pane ul li a.active {border-right: 1px solid #f0f0f0;}
.home-banner .carousel-inner .carousel-item .carousel-caption{display:block !important;}
.home-banner .carousel-inner .carousel-item .carousel-caption h3 {font-size:30px; margin: 0px;}
.home-banner .carousel-indicators { bottom: 0px;}
form.search-form .form-group {width: 100%; margin:0px !important;}
.home-banner .carousel-inner .carousel-item .carousel-caption .curly-font {font-size: 16px; margin: 0px;}
.home-banner .carousel-inner .carousel-item .carousel-caption .banner-btn { font-size: 14px;padding: 10px 30px;}
form.search-form{margin-top:15px; height:auto; border-radius: 6px;}
form.search-form .form-group input, form.search-form .form-group select {border: 1px solid #eee; border-radius: 6px; background: #f6f6f6 !important;}
form.search-form button.btn {float: none; width: 100%;}
.custom-nav .form-inline{margin-bottom:0px !important;}
.how-it-work .step {margin: 30px 0px;}
.featured-exp .exp-box .exp-img img{width:100%;}
footer .footer-social {text-align: left; padding: 0px; margin-top: 30px;}
.filter-collapse-btn{display:block;}
.featured-exp-listing-grid .filter-box {display: none;}
.featured-exp-listing-grid .filter-box.show{display:block;}

.scout-box { flex-wrap: unset;}
.scout-rating {text-align: right; max-width: 40%;}
.scout-box .scout-img-name img{max-width: 30px;}
.scout-rating p{justify-content: flex-end;}
.featured-exp-listing-grid .list-view .exp-box .exp-content {padding: 15px 0px 0px;}
.inner-banner h3 {font-size: 34px;}
section.how-it-started.pink-bg .row {flex-direction: column-reverse;}
section.how-it-started .how-it-work-text {padding: 50px 30px; color: #fff;}
.about-text {width: 100%; padding-top: 60px;}
.privacy-policy {padding: 20px;}
.video-sec{background-size:cover;}
.video-sec .video-thumb{margin-bottom:0px;}
.team-section{padding-top:0px;}

}


	@media screen and (max-width: 667px) {
		
		.home-banner .carousel-inner .carousel-item .carousel-caption p { font-size: 14px;}
		.home-banner .carousel-inner .carousel-item .carousel-caption h3 {font-size: 20px;}
		.home-banner .carousel-inner .carousel-item .carousel-caption .curly-font {font-size: 14px;}
		.home-banner .carousel-inner .carousel-item .carousel-caption .banner-btn {font-size: 14px; padding: 5px 20px;}
		.partner ul li{margin:0px 5px;}
		footer ul.quick-links li {width: 100%;}

		
		
		
	}

		@media screen and (max-width: 575px) {
			
			.page-headings-section .page-heading {text-align: center;}
			.page-headings-section .breadcrumb {text-align: center; justify-content: center;}
			.tab-reviews ul#pills-tab .nav-item {width: 100%; text-align: center;}
			.tab-reviews ul#pills-tab .nav-item .nav-link.active{border-radius: 0px;}
			.details-ul li .details-icon{margin-right: 2px !important;}
			.details-ul li{font-size: 12px;}
			.contact-form form input {max-width: 100%;flex: 0 0 100%;}
			.contact-form form input[type="button"] {max-width: 60%;}
			.sort-head .sort-by select {background: #afc578;  color: #fff;  font-size: inherit;  width: 125px;}
			.sort-head .sort-by label {width: 55px;}	
			
		}
		@media screen and (max-width: 420px) {
	.home-banner .carousel-indicators {bottom: -15px;}
	.custom-nav #main-menu{right:0; left:0; max-width:100%;}
			.about-img .curly-font {bottom: 60px; left: 60px; font-size: 18px;}

		}

